@{
    ViewData["Title"] = "Debenture Master";
    ViewBag.ShowSearch = true;
    ViewBag.ShowClear = true;
}
@section HeaderBlock {
    <h4 name="company_name"></h4>
}
<div class="row m-auto">
    <div class="card">
        <div class="card-header d-flex justify-content-between mb-3">
            <h3 class="card-title mb-0 fs-4" style="margin-top:1px">@ViewBag.ctrl Holder</h3>
@*             <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                <li class="nav-item">
                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="Equity" data-bs-toggle="tab">
                        <span class="ms-1">Equity</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="Preference" data-bs-toggle="tab">
                        <span class="ms-1">Preference</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="Any Other" data-bs-toggle="tab">
                        <span class="ms-1">Any Other</span>
                    </a>
                </li>
            </ul>
 *@         <button class="btn btn-sm btn-outline-primary" onclick="add()"><i class="fa fa-plus px-2 fs-6"></i>Add</button>
        </div>
        <div class="card-body">
            <table id="tbl" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Sr No</th>
                        <th>Debenture Holder's Name</th>
                        <th>Type</th>
                        <th>Category</th>
                        <th>Sub Category</th>
                        <th>Under Sub Category</th>
                        @* <th>Status</th> *@
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            loadTbl()
        });
        function loadTbl() {
            $('#tbl').DataTable().destroy()
            d = $('#tbl').DataTable({
                ajax: {
                    url: `@R.ApiUrl/@ViewBag.ctrl/List`,
                    data: function (d) {
                        d.type = $('[role="tablist"]').find('.active').attr('role');
                        d.companyId= localStorage.getItem("comp_id");
                        return d;
                    },
                    dataSrc: ""
                },
                columns: [
                    {
                        "targets": 0,
                        "render": function (data, type, row, meta) {
                            return meta.row + 1;
                        }
                    },
                    {
                        render: (a, b, c) => `${c.firstName} ${c.middleName} ${c.lastName}`
                    },
                    { data: 'type' },
                    { data: 'category' },
                    { data: 'subCategory' },
                    { data: 'underSubCategory' },
                    // {
                    //     data: 'isActive',
                    //     render: (a, b, c) => `
                    //                                  <input type="checkbox" data-toggle="toggle" data-on="Active" data-size="sm" data-id="${c.id}" data-off="Inactive" ${a ? 'checked' : ''} onchange="changeActive(${c.id}, ${a})" data-onstyle="success" data-offstyle="danger">
                    //                     `
                    // },
                    {
                        data: null,
                        render: function (a, b, c) {
                            var btn1 = `
                                               <div class="d-flex justify-content-center">
                                        <a onclick="view(${a.id})" class="mx-2" style="color: blue; cursor: pointer;" title="View Debenture">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <a onclick="edit(${a.id})" class="mx-2" style="color: green; cursor: pointer;" title="Edit Debenture">
                                            <i class="fa fa-pencil-alt"></i>
                                        </a>
                                        <a onclick="del(${a.id})" class="mx-2" style="color: red; cursor: pointer;" title="Delete Debenture">
                                            <i class="fa fa-trash-alt"></i>
                                        </a>
                                    </div>`;
                            return btn1

                        }, orderable: false
                    },
                ],
                order: [],
            }).on('draw.dt', function () {
                $('.dataTables_length').parent().removeClass('d-flex').removeClass('justify-content-between').addClass('d-flex').addClass('justify-content-between')
                $('input[data-toggle="toggle"]:not(\'.initialized\')').bootstrapToggle().addClass('initialized');
            });
        }

        $('[role="tablist"] .nav-link').on('click', function () {
            $('#tbl').DataTable().ajax.reload();
        })
        function changeActive(id, currentStatus, desiredStatus) {
            $.get(`@R.ApiUrl/@ViewBag.ctrl/${id}/Status/${!currentStatus}`).then(r => {
                toastr[r.status ? 'success' : 'error'](r.message);
                $('#tbl').DataTable().ajax.reload()

            })
        }
        function del(id) {
            if (!confirm('Are you sure you want to delete this @ViewBag.ctrl')) return;
            $.get(`@R.ApiUrl/@ViewBag.ctrl/${id}/delete`).then(r => {
                toastr[r.status ? 'success' : 'error'](r.message);
                $('#tbl').DataTable().ajax.reload()
            })
        }
        const dinPattern = /^\d{8}$/;
        function add() {
            window.location = `@Url.Action("Debenture", "Home")/Add`;
            return
            swal.fire({
                icon: 'info',
                title: 'Add new Director / KMP',
                text: 'Enter your Director Identification Number (DIN), or proceed manually',
                input: 'text',
                inputPlaceholder: 'DIN',
                confirmButtonText: 'Proceed',
                customClass: {
                    confirmButton: 'btn btn-outline-primary'
                },
                preConfirm: function (txt) {
                    return (txt === '' || dinPattern.test(txt)) ? txt : false;
                }
            }).then(r => {
                if (r.value == "") {
                    window.location = `@Url.Action("Debenture", "Home")/Add`;
                    return;
                }
                if (r.value) {
                    swal.fire('Fetching details...');
                    swal.showLoading();
                    createDirector(r.value)
                }
            })
        }

        function edit(id) {
            window.location = `@Url.Action("Debenture", "home")/Edit/${id}`
        }
        // function createDirector(din) {
        //     $._get(`@R.ApiUrl/@ViewBag.ctrl/Create/` + din).then(x => {
        //         if (x.status) {
        //             window.location = `@Url.Action("Debenture", "Home")/Add/${x.responseObject}`
        //         } else {
        //             swal.fire({
        //                 icon: 'error',
        //                 title: 'Error',
        //                 text: x.message
        //             })
        //         }
        //     })
        // }

    </script>
}