@{
    ViewData["Title"] = @ViewBag.ctrl;
}
<div class="row">
    <div class="card">
        <div class="card-header d-flex justify-content-between mb-3">
            <h3 class="card-title mb-0 fs-4" style="margin-top:1px">Agendas</h3>
            <div></div>
        </div>
        <div class="card-body">
            <table id="tbl" class="display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Sr.No </th>
                        <th>Agenda</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
                      var data = [
            { id: 1, title: "To cancel the existing {share} certificate and issue renewed {share} certificate" },
            { id: 2, title: "To recommend reappointment of {Name of Director} as {Managing Director-Whole Time Director} of the Company" },
            { id: 3, title: "To reappoint {Name of Director} as {Managing Director-Whole Time Director} of the Company" },
            { id: 4, title: "To approve the alteration of the article of association of the company" },
            { id: 5, title: "To take a note of Director's Non-disqualification u/s 164" },
            { id: 6, title: "To discuss and consider the appointment of company law consultants for the company" },
            { id: 7, title: "To discuss and consider the appointment of {Name of Company Secretary, Membership No.} as company secretary of the company" },
            { id: 8, title: "To authorize the board to borrow money under section 179(3)(d) subject to the limit under section 180" },
            { id: 9, title: "To take a note of Disclosure of Interest pursuant to the provision of Section 184 of the Companies Act, 2013" },
            { id: 10, title: "To consider and approve the draft accounts of the company for the {Financial Year}" },
            { id: 11, title: "To Authorize {Director} for Preparation of Annual return" },
            { id: 12, title: "To authorize {Director} for preparation of Board's Report" },
            { id: 13, title: "To Adopt the Secretarial Standard" },
            { id: 14, title: "To authorise for migration to GST" },
            { id: 15, title: "To Appoint {Name of Director} as an Additional Director" },
            { id: 16, title: "To Authorize for recording of proceedings of Meetings" },
            { id: 17, title: "To alter the share capital clause of the Memorandum of Association of the company" },
            { id: 18, title: "To Appoint {Cost Auditor}" },
            { id: 19, title: "To Adopt Fair Practice code laid by RBI" },
            { id: 20, title: "To Adopt new set of Memorandum of Association of Company" },
            { id: 21, title: "To Confirm the non-acceptance of deposits" },
            { id: 22, title: "To consider and approve appointment of {internal auditor} of the company" },
            { id: 23, title: "To shift the registered office of the company within local limits" },
            { id: 24, title: "To avail Corporate Internet banking" },
            { id: 25, title: "To appoint the First {Auditor} of the Company" },
            { id: 26, title: "To declare an Interim Dividend" },
            { id: 27, title: "To authorise for Closing of Bank Account" },
            { id: 28, title: "To recommend appointment of {Name of Director} as {Managing Director-Whole Time Director} of the Company" },
            { id: 29, title: "To consider and approve Allotment of Equity shares on right issue basis" },
            { id: 30, title: "To discuss and authorize a {director} for filing of various e-forms with the Ministry of Corporate Affairs" },
            { id: 31, title: "To appoint {director} of the company subject to the approval of members in General Meeting" },
            { id: 32, title: "To authorize the {director} to sign and submit tender application on behalf of the company" },
            { id: 33, title: "To approve convening of Annual General Meeting of the company and to approve draft notice thereof" },
            { id: 34, title: "To consider and approve the draft board's report of the company for the financial year {Financial Year}" },
            { id: 35, title: "To consider and approve the draft annual return of the company for the {Financial Year}" },
            { id: 36, title: "To approve the audited financial statements for the year ended {Financial Year End Date}" },
            { id: 37, title: "To consider and approve availing of Vehicle loan" },
            { id: 38, title: "To Constitute a Management Committee" },
            { id: 39, title: "To approve transfer of {shares}" },
            { id: 40, title: "To take note of Cessation of {Name of Resigning Director}, from the post of {Designation of Resigning Director} of the Company" },
            { id: 41, title: "To approve the draft notice of Extra Ordinary General Meeting" },
            { id: 42, title: "To Authorize {Director} for safe custody of minutes" },
            { id: 43, title: "To authorize {Director} for various purpose" },
            { id: 44, title: "To authorize a {Director} to certify the signed minutes" },
            { id: 45, title: "To approve the offer and further issue of shares on right basis." },
            { id: 46, title: "To propose appointment of {Name of Director} as {Designation}" },
            { id: 47, title: "To approve the Draft Consolidated Accounts of the Company for the year ended {Financial Year End Date}" },
            { id: 48, title: "To avail unsecured loan from {Director}s" },
            { id: 49, title: "To delegate power to the {Director} under section 179 of the Companies Act, 2013" },
            { id: 50, title: "To Adopt memorandum and Article of Association of the company" },
            { id: 51, title: "To take note of Certificate of Incorporation" },
            { id: 52, title: "To take note of the Situation of the Registered office" },
            { id: 53, title: "To note the First {Director}s of the company" },
            { id: 54, title: "To authorize printing of {Share} Certificates and correspondence with depositories, if any" },
            { id: 55, title: "To authorize the issuance of {share} certificates to the subscribers to the Memorandum and Article of Association" },
            { id: 56, title: "To approve and reimburse Preliminary expenses to the promoter of the company" },
            { id: 57, title: "To inform the Board about the duties of the {Director}" },
            { id: 58, title: "To Print new stationery and painting of new name plates as per Section 12 (C) of Companies Act, 2013" },
            { id: 59, title: "To open Bank Account for the Company" },
            { id: 60, title: "To Appoint a person as an officer in default" },
            { id: 61, title: "To obtain electricity connection" },
            { id: 62, title: "To take property on rent" },
            { id: 63, title: "To grant loan or give guarantee and provide security provided in Section 185 of the Companies Act, 2013" },
            { id: 64, title: "To Accept fixed deposit from members of the company" },
            { id: 65, title: "To Adopt the new set of articles of association" },
            { id: 66, title: "To approve Transmission of {Shares}" },
            { id: 67, title: "To approve the withdrawal of consent by the person who has been designated as officer in default" },
            { id: 68, title: "To vacate office of Alternate {Director}" },
            { id: 69, title: "To take note on the resignation of {company secretary}" },
            { id: 70, title: "To take note on the declaration received from independent {Director}" },
            { id: 71, title: "To sell, lease or otherwise dispose of the of the undertaking of the company as per the section 180(1)(a) of the companies act, 2013" },
            { id: 72, title: "To make loan / investment and give guarantee / provide security under section 186 of the companies act, 2013" },
            { id: 73, title: "To approve splitting of {share} certificate" },
            { id: 74, title: "To Appoint {secretarial auditor} of the company" },
            { id: 75, title: "To approve appointment of Women {Director}" },
            { id: 76, title: "To avail loan and approve Creation of Charge" },
            { id: 77, title: "To approve Modification of Charge" },
            { id: 78, title: "To approve satisfaction of charge" },
            { id: 79, title: "To approve appointment of {Name of Director} as an Alternate director" },
            { id: 80, title: "To appoint {Name of Director} as Nominee Director" },
            { id: 81, title: "To approve appointment of {Name of Director} to fill the casual vacancy" },
            { id: 82, title: "To provide consent for verifying DIN Application of proposed appointee {Name of Director}" },
            { id: 83, title: "To Authorize {Director}s for general day to day operation of the company" },
            { id: 84, title: "To take note of transactions entered with related parties and perusal of register of contracts etc. in which {Director}s are interested" },
            { id: 85, title: "To consider the appointment of {statutory auditors} in place of existing {statutory auditors}" },
            { id: 86, title: "To appoint {Name of the CFO} as Chief Financial Officer of the Company" },
            { id: 87, title: "To approve the change in Bank authorized signatory" },
            { id: 88, title: "To Convert loan into Equity Shares" },
            { id: 89, title: "To shift the Registered office outside the local limits" },
            { id: 90, title: "To Authorize for signing of documents relating to HR department" },
            { id: 91, title: "To consider and approve raising of External Commercial Borrowing under loan agreement, including a right of conversion thereof:" },
            { id: 92, title: "To Cancel the unissued {authorized share capital}" },
            { id: 93, title: "To approve Change in name clause" },
            { id: 94, title: "To approve the Change in designation of {Name of the WTD-MD} from {Whole Time Director - Managing Director} to {Designation of director}" },
            { id: 95, title: "To alter the object clause of the company by substitution of certain existing clause" },
            { id: 96, title: "To Authorize for subscribing for membership of a society" },
            { id: 97, title: "To approve Constitution of Nomination and Remuneration Committee" },
            { id: 98, title: "To approve Constitution of CSR Committee" },
            { id: 99, title: "To review the Compliance Status" },
            { id: 100, title: "To propose payment of dividend on equity shares" },
            { id: 101, title: "To approve related party transaction" },
            { id: 102, title: "To reappoint the {Director} retiring by rotation" },
            { id: 103, title: "To propose removal of a {Director}" },
            { id: 104, title: "To open Demat account of the company" },
            { id: 105, title: "To approve and adopt the Audited Consolidated Financial Statements of the Company" },
            { id: 106, title: "To give Authorization to get the company register with Central KYC Registry" },
            { id: 107, title: "To take note of secretarial audit report for Financial Year {Financial Year}" },
            { id: 108, title: "To strike off the name of company from Registrar of Companies" },
            { id: 109, title: "To Issue Bonus Share" },
            { id: 110, title: "To consider omnibus approval for related party transactions" },
            { id: 111, title: "To place the register of contracts in which {Director}s are interested for the perusal of the board of {Director}s" },
            { id: 112, title: "To review Internal Audit Report for the period initialing from {period starting} to {period ending}" },
            { id: 113, title: "To take note of resignation of {Name of Person resigning} from the post of {Designation of Person resigning} of the company." },
            { id: 114, title: "To consider & appoint Nodal Officer as per the Ombudsman Scheme issued by RBI" },
            { id: 115, title: "To take consideration and noting of Compliance with prudential norms of RBI" },
            { id: 116, title: "To provide approval for making alteration in KYC Policy" },
            { id: 117, title: "To authorize for making alterations in Credit Policy" },
            { id: 118, title: "To take note on complaint status under Vigil Mechanism/Whistle Blower Policy for the financial year {Financial Year}" },
            { id: 119, title: "To take note of renewal of Legal Entity Identifier (LEI)" },
            { id: 120, title: "To authorize for obtaining Legal Entity Identifier" },
            { id: 121, title: "To authorize for renewal of Legal Entity Identifier (LEI)" },
            { id: 122, title: "To take note of declaration/undertaking made by {Director}s for a Fit and Proper Status" },
            { id: 123, title: "To Extend the date of Annual General Meeting" },
            { id: 124, title: "To authorize Opening of Bank account for Dividend Payment" },
            { id: 125, title: "To Appoint {Name of Director} as {Managing Director-Whole Time Director} of the Company" },
            { id: 126, title: "To Re-appoint {Name of Managing Director} as Managing Director of the Company" },
            { id: 127, title: "To Re-designate {Name of the CFO} as Chief Financial officer" },
            { id: 128, title: "To reappoint {Name of Whole Time Director} as Whole time Director of the Company" },
            { id: 129, title: "To revise the remuneration of {Name of the WTD-MD}, {Whole Time Director - Managing Director}of the Company" },
            { id: 130, title: "To authorize the board to borrow money under section 179(3)(d)" },
            { id: 131, title: "To consider the appointment of the {statutory auditors} of the company" },
            { id: 132, title: "To make application for registration of the Company with Customs Department, {State}" },
            { id: 133, title: "To consider and approve Allotment of {Type of Share}" },
            { id: 134, title: "To fix the remuneration of {Director}" },
            { id: 135, title: "To make an application with ROC for allowing extension for convening Annual General Meeting" },
            { id: 136, title: "To issue {Type of Shares} on Private Placement Basis" },
            { id: 137, title: "To consider the appointment of the {statutory auditors} to fill the casual vacancy caused due to resignation of existing {statutory auditor} of the company" },
            { id: 138, title: "To consider the appointment of the {statutory auditors} to fill the casual vacancy caused due to sudden demise of the existing {statutory auditor} of the company" },
            { id: 139, title: "To consider the appointment of the {statutory auditors} to fill the casual vacancy caused due to disqualification of the existing {statutory auditor} of the company" },
            { id: 140, title: "To recommend regularization of Additional {Director} as Director of the Company" },
            { id: 141, title: "To recommend to shift the Registered office outside the local limits." },
            { id: 142, title: "To recommend to shift the Registered office from the jurisdiction of ROC, {Present ROC} to ROC {New ROC}" },
            { id: 143, title: "To approve the quarterly financial statements for the quarter ended {Quarter End Date}" },
            { id: 144, title: "To present deep condolences at the sudden & untimely demise of {Name of Ceasing Director}, {Designation}" },
            { id: 145, title: "To consider the appointment of Joint {statutory auditors} to fill the casual vacancy caused due to disqualification of the existing {statutory auditor} of the company" },
            { id: 146, title: "To consider the appointment of one of the joint {statutory auditors} to fill the casual vacancy caused due to sudden demise of the {existing statutory} auditor of the company" },
            { id: 147, title: "To consider the appointment of one of the joint {statutory auditors} to fill the casual vacancy caused due to resignation of existing {statutory auditor} of the company" },
            { id: 148, title: "To consider the appointment of one of the joint {statutory auditors} of the company" },
            { id: 149, title: "To approve issuance of duplicate {share certificate}" },
            { id: 150, title: "To approve ESOP scheme" },
            { id: 151, title: "To approve the consolidation of {share certificate}" },
            { id: 152, title: "To Elect the Chairperson" },
            { id: 153, title: "To Grant Leave of absence, if any" },
            { id: 154, title: "To ascertain the quorum" },
            { id: 155, title: "To take note of minutes of previous board meeting" },
            { id: 156, title: "To take note of the Committee Meeting Minutes" },
            { id: 157, title: "To take on record the consents for shorter notice" },
            { id: 158, title: "To take note of resolution passed by Circulation during the period" },
            { id: 159, title: "To Review Performance of the company" },
            { id: 160, title: "To discuss any other matter with the permission of the Chairman and with the consent of a majority of the {Director}s present in the meeting" },
            { id: 161, title: "To take note of disclosure of interest by newly appointed {director(s)}" },
            { id: 162, title: "To take note of declaration of non-disqualification u/s 164 by newly appointed {director(s)}" },
            { id: 163, title: "To raise fund by issuing {Type of debentures}" },
            { id: 164, title: "To allot {Type of Debentures}" },
            { id: 165, title: "To consider and approve transfer of {debentures}" },
            { id: 166, title: "To approve splitting of {debenture} certificate" },
            { id: 167, title: "To approve the conversion of {Preference Shares} into {Equity Shares} of the Company" },
            { id: 168, title: "To approve issuance of {Equity shares} on conversion of {Preference Shares}" },
            { id: 169, title: "To consider and approve allotment of Type of {Shares} on conversion of {Shares}" },
            { id: 170, title: "To take note on the resignation of Chief Financial Officer (KMP) of the Company" },
            { id: 171, title: "To appoint {Name of the CEO} as Chief Executive Officer of the Company" },
            { id: 172, title: "To Re-designate {Name of the CEO} as Chief Executive officer" },
            { id: 173, title: "To take note on the resignation of Chief Executive Officer (KMP) of the Company" },
            { id: 174, title: "To approve the investment of Surplus Fund of the Company" },
            { id: 175, title: "To take a Retail store on lease for business purpose" },
            { id: 176, title: "To adjust the due outstanding amount of Rs.__________ payable to any Company/Person" },
            { id: 177, title: "To consider the renewal of lease taken of Retail store for business purpose" },
            { id: 178, title: "To recommend buy back of {Shares}" },
            { id: 179, title: "To approve the buyback of {Shares}" },
            { id: 180, title: "To alter the object clause of the company by addition of new clause" },
            { id: 181, title: "To authorize for openening a special current bank account for the purpose of Buy back" },
            { id: 182, title: "To authorize {Director} to complete the verification of the offers received for Buyback" },
            { id: 183, title: "To authorize a {Director} for compounding of offence under companies act 2013" },
            { id: 184, title: "To appoint {Name of Professional}, {Practicing Company Secretary / Chartered Accountant / Advocate} to appear before {Authority} for compounding of offence" },
            { id: 185, title: "To take note of summary of decision taken at the meeting" },
            { id: 186, title: "To amend the Share Capital Clause of Memorandum of Association (MOA) of the Company consequent upon the sub-division of share capital of the Company" },
            { id: 187, title: "To consider the sub division of the nominal value of the {Shares} of the Company from Rs. {Existing Face Value}/- per share to Rs. {New Face Value}/- per share" },
            { id: 188, title: "To consider and appoint Registrar & Share Transfer Agent (RTA) for Dematerialization (Demat) and ISIN Creation" },
            { id: 189, title: "To Appoint {Name of Director} as an Independent Director" },
            { id: 190, title: "To reappoint {Name of Director} as an Independent Director" },
            { id: 191, title: "To approve the notice convening Extra Ordinary General Meeting on requisition" },
            { id: 192, title: "To recommend Conversion of private company into public company" },
            { id: 193, title: "To alter the article of association to convert the Company from a private limited company to a public limited company" },
            { id: 194, title: "To change the name of company to convert the Company from a private limited company to a public limited company" },
            { id: 195, title: "To recommend setting the borrowing power of the company u/s 180(1)(c) of the companies act, 2013 in the ensuing general meeting" },
            { id: 196, title: "To recommend issuance of up to {Number of Shares} {Shares} on Preferential Basis upon Conversion of Outstanding Loan" },
            { id: 197, title: "To recommend reclassification of authorised share capital and consequent amendment to Memorandum of Association of the company" },
            { id: 198, title: "Authority to {Director}s of the Company to sign the Agreement" },
            { id: 199, title: "Authority to sign and file Forms and Returns with Registrar of Companies" },
            { id: 200, title: "Statutory Registers" },
            { id: 201, title: "Determination of {Financial Year} of the Company" },
            { id: 202, title: "Authorization for procuring Orgainzation Digital Signature Certificate (DSC)" },
            { id: 203, title: "To take note {shares} transferred in demat form" },
            { id: 204, title: "To take note of Transmission of {Shares} in demat form" },
            { id: 205, title: "To appoint a Designated Person to furnish information to Registrar with respect to Beneficial Interests in shares of the Company" },
            { id: 206, title: "To authorize a Company Cibil check" },
            { id: 207, title: "To issue and allot shares as envisaged in the scheme of arrangement / merger / demerger approved by Hon'ble NCLT, {NCLT Bench}" },
            { id: 208, title: "To apply for a Trademark on behalf of the Company" },
            { id: 209, title: "To consider the Special Notice received under Section 115 of the Companies Act, 2013, proposing the removal of {Name of Director}" },
            { id: 210, title: "To consider the written representation received from {Name of Director} in response to the Special Notice received proposing {his-her} removal" },
            { id: 211, title: "To authorize the Conversion of {Debentures} into {Shares}" },
            { id: 212, title: "To approve the allotment of {Shares} upon conversion of {Debentures}" },
            { id: 213, title: "To approve the redemption of {Shares} of Rs. {Face Value per share}/- each" },
            { id: 214, title: "To provide consent to be a part of the Group and Issuance of NOC" },
            { id: 215, title: "To file Form 20A for commencement of business" },
            { id: 216, title: "To Consider and Approve Authorization of a {Director} for GST Registration" }
        ];

        $(document).ready(function () {
            load();
        });

        function load() {
            $('#tbl').DataTable().destroy();
            $('#tbl').DataTable({
                data: data,
                columns: [
                    { render: (a, b, c, d) => d.row + 1 },
                    { data: 'title' },
                    {
                        data: null,
                        render: (a, b, c) => `<a href="@Url.Action("Resolution", "Home")/${c.id}" class="btn btn-sm btn-outline-info">View</a>`
                    }
                ]
            });
        }
    </script>
}