<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }

    input {
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05) !important;
    }

</style>

<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No.BEN-2
                </h3>
            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Return to the Registrar in respect of declaration under section 90

                    [Pursuant to section 90(4) of The Companies Act, 2013 and rule 4 and rule 8 of The Companies (Significant Beneficial Owners) Rules, 2018]
                </p>
            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca/mca-forms-instruction-kit/Instruction_Kit_BEN-2.pdf" target="_blank">
                    Refer instruction kit for filing the form
                </a>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Entity Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Dsc details and Attachments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div id="part1" class="p-0">
        <div class="card" style=" padding:20px;">
            <div class="row">
                <div class="d-flex justify-content-between mx-2 mb-2">
                    <p class="card-title mb-0" style="margin-top:1px; border-bottom:1px solid black;">
                        Company Details
                    </p>
                </div>
                <input type="hidden" class="num" value="0" name="id" />
                <input type="hidden" class="num" value="0" name="companyId" />
                <div class="col-md-6 my-2">
                    <label class="form-label">1 *Corporate Identity Number (CIN)</label>
                    <input type="text" placeholder="" class="form-control" value="" name="cin" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                    <div class="invalid-feedback"></div>
                </div>
                <div class="col-md-6 my-2">
                    <label class="form-label">2. (a) *Name of the Company</label>
                    <input type="text" placeholder="" class="form-control" value="" name="companyName" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-lg-6 my-2">
                    <label class="form-label">(b) *Registered office address</label>
                    <input type="text" placeholder="SHOP NO 3 VERTEX VIKAS CHS LTD   WING A SIR M V RD BHD POLICE STN ANDHERI, MUMBAI, Mumbai City, Maharashtra, India, 400069" class="form-control" value="" name="companyAddress" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                    <div class="invalid-feedback"></div>
                </div>

                <div class="col-md-6 my-2">
                    <label class="form-label">(c) * email id</label>
                    <input type="email" placeholder="akshaygraphics69@gmail.com" class="form-control" value="" name="companyEmail" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                    <div class="invalid-feedback"></div>
                </div>
            
                <div class="col-xs-12 col-sm-3 col-md-3 bold mt-3" style="margin: 13px -12px;">
                    3 *Purpose of filing the form
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-md-9 form-row mt-2" style="height: auto;">
                        <input type="checkbox"  name="reportingCompany" id="ReportingCompany" value="For declaration of holding reporting company" class="Checkcheckbox"> &nbsp;For declaration of holding reporting company <br>
                        <input type="checkbox" name="declarationOwnership" id="declarationOwnership" value="For declaration of Significant Beneficial Ownership under Section 90" class="Checkcheckbox"> &nbsp; For declaration of Significant Beneficial Ownership under Section 90 <br>
                        <input type="checkbox" name="changeOwnership" id="changeOwnership" value="For change in particulars of existing Significant Beneficial Ownership under Section 90" class="Checkcheckbox"> &nbsp;  For change in particulars of existing Significant Beneficial Ownership under Section 90 <br>
                        <input type="checkbox" name="changeExiting" id="changeexiting" value="For change of existing Significant Beneficial Ownership under Section 90" class="Checkcheckbox"> &nbsp;  For change of existing Significant Beneficial Ownership under Section 90 <br>
                        <input type="checkbox" name="changeReportingCompany" id="changereporting" value="Change of the existing holding reporting company" class="Checkcheckbox"> &nbsp; Change of the existing holding reporting company <br>
                    </div>
                </div>

                <div id="point4Title" class="col-xs-12 col-sm-6 col-md-6 bold mt-3" style="margin: 0px -12px">
                    4. For declaration of holding reporting company
                </div>


                <div class="row firsttabdetails" style="">
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                        (a) CIN of the holding reporting company
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row my-t">
                        <input type="text" name="cinHoldingCompany" id="CINholding" value="" class="form-control num"  required="">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3 bold">
                        (b) Name of the holding reporting company
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                        <input type="text" name="nameHoldingCompany" id="Nameholding" value="" class="form-control" readonly="">
                    </div>
                </div>
                <div id="point5Title" class="col-xs-12 col-sm-6 col-md-6 bold mt-3" style="margin: 0px -12px">
                    5. (a) For declaration of Significant Beneficial Ownership under Section 90
                </div>

                <div class="row CheckCheckbox firsttabsecond mt-3" style="">
                    <div class="col-xs-12 col-sm-6 col-md-6 form-row bold mt-3">
                        (i) Number of Significant Beneficial Owners for whom the form is being filed
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                        <input type="text" name="numberOfSignificantOwners" id="NumberofSignificant" value="" class="form-control num"  required="">
                    </div>
                </div>


            </div>
        </div>
    </div>


    <div id="part2" class="p-0">
        <div class="card" style="padding:20px;" >
            <div class="tab-content">               

                <div id="Authorized" class="tab-pane in animated  custon-tab-style1">
                    <div class="guideLoading guideServiceLoading" id="dvloader2" style="display: none;"></div>
                    <form action="" role="form" method="post" enctype="multipart/form-data" id="fupForm2">

                        <div id="tan_field">
                            <div class="bs-example">
                                <div class="panel-group" id="accordion" style="margin-top: 0;">
                                </div>
                            </div>
                        </div>
                        <input type="submit" style="padding: 6px 4px 6px 3px; width: 8%; border-radius: 10px; display: block;" value="Save as Draft" name="submit2" id="back2Top">
                        <input type="submit" name="submit2" class="btn btn-primary" value="Submit" style="margin-left: -13px;">
                    </form>
                </div>

                <div id="DetailsSbo" class="tab-pane in animated  custon-tab-style1">
                    <div class="guideLoading guideServiceLoading" id="dvloader3" style=""></div>
                    <form role="form" method="post" enctype="multipart/form-data" id="fupForm3">

                        <div class="row firsttabthird mt-3" style="">
                            <div class="col-xs-12 col-sm-12 col-md-12 bold mt-3" style="margin: 0px -12px">
                                5 (b) For change in particulars of Significant Beneficial Ownership under Section 90
                            </div>
                        </div>

                        <div class="row CheckCheckbox firsttabthird mt-3" style="">
                            <div class="col-xs-12 col-sm-6 col-md-6 form-row bold">
                                (i) Number of Significant Beneficial Owners for whom particulars are to be changed
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="text" name="NumberofBeneficialOwners" id="NumberofBeneficialOwners" value="" class="form-control" onchange="AppendParticulars(this.value)" readonly="readonly">
                            </div>
                        </div>

                        <div id="BeneficialAppend" class="hideoncesschange">
                        </div>

                        <input type="hidden" name="row_value" id="row_value">
                        <div id="ten_field1" style="">
                        </div>

                   
                        <input type="submit" style="padding: 6px 4px 6px 3px;width: 8%;border-radius: 10px;" value="Save as Draft" name="submit3" id="back2Top">
                        <input type="submit" name="submit3" class="btn btn-primary" value="Submit" style="margin-left: -13px;">
                    </form>
                </div>

                <div id="Attachment" class="tab-pane in animated  custon-tab-style1 active">
                 
                    <form role="form" method="post" enctype="multipart/form-data" id="fupForm4">

                        <label style="font-weight: bolder; text-decoration: underline; text-transform: uppercase; margin: 0px -10px 10px;">Attachments</label>

                        <div class="row mt-3" style="height: auto;">
                            <div class="col-xs-12 col-sm-5 col-md-5 form-row bold mt-3">(a) *Declaration under Section 90</div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="file" name="copyAttachment" id="copyattachment_1" class="1" accept=".jpg,.pdf" required="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 indemnityBonds_remove_hide mt-3" style="display:none;">
                                <a href="https://mcabucket.s3.ap-south-1.amazonaws.com/">                        </a> &nbsp;
                                <button type="button" name="remove" class="btn btn-danger copyattachment">X</button>
                            </div>
                        </div>

                        <div class="row" mt-3>
                            <div class="col-xs-12 col-sm-1 col-md-1 bold form-row mt-3" align="center">
                                Sr. No
                            </div>
                            <div class="col-xs-12 col-sm-10 col-md-10 bold form-row mt-3">
                                (b) Optional attachment, if any.
                            </div>
                            <div class="col-xs-12 col-sm-1 col-md-1 form-row mt-3" align="center">
                                <button type="button" name="attachmentadd" id="attachmentadd" class="btn btn-primary" style="padding:4px 6px;"><i class="fa fa-plus" style="margin:0px 0px 0px 0px !important;"></i></button>
                            </div>
                        </div>
                        <div id="equity8" class="mt-3">
                            <input type="hidden" name="l" id="l" value="1">

                            <div class="row mt-3" id="rowq1">
                                <div class="col-xs-12 col-sm-1 col-md-1 form-row mt-3" align="center">
                                    1.
                                </div>
                                <div class="col-xs-12 col-sm-11 col-md-11 form-row mt-3">
                                    <input type="file" name="optionalAttachment" id="attachmentfile_1" class="1" accept=".jpg,.pdf">
                                </div>
                            </div>
                        </div>

                        <label style="font-weight: bolder; text-decoration: underline; text-transform: uppercase; margin: 0px -10px 10px;" class="mt-3">Declaration</label>

                        <div class="row mt-3" style="height: auto;">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row mt-3" style="padding: 10px;height: auto;">
                                <p style="text-align: justify; line-height: 26px;">
                                    To the best of my knowledge and belief, the information given in this form and attachments is correct and complete. I have been authorised by board of directors’ resolution number
                                    &nbsp;<input type="text" name="resolutionNumber" id="resolutionNumber" value="" placeholder="Resolution Number num" required="">&nbsp; dated &nbsp; <input type="date" name="resolutionDate" id="resolutiondated" value="" onchange="checkAllDate(this)" required="" placeholder="Resolution date" class="datepicker hasDatepicker"> &nbsp;to sign and submit this form.
                                </p>

                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 bold form-row mt-3">
                                Designation
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <select name="designation" id="designation" class="form-select" required="">
                                    <option value="">Select Designation</option>
                                    <option value="Director">Director</option>
                                    <option value="Manager">Manager</option>
                                    <option value="CEO">CEO</option>
                                    <option value="CFO">CFO</option>
                                    <option value="Managing Director">Managing Director</option>
                                    <option value="Company Secretary">Company Secretary</option>
                                </select>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 bold form-row mt-3">
                                Select Signatory
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3" id="change_designation"><input type="text" name="signitory" id="declarationID" class="form-control declarationID" value="" required=""></div>

                            <!-- </div> -->
                        </div>
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-6 col-md-6 bold form-row mt-3" style="height:auto;">
                                *Director identification number of the director; or DIN or PAN of the manager or CEO or CFO; or Membership number of the Company secretary
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3" style="height: 70px;">
                                <input type="text" name="dinPan" id="dinPan" style="height:-webkit-fill-available;" value="" class="form-control" required="">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-12 col-md-12 bold" style="margin-left:-13px;">
                                It is hereby certified that I have gone through the provisions of the Companies Act, 2013 and Rules thereunder for the subject matter of this form and matters incidental thereto and I have verified the above particulars (including attachment(s)) from the original records maintained by the Company which is subject matter of this form and found them to be true, correct and complete and no information material to this form has been suppressed.
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">Category [In whole time practice]</div>
                            <div class="col-xs-12 col-sm-5 col-md-5 form-row mt-3">
                                &nbsp;<input type="radio" name="category" class="" value="Chartered accountant (in whole-time practice)" required="">&nbsp; Chartered accountant&nbsp; <input type="radio" name="category" value="Cost accountant (in whole-time practice)" required="">&nbsp; Cost accountant or&nbsp; <input type="radio" name="category" value="Company secretary (in whole-time practice)" required="">&nbsp;Company secretary
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 bold form-row CERT_PRACTICE_NO mt-3" style="display: none;">
                                Select PCS
                            </div>
                            <div class="col-xs-12 col-sm-2 col-md-2 form-row CERT_PRACTICE_NO mt-31" style="text-align: center; display: none;">
                                <select name="nameOfPcs" style="width:100%" id="nameofpcs" required="required" class="form-select">
                                    <option value="" selected="">Select PCS</option>
                                    <option value="265">PAKSHAL KIRAN SHAH (CHARTERED ACCOUNTANT)</option>
                                    <option value="439">Pooja Gandhi (Practicing Company Secretary)</option></select>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">*Whether associate or fellow:</div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                &nbsp;<input type="radio" name="associateOrFellow" class="" value="Associate">&nbsp; Associate&nbsp;
                                <input type="radio" name="associateOrFellow" value="Fellow">&nbsp;Fellow&nbsp;
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold CERT_PRACTICE_NO1 MembershipCheck mt-3" style="display: block;">
                                Membership number or Certificate of practice number
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row CERT_PRACTICE_NO1 MembershipCheck mt-3" style="display: block;">
                                <input type="number" name="membershipNumber" class="form-control membershipnumber num" id="membershipnumber" value="" required="required">
                            </div>
                        </div>

                        <label style="font-weight: bolder; text-decoration: none; margin: 0px -10px 10px;color: red" class="mt-3">
                            Note: Attention is drawn to provisions of section 448 and 449 of the Companies Act, 2013 which provide for punishment for false statement / certificate and punishment for false evidence respectively.
                        </label><br>
                        <template id="rowTemp" class="mt-2">
                            <div class="row" id="rowq2"><div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">                                    2.                                  </div>                                     <div class="col-xs-12 col-sm-12 col-md-10 form-row">                                       <input type="file" name="attachment_file[]" id="attachmentfile_12" class="2">                                     </div> <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 " align="center"><button type="button" name="remove" id="2" class="btn btn-danger btn_removeeq">X</button></div></div>
                        </template>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>

</div>


<script>
    $(document).ready(function () {
        
        togglePurposeSections();


        $(".Checkcheckbox").on("change", function () {
            togglePurposeSections();
        });

        function togglePurposeSections() {
            const isHoldingSelected = $("#ReportingCompany").is(":checked");
            const isSBOSelected = $("#declarationOwnership").is(":checked");

           
            if (isHoldingSelected) {
                $("#point4Title").show();
                $("#CINholding").closest(".row").show();
            } else {
                $("#point4Title").hide();
                $("#CINholding").closest(".row").hide();
            }

            if (isSBOSelected) {
                $("#point5Title").show();
                $(".firsttabsecond").show();
            } else {
                $("#point5Title").hide();
                $(".firsttabsecond").hide();
            }
        }
    });
</script>



@section Scripts {
    <script>
        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",
            reportingCompany:"",
            declarationOwnership:"",
            changeOwnership:"",
            changeExiting:"",
            changeReportingCompany:"",
            cinHoldingCompany:0,
            nameHoldingCompany:"",
            numberOfSignificantOwners:0,

            //Part 2
            copyAttachment:"",
            optionalAttachment:"",
            resolutionNumber:0,
            resolutionDate:"",
            designation:"",
            signitory:"",
            dinPan:"",
            category:"",
            nameOfPcs:"",
            associateOrFellow:"",
            membershipNumber:"",
        }
        let rowCount = 1; // Initialize row count
        $('#attachmentadd').click(function () {
            rowCount++; // Increment row count

            // Get the template content
            const templateContent = $('#rowTemp').html();

            // Replace the placeholder "2" with the current row count
            const newRow = $(templateContent.replace(/2/g, rowCount));

            // Append the new row to the container
            $('#equity8').append(newRow);

            // Update the hidden input value
            $('#l').val(rowCount);
        });

        // Remove row
        $('#equity8').on('click', '.btn_removeeq', function () {
            $(this).closest('.row').remove(); // Remove the closest row
            rowCount--; // Decrement row count
            $('#l').val(rowCount); // Update the hidden input value
        });

        $(document).on("change", "[name='category']", function(){
            let role = $(this).val()
            if (role == "Company secretary (in whole-time practice)") {
                $(".CERT_PRACTICE_NO").show()
            }else{
                $(".CERT_PRACTICE_NO").hide()
            }


        })


        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            // vfFrm1 = $('#frm').validate({ rules: voFrm1, onsubmit: () => { console.log('submit') } })
        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("BEN2", "Form")`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }


        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("BEN2", "Form")`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })
        }

    </script>

}