<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }
</style>

<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No.DIR-12
                </h3>

            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Particulars of appointment of directors and the key managerial personnel and the changes among them

                    [Pursuant to sections 7(1) (c), 168 & 170 (2) of The Companies Act, 2013 and rule 17 of the Companies (Incorporation) Rules 2014 and 8, 15 & 18 of the Companies (Appointment and Qualification of Directors) Rules, 2014]
                </p>

            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca/mca-forms-instruction-kit/Instruction%20Kit_Form%20No%20DIR%2012.pdf" target="_blank">

                    Refer instruction kit for filing the form

                </a>
            </div>
        </div>

    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Company Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Manager(s),Secretary(s),CFO or CEO
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part3" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Declaration & Attachments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>


            </main>
        </div>
    </div>




    <div class="card" id="part3">



        <div class="col-md-12 my-2">
            <label class="form-label" for="srnInc28">6. SRN of form INC-28</label>
            <input type="text" id="srnInc28" placeholder="" class="form-control" value="" name="srnInc28" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
            <div class="invalid-feedback"></div>
        </div>


        <div class="  d-flex justify-content-between mx-1 pt-3 ">
            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">
                7. Attachments
            </p>
        </div>
        <div class="col-md-12 my-2">
            <label class="form-label">(a) Order of court / NCLT / Members resolution</label>
            <div class="invalid-feedback"></div>
        </div>
        <div id="equity2">

            <div class="row mt-3 mb-3" id="rowel1 ">
                    
                <div class="col-xs-12 col-sm-12 col-md-11 form-row ">
                    <input type="file" name="InstrumentCreating" id="InstrumentCreating_1" class="1" required="">
                </div>
            </div>
        </div>

        <div class="row mt-5" style="">
            <h6 class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                Sr. No
            </h6>
            <h6 class="col-xs-12 col-sm-12 col-md-11 bold form-row">
                (d) Optional attachments - if any
            </h6>
            <div id="equity2">

                <div class="row mt-3 mb-3" id="rowel1 ">
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                        1.
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 form-row ">
                        <input type="file" name="InstrumentCreating" id="InstrumentCreating_1" class="1" required="">
                    </div>
                </div>
            </div>
        </div>
        <div class="  d-flex justify-content-between mx-1 pt-3 ">
            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">
                Declaration
            </p>
        </div>

        <div class="row">
            <div class="col-md-4 my-3">
                <label class="form-label" for="designation">1(a) *Director Identification Number (DIN/DPIN)</label>
                <select style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" class="form-select" id="designation" name="designation" required>
                    <option value="" selected>Select Designation</option>
                    <option value="Director">Director</option>
                    <option value="Manager">Manager</option>
                    <option value="Company Secretary">Company Secretary</option>
                    <option value="Chief executive officer">Chief Executive Officer</option>
                    <option value="Chief Financial Officer">Chief Financial Officer</option>
                    <option value="Promoter Shareholder">Promoter Shareholder</option>
                    <option value="Liquidator / IRP/ RP">Liquidator / IRP/ RP</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-8 my-3">
                <label class="form-label" for="directorID">*Director identification number of the director; or DIN or PAN of the manager or CEO or CFO or liquidator/IRP/RP or Membership number of the secretary</label>
                <input type="text" id="directorId" placeholder="" class="form-control" value="" name="directorId" required style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                <div class="invalid-feedback"></div>
            </div>
        </div>



        <div class="row my-3" style="height: auto;">
            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: auto; padding: 10px;">
                <p style="text-align: justify; line-height: 2.5em;">
                    I,
                    <input type="text" id="authorizedPerson" placeholder="Authorized Person" style="width: 15%;" value="" name="authorizedPerson" required>
                    authorized by the Boards of Directors of the Company/ by the court or NCLT vide / by members vide*
                    <input type="text" id="authorizationDetails" style="width: 15%;" value="" name="authorizationDetails" required>
                    number dated
                    <input type="date" id="authorizationDate" style="width: 15%;" class="datepicker hasDatepicker" placeholder="" value="" name="authorizationDate" required>
                    (DD/MM/YYYY) to sign this form and declare that all the requirements of Companies Act, 2013 and the rules made thereunder in respect of subject matter of this form and matters incidental thereto have been complied with. I also declare that all the information given herein above is true, correct, and complete including the attachments to this form and nothing material has been suppressed.
                </p>
            </div>
        </div>



        <label style="font-weight:bolder;text-decoration: underline;margin: 0px 8px;">Certificate by practicing professional</label>
        <p style="color:red;font-size: 14px;text-align: right;margin-top:;">*Quick Hint: <a href="https://complyrelax.com/Dashboard-CS/admin/firmlist.php" target="_blank" style="text-decoration:none;"> Click Here</a> for adding PCS Data in the master.</p>


        <div class="row" style="height: auto;">
            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: auto;padding: 10px;">
                <p style="text-align: justify;">I declare that I have been duly engaged for the purpose of certification of this form. It is hereby certified that I have gone through the provisions of the Companies Act,  2013  and Rules thereunder for the subject matter of this form and matters incidental thereto and I have verified the above particulars [including attachment(s)] from the original/certified records maintained by the Company/applicant which is subject matter of this form and found them to be true, correct and complete and no information material to this form has been suppressed.</p>
                <p style="text-align: justify;">I further certify that: </p>
                <ul>
                    <li><input type="checkbox" name="procheckbox1" id="procheckbox1" value="Y"> &nbsp; The said records have been properly prepared, signed by the required officers of the Company and maintained as per the relevant provisions of the Companies Act, 2013 and were found to be in order;</li>
                    <br>
                    <li><input type="checkbox" name="procheckbox2" id="procheckbox2" value="Y"> &nbsp; All the required attachments have been completely and legibly attached to this form;</li>
                    <br>
                    <li><input type="checkbox" name="procheckbox3" id="procheckbox3" value="Y"> &nbsp; It is understood that I shall be liable for action under Section 448 of The Companies Act, 2013 for wrong certification, if any, found at any stage.</li>
                </ul>
            </div>
        </div>


        <div class="row my-3">
            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                Category [In whole time practice]
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5 form-row">
                &nbsp;<input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="radio" name="category" value="charteredAccountant" required>&nbsp; Chartered Accountant &nbsp;
                <input type="radio" name="category" value="costAccountant" required>&nbsp; Cost Accountant or&nbsp;
                <input type="radio" name="category" value="companySecretary" required>&nbsp;Company Secretary
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 bold form-row CERT_PRACTICE_NO1" style="display: block;">
                Company Secretary
            </div>
            <div class="col-xs-12 col-sm-2 col-md-2 form-row CERT_PRACTICE_NO1" style="text-align: center; display: block;">
                <select style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" class="form-select" name="pcs" aria-label="Default select example">
                    <option value="">Select PCS</option>
                    <option value="265">PAKSHAL KIRAN SHAH (CHARTERED ACCOUNTANT)</option>
                </select>
            </div>
        </div>

        <div class="row my-3 mb-3">
            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                Whether associate or fellow
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                &nbsp;<input type="radio" name="membershipStatus" value="associate" required>&nbsp; Associate&nbsp;
                <input type="radio" name="membershipStatus" value="fellow" required>&nbsp;Fellow&nbsp;
            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                Membership number or Certificate of practice number
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                <input type="text" class="form-control membershipnumber" name="membershipNumber" value="" required>
            </div>
        </div>

    </div>


    <div id="part2" class="p-0">
        <div class="card  p-0">

            <div class="d-flex justify-content-between mx-1 pt-3">
                <p class="card-title mb-0" style="margin-top:1px; border-bottom:1px solid black;">
                    Particulars of KMP
                </p>
            </div>

            <div class="col-md-12 my-2">
                <label class="form-label" for="numKMP">4 *Number of manager(s), secretary(s), Chief Financial Officer or Chief Executive Officer for which the form is being filed</label>
                <input type="number" id="numKMP" placeholder="" class="form-control num" value="" name="numKMP" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" required>
                <div class="invalid-feedback"></div>
            </div>



        </div>

    </div>









    <div id="part1" class="p-0">

        @*  tab-1 *@

        <div class="col-md-12 p-0">
            <div class="card">

                <div class="card-body">
                    <input type="hidden" class="num" value="0" name="id" />
                    <input type="hidden" class="num" value="0" name="companyId" />
                    <div class="row">

                        <div class="  d-flex justify-content-between mx-1 pt-3 ">
                            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">
                                Company details
                            </p>
                        </div>

                        <div class="col-md-6 my-2">
                            <label class="form-label">1. Corporate Identity Number (CIN) or Foreign Company Registration Number (FCRN)</label>
                            <input type="text" placeholder="" class="form-control" value="" name="cin" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6 my-2">
                            <label class="form-label">2. (a) Name of the Company</label>
                            <input type="text" placeholder="" class="form-control" value="" name="companyName" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <label class="form-label">2. (b) Address of the registered office or principal place of business in India of the company</label>
                            <input type="text" placeholder="" class="form-control" value="" name="companyAddress" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <label class="form-label">2. (c) E-mail ID of the company</label>
                            <input type="email" placeholder="" class="form-control" value="" name="companyEmail" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>


                        <div class="  d-flex justify-content-between mx-1 pt-3 ">
                            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">
                                Particulars of Director/KMP
                            </p>
                        </div>


                        <div class="col-md-12 my-3">
                            <label class="form-label fw-bold" for="numManagingDirectors">2. *Number of Managing director or director(s) for which the form is being filed</label>
                            <input type="number" id="numManagingDirectors" class="form-control num" name="numManagingDirectors" required>
                        </div>

                       
                        <div id="directorFormsContainer"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#numManagingDirectors").on("input", function () {
            const count = parseInt($(this).val(), 10);
            const container = $("#directorFormsContainer");
            container.empty();

            if (isNaN(count) || count <= 0) return;

            for (let i = 1; i <= count; i++) {
                container.append(`
                    <div class="my-4">
                        <p class="fw-bold text-uppercase" style="text-decoration: underline;">
                            3. DETAILS OF THE MANAGING DIRECTOR OR DIRECTOR OF THE COMPANY
                        </p>
                        <div class="p-3" style="background-color: #f8d7da; border: 1px solid #d88; position: relative;">
                            <button type="button" class="btn btn-sm btn-danger remove-director position-absolute top-0 end-0 m-2">X</button>

                            <!-- (a) Purpose of filing -->
                            <div class="row my-2">
                                <label class="fw-bold">(a) Purpose of filing the form</label>
                                <div class="d-flex flex-wrap gap-3">
                                    <label><input type="radio" name="purpose${i}"> Appointment</label>
                                    <label><input type="radio" name="purpose${i}"> Cessation</label>
                                    <label><input type="radio" name="purpose${i}"> Change in Designation</label>
                                    <label><input type="radio" name="purpose${i}"> Appointment due to disqualification</label>
                                    <label><input type="radio" name="purpose${i}"> Appointment by liquidator</label>
                                </div>
                            </div>

                            <!-- (b) to (j) Grid -->
                            <div class="row">
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(b) Director Identification Number (DIN)</label>
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(c) Name</label>
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(d) Father’s Name</label>
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(e) Present residential address</label>
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(f) Nationality</label>
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(g) Date of Birth</label>
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(h) Gender</label>
                                    <input class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(i) Email ID</label>
                                    <input type="email" class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(j) Designation</label>
                                    <select class="form-select">
                                        <option>Select Designation</option>
                                    </select>
                                </div>
                            </div>

                            <!-- (k) (l) -->
                            <div class="row">
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(k) Date of Appointment or change in designation</label>
                                    <input type="date" class="form-control" />
                                </div>
                                <div class="col-md-4 my-2">
                                    <label class="fw-bold">(l) Category</label>
                                    <select class="form-select">
                                        <option>Select Category</option>
                                    </select>
                                </div>
                            </div>

                            <!-- (m) -->
                            <div class="row my-2">
                                <label class="fw-bold">(m) Whether Chairman, Executive Director, Non-Executive Director</label>
                                <div class="d-flex gap-3">
                                    <label><input type="checkbox" /> Chairman</label>
                                    <label><input type="checkbox" /> Executive Director</label>
                                    <label><input type="checkbox" /> Non-Executive Director</label>
                                </div>
                            </div>

                            <!-- (p) -->
                            <div class="row">
                                <div class="col-md-12 my-2">
                                    <label class="fw-bold">(p) Name of the company or institution</label>
                                    <input class="form-control" />
                                </div>
                            </div>

                            <!-- (r) -->
                            <div class="row">
                                <div class="col-md-6 my-2">
                                    <label class="fw-bold">(r) Number of such entities</label>
                                    <input type="number" class="form-control num-entities" />
                                </div>
                                <div class="col-md-6 d-flex align-items-end justify-content-start gap-2 my-2">
                                    <button class="btn btn-primary">Import From Database</button>
                                    <button class="btn btn-primary">Import From MCA</button>
                                </div>
                            </div>

                            <!-- Entity Table Placeholder -->
                            <div class="entity-table-wrapper"></div>
                        </div>
                    </div>
                `);
            }
        });

        // Generate entity rows
        $(document).on("input", ".num-entities", function () {
            const count = parseInt($(this).val(), 10);
            const wrapper = $(this).closest(".my-4");
            const tableContainer = wrapper.find(".entity-table-wrapper");
            tableContainer.empty();

            if (isNaN(count) || count <= 0) return;

            let tableHTML = `
                <div class="table-responsive my-2">
                    <table class="table table-bordered bg-white">
                        <thead>
                            <tr class="table-secondary text-center">
                                <th>S. No.</th>
                                <th>CIN/ LLPIN/ FCRN/ Registration number</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Designation</th>
                                <th>% of Shareholding</th>
                                <th>Amount</th>
                                <th>Others (specify)</th>
                            </tr>
                        </thead>
                        <tbody>
            `;

            for (let i = 1; i <= count; i++) {
                tableHTML += `
                    <tr>
                        <td class="text-center">${i}</td>
                        <td><input class="form-control" name="cin_${i}" /></td>
                        <td><input class="form-control" name="name_${i}" /></td>
                        <td><input class="form-control" name="address_${i}" /></td>
                        <td><input class="form-control" name="designation_${i}" /></td>
                        <td><input class="form-control" name="share_${i}" type="number" step="0.01" /></td>
                        <td><input class="form-control" name="amount_${i}" type="number" step="0.01" /></td>
                        <td><input class="form-control" name="others_${i}" /></td>
                    </tr>
                `;
            }

            tableHTML += `
                        </tbody>
                    </table>
                </div>
            `;

            tableContainer.html(tableHTML);
        });

        // Remove director section
        $(document).on("click", ".remove-director", function () {
            if (confirm("Are you sure you want to remove this director section?")) {
                $(this).closest(".my-4").remove();
            }
        });
    });
</script>



@section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",

            numManagingDirectors: 0,  
            numKMP: 0,  
            srnInc28: "",  

            designation: "",      
            directorId: "",     
            authorizedPerson: "",    
            authorizationDetails: "", 
            authorizationDate: "",     

            category: "",
            pcs: "",
            membershipStatus: "",
            membershipNumber: ""
        }

        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })

        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })

        }


    </script>

}