<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }
</style>

<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No.DIR-11
                </h3>

            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Notice of resignation of a director to the Registrar

                    [Pursuant to proviso to section 168(1) of the Companies Act, 2013 and rule 16 of the Companies (Appointment and Qualification of Directors) Rules, 2014]
                </p>

            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca/mca-forms-instruction-kit/Instruction%20Kit_Form%20No%20DIR%2011.pdf" target="_blank">

                    Refer instruction kit for filing the form

                </a>
            </div>
        </div>

    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Entity Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Declaration & Attachments
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>


            </main>
        </div>
    </div>
    <div id="part2" class="p-0">
        <div class="card  p-0">


                <div class="row mb-1">
                    <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                        Sr. No
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 bold form-row">
                        *(a) Notice of Resignation filed with the company
                    </div>
                </div>
                <div id="equity2">

                    <div class="row" id="rowel1">
                        <div class="col-xs-12 col-sm-12 col-md-1 form-row my-2" align="center">
                            
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 form-row my-2">
                            <input type="file" name="residence" id="residence_1" class="1" required="">
                        </div>
                    </div>
                </div>

                <div class="row mb-1 ">
                    <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                        Sr. No
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 bold form-row">
                        *(b) Proof of Dispatch
                    </div>
                </div>
                <div id="equity2">

                    <div class="row" id="rowel1">
                        <div class="col-xs-12 col-sm-12 col-md-1 form-row my-2" align="center">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 form-row my-2">
                            <input type="file" name="residence" id="residence_1" class="1" required="">
                        </div>
                    </div>
                </div>


                <div class="row mb-1">
                    <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                        Sr. No
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 bold form-row">
                        (d) Optional attachments - if any
                    </div>
                </div>
                <div id="equity2">

                    <div class="row" id="rowel1">
                        <div class="col-xs-12 col-sm-12 col-md-1 form-row my-2" align="center">
                            1.
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 form-row my-2">
                            <input type="file" name="residence" id="residence_1" class="1" required="">
                        </div>
                    </div>
                </div>


                <div class="  d-flex justify-content-between mx-1 pt-3 ">
                    <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">Declaration</p>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="padding: 10px;height: auto;">

                    <p style="text-align;">
                    I   <input type="text" name="directorName2" class="" placeholder="" value="" disabled> &nbsp;  , the applicant do solemnly declare that to the best of my/our knowledge and belief the information given in this return is correct and complete.
                    </p>
                </div>

               
                <div class="col-md-12 my-2">
                    <label class="form-label">DIN</label>
                <input type="text" placeholder="" class="" value="" name="din" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                    <div class="invalid-feedback"></div>
                </div>
               




        </div>

    </div>



    <div id="part1" class="p-0">



        @*  tab-1 *@

        <div class="col-md-12 p-0">
            <div class="card">

                <div class="card-body">
                    <input type="hidden" class="num" value="0" name="id" />
                    <input type="hidden" class="num" value="0" name="companyId" />
                    <div class="row">




                        <div class="  d-flex justify-content-between mx-1 pt-3 ">
                            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">1. Details of the Director resigning from such company</p>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label">Director</label>
                            <select class="js-states form-control num s2" tabindex="10" id="directorS2" name="director"></select>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="directorName">(b) *Name of the Director</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" id="directorName" placeholder="" class="form-control" value="" name="directorName" required disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="nationality">(c) *Nationality</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" id="nationality" placeholder="" class="form-control" value="" name="nationality" required disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="d-flex justify-content-between mx-1 pt-3">
                            <p class="card-title mb-0" style="margin-top:1px; border-bottom:1px solid black;">
                                2. Details of the company
                            </p>
                        </div>


                        <div class="col-md-6 my-2">
                            <label class="form-label">1. Corporate Identity Number (CIN) or Foreign Company Registration Number (FCRN)</label>
                            <input type="text" placeholder="" class="form-control" value="" name="cin" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6 my-2">
                            <label class="form-label">2. (a) Name of the Company</label>
                            <input type="text" placeholder="" class="form-control" value="" name="companyName" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <label class="form-label">2. (b) Address of the registered office or principal place of business in India of the company</label>
                            <input type="text" placeholder="" class="form-control" value="" name="companyAddress" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-lg-6 my-2">
                            <label class="form-label">2. (c) E-mail ID of the company</label>
                            <input type="email" placeholder="" class="form-control" value="" name="companyEmail" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>


                        <div class="  d-flex justify-content-between mx-1 pt-3 ">
                            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">
                                Other Details
                            </p>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="appointmentDate">3.(a) *Date of appointment</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" id="appointmentDate" placeholder="" class="form-control" value="" name="appointmentDate" required disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="designation">3.(b) *Designation</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" id="designation" class="form-control" value="" name="designation" required disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="category">3.(c) *Category</label>
                            <select style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" class="form-select" id="category" name="category" required>
                                <option value="">Select category</option>
                                <option value="Promoter">Promoter</option>
                                <option value="Professional">Professional</option>
                                <option value="Independent">Independent</option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>


                        <div class="col-md-4 my-3">
                            <label class="form-label" for="filingDate">4(a) *Date of filing of resignation with the company</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" id="filingDate" placeholder="" class="form-control" value="" name="filingDate" required>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="effectiveResignationDate">4(b) *Effective date of resignation specified in the notice of resignation</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" id="effectiveResignationDate" class="form-control" value="" name="effectiveResignationDate" required>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="resignationReason">5(a) *Reasons of resignation</label>
                            <select style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" class="form-select" id="resignationReason" name="resignationReason" required>
                                <option value="">Select Reason</option>
                                <option value="Management Dispute">Management Dispute</option>
                                <option value="Personal Reasons">Personal Reasons</option>
                                <option value="Other">Other</option>
                            </select>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-4 my-3">
                            <label class="form-label" for="otherReasonDetails">5(b) Details (applicable in case "Other" is selected)</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" id="otherReasonDetails" class="form-control" value="" name="otherReasonDetails">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-lg-12 my-3">
                            <label class="form-label" for="confirmationReceived" style="margin-right:1.2rem;">6 *Whether confirmation is received from the company</label>
                            <div>
                                <input class="form-check-input mx-1" type="radio" id="confirmationYes" name="confirmationReceived" value="Yes">
                                <label for="confirmationYes">Yes</label>

                                <input class="form-check-input mx-1" type="radio" id="confirmationNo" name="confirmationReceived" value="No">
                                <label for="confirmationNo">No</label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>



    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>
</div>



<script>
    $(document).ready(function () {
        const $resignationReason = $("#resignationReason");
        const $otherReasonDetailsGroup = $("#otherReasonDetails").closest(".col-md-4");

       
        $otherReasonDetailsGroup.hide();

        $resignationReason.on("change", function () {
            const selectedReason = $(this).val();
            if (selectedReason === "Other") {
                $otherReasonDetailsGroup.show();
                $("#otherReasonDetails").attr("required", true);
            } else {
                $otherReasonDetailsGroup.hide();
                $("#otherReasonDetails").val("").removeAttr("required").removeClass("is-invalid");
                $("#otherReasonDetails").siblings(".invalid-feedback").text("");
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        function validateDateNotBeforeAppointment(inputId) {
            const appointmentDateVal = $("#appointmentDate").val();
            const inputDateVal = $(`#${inputId}`).val();

            if (!appointmentDateVal || !inputDateVal) return true;

            const appointmentDate = new Date(appointmentDateVal);
            const inputDate = new Date(inputDateVal);

            return inputDate >= appointmentDate;
        }

        $("#filingDate, #effectiveResignationDate").on("change", function () {
            const inputId = $(this).attr("id");

            if (!validateDateNotBeforeAppointment(inputId)) {
                $(this).addClass("is-invalid");
                $(this).siblings(".invalid-feedback").text("Date cannot be before the appointment date.");
            } else {
                $(this).removeClass("is-invalid");
                $(this).siblings(".invalid-feedback").text("");
            }
        });
    });
</script>


@section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",

            director: 0,
            directorName: "",  // The director's name
            nationality: "",    // The nationality
            appointmentDate: "",  // The date of appointment
            designation: "",      // The designation

            category: "",        // The category selected (Promoter, Professional, Independent)
            filingDate: "",               // Date of filing of resignation
            effectiveResignationDate: "", // Effective date of resignation
            resignationReason: "",        // Reason for resignation (Management Dispute, Personal Reasons, Other)
            otherReasonDetails: "",       // Details if "Other" is selected in reason
            confirmationReceived: "",      // Whether confirmation is received from the company ("Yes" or "No")

            directorName2 :"",
            din:""
        }

        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })

        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })

            $('#directorS2').select2({
               
                ajax: {
                    url: '@R.ApiUrl/Director/S2',
                    dataType: 'json',
                    processResults: function (data, params) {
                        data = data.map(q => { q.text = `${q.firstName} ${q.middleName} ${q.lastName}`; return q; })
                        return {
                            results: data
                        };
                    },
                },
                theme: 'bootstrap-5',
               
                placeholder: 'Select Director',
                templateResult: (data) => {
                    if (!data.firstName) return data.text;
                    else return $(`<p class="m-0">${data.firstName} ${data.middleName} ${data.lastName}</p>`)
                }
            });

            $('#directorS2').on('change', function () {
                var selected = $(this).select2('data')[0];
                $._get(`@R.ApiUrl/Director/${selected.id}`).then(x => {

                    var name = `${x["firstName"]} ${x["middleName"]} ${x["lastName"]}`
                    $('[name="directorName"]').val(name)
                    $('[name="directorName2"]').val(name)

                    $('[name="nationality"]').val(x["details"]["nationality"])
                    $('[name="designation"]').val("Director")
                    $('[name="din"]').val(x["din"])


                })

            });

        }


    </script>

}