<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }

    input{
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);
    }
    textarea{
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);
    }



</style>
<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    LLP Form No. 3

                </h3>

            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Information with regard to Limited Liability Partnership Agreement and changes, if any, made therein

                    [Pursuant to rule 21(1) of Limited Liability Partnership Rules, 2009]
                </p>

            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca-aem-forms/instructionkits/Instruction%20Kit_LLP_Form_No_3.pdf" target="_blank">

                    Refer instruction kit for filing the form

                </a>
            </div>
        </div>

    </div>


    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Entity's Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            DSC  Details & Attachments
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>


            </main>
        </div>
    </div>



    <div id="part1" class="p-0">
        <div class="col-md-12 p-0">
            <div class="accordion" id="companyAccordion">
                <div class="accordion-item">


                    <div id="collapseDetails" aria-labelledby="detailsHeading" data-bs-parent="#companyAccordion">
                        <div class="card" style="padding:20px;">

                            <div class="card-body">
                                    <input type="hidden" class="num" value="0" name="id" />
                                    <input type="hidden" class="num" value="0" name="companyId" />
                                         


                                    <div id="Details" class="tab-pane in active animated  custon-tab-style1">
                                        <div class="guideLoading guideServiceLoading dvloader" style=""></div>
                                            <div class="row ">
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                                    1. Form filed for
                                                </div>
                                                <div class="col-xs-12 col-sm-9 col-md-9 form-row mt-3">
                                                    &nbsp; &nbsp;
                                                    <label style="font-weight: normal;text-decoration: none;">
                                                        <input type="radio" name="formFilledFor" class="formFilledFor" value="Filing information with regard to initial LLP Agreement" required=""> &nbsp; Filing information with regard to initial LLP Agreement </label> &nbsp; &nbsp; &nbsp;
                                                    <label style="font-weight: normal;text-decoration: none;">
                                                <input type="radio" name="formFilledFor" class="formFilledFor " value="For information with regard to changes in LLP Agreement" required=""> &nbsp; For information with regard to changes in LLP Agreement
                                            </label>
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                                    2. Limited Liability Partnership Identification number (LLPIN)
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                            <input type="number" class="num form-control" style="width: 100%;" name="llpIn" value="AAN-1801" >
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                                    (a). Name of the Limited Liability Partnership (LLP)
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                            <input type="text" class="form-control" style="width: 100%;" name="llpName" value="BANDRA HOSPITALITY LLP" >
                                                </div>

                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                                    (b) Address of the registered office of the LLP
                                                </div>
                                                <div class="col-xs-12 col-sm-9 col-md-9 form-row mt-3">
                                            <input type="text" style="width: 100%" class="form-control" name="companyAddress" >
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                                    (c) Jurisdiction of Police Station
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                            <input type="text" style="width: 100%" class="form-control" name="jurisdictionPoliceStation" id="jurisdictionOfPoliceStation" >
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                                    (d) Email ID
                                                </div>
                                                <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                            <input type="text" style="width: 100%" class="form-control" id="companyEmail" name="companyEmail" value="" >
                                                </div>
                                            </div>

                                            <div class="showoninitial mt-3" style="">
                                                <label style="font-weight: bolder; text-decoration: underline; text-transform: uppercase; margin: 7px -10px 10px;">Information with regard to initial LLP Agreement</label> <br>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;">3(a) Place at which initial Agreement was made - </label>
                                                <div class="row" style="margin-bottom: 0px;">
                                                    <div class="col-xs-12 col-sm-3 col-md-3 bold form-row mt-2">State</div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3 bold form-row mt-2">District</div>
                                                    <div class="col-xs-12 col-sm-3 col-md-2 bold form-row mt-2">(b) Date of Agreement </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-4 bold form-row mt-2">(c) Date of Ratification, in case initial Agreement was made prior to incorporation</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                                        <select name="liabilityState3" id="liabilityState3" class="form-select initialrequired ">
                                                            <option value="">Select State</option>
                                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                                            <option value="Assam">Assam</option>
                                                            <option value="Bihar">Bihar</option>
                                                            <option value="Chandigarh">Chandigarh</option>
                                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                                            <option value="Daman and Diu">Daman and Diu</option>
                                                            <option value="Delhi">Delhi</option>
                                                            <option value="Goa">Goa</option>
                                                            <option value="Gujarat">Gujarat</option>
                                                            <option value="Haryana">Haryana</option>
                                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                                            <option value="Jharkhand">Jharkhand</option>
                                                            <option value="Karnataka">Karnataka</option>
                                                            <option value="Kerala">Kerala</option>
                                                            <option value="Lakshadweep">Lakshadweep</option>
                                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                                            <option value="Maharashtra">Maharashtra</option>
                                                            <option value="Manipur">Manipur</option>
                                                            <option value="Meghalaya">Meghalaya</option>
                                                            <option value="Mizoram">Mizoram</option>
                                                            <option value="Nagaland">Nagaland</option>
                                                            <option value="Orissa">Orissa</option>
                                                            <option value="Puducherry">Puducherry</option>
                                                            <option value="Punjab">Punjab</option>
                                                            <option value="Rajasthan">Rajasthan</option>
                                                            <option value="Sikkim">Sikkim</option>
                                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                                            <option value="Telangana">Telangana</option>
                                                            <option value="Tripura">Tripura</option>
                                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                                            <option value="Uttarakhand">Uttarakhand</option>
                                                            <option value="West Bengal">West Bengal</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                                        <select name="liabilityDistrict3" id="liabilityDistrict3" class="form-select initialrequired">
                                                            <option value="">Select District</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-2 form-row mt-3">
                                                        <input type="date" name="liabilityDoa3" id="liabilityDOA3" class="form-control datepicker initialrequired hasDatepicker" placeholder="" value="">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row mt-3">
                                                        <input type="date" name="liabilityDor3" id="liabilityDOR3" class="form-control datepicker hasDatepicker" placeholder="" >
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-3 col-md-8 form-row bold mt-3">4. Business activities to be carried on by LLP on incorporation</div>
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row mt-3">
                                                        <input type="text" name="businessActivites" id="businessActivites" class="form-control"  value=""></div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">5. Obligation to contribute</label>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row bold mt-3">(i) Total Number of partners as on the date of filing the Form</div>
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row mt-3">
                                                        <input type="number" name="totalPartnersAsOnDateOfFiling" id="" class="form-control"  value=""></div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">(ii) Details of each partner to contribute money or property or other benefit or to perform services and their profit sharing ratio</label>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row mt-3">
                                                        <input type="file" name="initialLlpAttach" id="initialLLPAttach">
                                                        <input type="hidden" name="designatedData" id="designatedData" value="">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3 mt-3">
                                                        &nbsp; <a id="download_initialLLPAttach" class="btn btn-primary" style="margin-top: 8px;">Download Excel</a>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row bold mt-3">(iii) Total Monetary value of partners' contribution in the LLP (in figures) (INR)</div>
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row mt-3">
                                                        <input type="text" name="totalMonetaryValuePartnerContributionLlp" id="totalMonetaryValuePartnerContributionLLP" class="form-control"  value=""></div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-4">6. Mutual Rights and Duties of Partners</label>
                                                <div class="row mt-1" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3" style="height: auto;">
                                                        <textarea name="newMutualRights" id="NewMutualRights" class="form-control initialrequired" cols="30" rows="2" maxlength="10000" style="margin-left: -10px;"></textarea>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">7. Restrictions, if any, on the partners’ authority</label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3" style="height: auto;">
                                                        <textarea name="newRestrictions" id="NewRestrictions" class="form-control initialrequired" cols="30" rows="2" maxlength="10000" style="margin-left: -10px;"></textarea>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">8. Management and Administration of LLP </label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label>(a) Acts, matters or things, if any, which can be done only with the consent of all the partners/consent of requisite number or percentage of partners</label>
                                                        <textarea name="newActsMattersThings"  class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label>(b) Procedure for calling, holding and conducting meetings, (where the decisions are to be made at meetings of partners)</label>
                                                        <textarea name="newMeetingProcedure" id="NewMeetingProcedure" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">9. Details of indemnity clause, if any</label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3" style="height: auto;">
                                                        <textarea name="newIndemnityClause" id="NewIndemnityClause" class="form-control initialrequired" cols="30" rows="2" maxlength="10000" style="margin-left: -10px;"></textarea>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">10. Details of agreement relating to:</label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(a) Admission of a new partner</label>
                                                        <textarea name="newPartnerAdmission" id="NewPartnerAdmission" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(b) Retirement of a partner</label>
                                                        <textarea name="newPartnerRetirement" id="NewPartnerRetirement" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(c) Cessation of a partner</label>
                                                        <textarea name="newPartnerCessation" id="NewPartnerCessation" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(d) Expulsion of a partner</label>
                                                        <textarea name="newPartnerExpulsion" id="newPartnerExpulsion" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(e) Resignation of a partner</label>
                                                        <textarea name="newPartnerResignation" id="NewPartnerResignation" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                </div>

                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;">11. Clause relating to resolution of disputes</label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(a) Between the partners</label>
                                                        <textarea name="newDisputesPartner" id="New_DisputesPartner" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(b) Between the partners and the LLP</label>
                                                        <textarea name="newDisputesBetweenPartnerLlp" id="New_DisputesBetweenPartnerLLP" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                </div>

                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;">12. Information relating to duration of LLP, if any </label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3" style="height: auto;">
                                                        <textarea name="newLlpDuration" id="New_LLPDuration" class="form-control validatetextarea" cols="30" rows="2" maxlength="10000" style="margin-left: -10px;"></textarea>
                                                    </div>
                                                </div>

                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">13. Information ralating to voluntary winding up </label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3" style="height: auto;">
                                                        <textarea name="newVoluntaryWindingUp" id="New_VoluntaryWindingUp" class="form-control initialrequired" cols="30" rows="2" maxlength="10000" style="margin-left: -10px;"></textarea>
                                                    </div>
                                                </div>

                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">14. Information clauses in the agreement:</label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(a) relating to rule16(2)</label>
                                                        <textarea name="newRule16" id="New_Rule16" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(b) relating to rule 17 (1)</label>
                                                        <textarea name="newRule17" id="New_Rule17" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(c) relating to rule 20 (1)</label>
                                                        <textarea name="newRule20" id="New_Rule20" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3" style="height: auto;">
                                                        <label style="text-align: justify;">(d) relating to rule 24(18) (a)</label>
                                                        <textarea name="newRule24" id="New_Rule24" class="form-control initialrequired" cols="30" rows="2" maxlength="10000"></textarea>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">15. Any other information or clause relating to the LLP Agreement not covered above (optional)</label>
                                                <div class="row mt-3" style="height: auto;">
                                                    <div class="col-xs-12 col-sm-12 col-md-12 mt-3" style="height: auto;">
                                                        <textarea name="newOtherInformationClause" id="New_OtherInformationClause" class="form-control" cols="30" rows="2" maxlength="10000" style="margin-left: -10px;"></textarea>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="showonchange mt-3" style="">
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;text-transform: uppercase;" class="mt-3">Information with regard to changes (addition, omission or alteration) in the LLP Agreement</label>
                                                <div class="row mt-3">
                                                    <div class="col-xs-3 col-sm-3 col-md-3 form-row bold mt-3">
                                                        16. Date of modification of the agreement (DD/MM/YYYY)
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3 col-md-3 form-row mt-3">
                                                        <input type="date" name="dateOfModification16" id="dateOfModification16" class="form-control datepicker changerequired hasDatepicker" placeholder="dd/mm/yyyy"  return false;" value="">
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3 col-md-3 form-row bold mt-3">
                                                        (a) Number of amendments / changes made in LLP agreement till date
                                                    </div>
                                                    <div class="col-xs-3 col-sm-3 col-md-3 form-row mt-3">
                                                        <input type="number" name="numberOfChanges" id="numberOfChanges" class=" num form-control changerequired" value="">
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-4">(b) SRN of Form 4 or Form 5 of last one year from the date of filing this form through which notice of change/amendment in the LLP agreement has been filed with the Registrar</label>

                                                <div class="row mt-3">
                                                    <div class="col-xs-3 col-sm-1 col-md-1 form-row bold mt-3" align="center">
                                                        Sr. No.
                                                    </div>
                                                    <div class="col-xs-3 col-sm-4 col-md-4 form-row bold mt-3">
                                                        SRN
                                                    </div>
                                                </div>
                                                <input type="hidden" name="countSrn" id="countsrn" value="1">
                                                <div id="addsrnrow">
                                                    <div class="row mt-3" id="rowid_1">
                                                        <div class="col-xs-3 col-sm-1 col-md-1 form-row bold mt-3" align="center">
                                                            <input type="checkbox" name="deleteRow" id="1" class="deleterow"> &nbsp; 1         </div>    
                                                            <div class="col-xs-3 col-sm-4 col-md-4 form-row"> <input type="text" name="srnNumber" id="SRN_1" class="form-control" maxlength="10">         </div>
                                                        </div></div>
                                                <div class="row mt-3">
                                                    <div class="col-xs-3 col-sm-4 col-md-4 mt-3">
                                                        <a id="addrowinsrn" class="btn btn-primary" style="margin-left: -10px;"><i class="fa fa-plus"></i> Add row</a> &nbsp; <a id="removerowinsrn" class="btn btn-primary"><i class="fa fa-trash"></i> Delete row</a>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">17. Whether change in agreement is on account of</label>

                                                <div class="row mt-1">
                                                    <div class="col-xs-3 col-sm-12 col-md-12 form-row mt-3">
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="changeInBusinessActivitiesFlag" value="Y" id="changeInBusinessActivitiesFlag" class="changerequired"> Change in business activities</label> &nbsp; &nbsp;
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="changeInPartnerFlag" value="Y" id="changeInPartnerFlag" class="changerequired"> Change in partner(s)</label> &nbsp; &nbsp;
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="changesInPartnersProfitSharingFlag" value="Y" id="changesInPartnersProfitSharingFlag" class="changerequired"> Change in partner’s contribution and % of profit sharing</label> &nbsp; &nbsp;
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="changesDueToOtherReasonFlag" value="Y" id="changesDueToOtherReasonFlag" class="changerequired"> Change due to other reasons</label>

                                                    </div>
                                                </div>

                                                <label style="font-weight: bolder; text-decoration: underline; margin: 7px -10px 10px; " class="showonother mt-3">Specify the other change to LLP agreements </label>
                                                <div class="row mt-1" style="height: auto;">
                                                    <div class="col-xs-6 col-sm-6 col-md-6 form-row mt-3" style="height: 310px; ">
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Mutual Rights and Duties of Partners"> Mutual Rights and Duties of Partners</label> <br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Acts, matters or things, if any, which can be done only with the consent of all the  Partners/consent of requisite number or percentage of partners"> Acts, matters or things, if any, which can be done only with the consent of all the  Partners/consent of requisite number or percentage of partners</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Details of indemnity clause, if any"> Details of indemnity clause, if any</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Details of agreement relating to - Retirement of a partner"> Details of agreement relating to - Retirement of a partner</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Details of agreement relating to - Expulsion of a partner"> Details of agreement relating to - Expulsion of a partner</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Clause relating to resolution of disputes - Amongst the partners"> Clause relating to resolution of disputes - Amongst the partners</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Information relating to duration of LLP, if any"> Information relating to duration of LLP, if any</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Information of clauses in the agreement relating to rule 16 (2)"> Information of clauses in the agreement relating to rule 16 (2)</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Information of clauses in the agreement relating to rule 20 (1)"> Information of clauses in the agreement relating to rule 20 (1)</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Any other information or clause relating to the LLP Agreement not covered above (optional)"> Any other information or clause relating to the LLP Agreement not covered above (optional)</label>
                                                    </div>
                                                    <div class="col-xs-6 col-sm-6 col-md-6 form-row mt-3" style="height: 310px; ">
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Restrictions, if any, on the partners’ authority"> Restrictions, if any, on the partners’ authority</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Procedure for calling, holding and conducting meetings, (where the decisions are to be made at meetings of partners)"> Procedure for calling, holding and conducting meetings, (where the decisions are to be made at meetings of partners)</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag"value="Details of agreement relating to - Admission of a new partner"> Details of agreement relating to - Admission of a new partner</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Details of agreement relating to - Cessation of a partner"> Details of agreement relating to - Cessation of a partner</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Details of agreement relating to - Resignation of a partner"> Details of agreement relating to - Resignation of a partner</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Clause relating to resolution of disputes - Amongst the partners and the LLP"> Clause relating to resolution of disputes - Amongst the partners and the LLP</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Information relating to voluntary winding up"> Information relating to voluntary winding up</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Information of clauses in the agreement relating to rule 17 (1)"> Information of clauses in the agreement relating to rule 17 (1)</label><br>
                                                        <label style="text-decoration: none;font-weight: normal;"> <input type="checkbox" name="otherReasonMutualRightsFlag" value="Information of clauses in the agreement relating to  rule 24(18) (a)"> Information of clauses in the agreement relating to  rule 24(18) (a)</label>
                                                    </div>
                                                </div>
                                                <div class="showonbusinessact mt-3" style="">
                                                    <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">18. Details of change in business activity</label>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-row bold mt-3">
                                                            (a) Based on new/ changed business activities, search and select industry sub class (as per NIC codes 2008)
                                                        </div>
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 form-row mt-2 d-flex">
                                                            <input type="hidden" name="countCheck" id="count_check" value="">
                                                            <input type="text" name="searchCode" id="search_code" style="width: 90%;" class="form-control" placeholder="Search here">
                                                            <span class="fa fa-search errspan mt-3 mx-2"></span>
                                                        </div>
                                                    </div>
                                                    <div class="nic_codes mt-3" style="">
                                                        <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">(b) Description of industrial activities to be carried out by the  LLP </label>
                                                        <div class="row remove_NICcode1" style="">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-row mt-3 d-flex">
                                                                <input type="radio" name="nicCodeSerial2nicCodeSerial2" value="NICcode1"> &nbsp;
                                                                <input type="text" class="form-control" name="nicCode1" id="NICcode1"  style="width: 90%;" value="">
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-row mt-3">
                                                                <input type="text" class="form-control" name="nicCode1Desc" id="NICCode1Desc"  style="width: 100%;" value="">
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 mt-3" align="center">
                                                                <button type="button" name="remove" class="btn btn-danger removerow" id="remove_NICcode1">X</button>
                                                            </div>
                                                        </div>
                                                        <div class="row remove_NICcode2 mt-3" style="">
                                                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-row mt-3 d-flex">
                                                                <input type="radio" name="nicCodeserial3" value="NICcode2"> &nbsp;
                                                        <input type="text" class="form-control" name="nicCode2" id="NICcode2"  style="width: 90%;" value="">
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-row mt-3">
                                                        <input type="text" class="form-control" name="nicCode2Desc" id="NICCode2Desc" style="width: 100%;"  value="">
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 mt-3" align="center">
                                                                <button type="button"  name="remove" class="btn btn-danger removerow" id="remove_NICcode2">X</button>
                                                            </div>
                                                        </div>
                                                        <div class="row remove_NICcode3 mt-3" style="">
                                                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 form-row mt-3 d-flex">
                                                                <input type="radio" name="nicCodeSerial4" value="NICcode3"> &nbsp;
                                                        <input type="text" class="form-control" name="nicCode3" id="NICcode3" style="width: 90%;"  value="">
                                                            </div>
                                                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-row mt-3">
                                                        <input type="text" class="form-control" name="nicCode3Desc" id="NICCode3Desc" style="width: 100%;"  value="">
                                                            </div>
                                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 mt-3" align="center">
                                                                <button type="button" name="remove" class="btn btn-danger removerow" id="remove_NICcode3">X</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mt-3" style="margin-bottom: 0px;">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bold mt-3" style="margin-left: -10px;">*(a) NIC Code of industrial activity of the company</div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bold mt-3" style="margin-left: -10px;">*(b) Description of the class</div>
                                                    </div>
                                                    <div class="row mt-3">
                                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mt-3" style="margin-left: -10px;">
                                                            <textarea name="nicCodes" id="NICcodes" class="readonly form-control" style="width: 100%;background-color: #eee;height: 60px;"></textarea>
                                                        </div>
                                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 mt-3" style="margin-left: -10px;">
                                                            <textarea name="nicCodesDesc" id="NICCodesDesc" class="readonly form-control" style="width: 100%;background-color: #eee;height: 60px;"></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3" style="margin-left: -10px;">
                                                            <label style="text-decoration: none;">(c) Description of business activities, after change</label>
                                                            <input type="text" name="desBusinessActivity18F" id="desBusinessActivity18f" maxlength="10000" class="form-control" value="">
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mt-3">
                                                            <label style="text-decoration: none;">(d) Do change in business activities require change in name of the LLP</label>
                                                            <div class="mt-3">
                                                        <lable>   &nbsp; &nbsp; <input type="radio" name="changeBusinessActivity18G" value="Y"> Yes &nbsp; &nbsp; </lable> <lable>  <input type="radio" name="changeBusinessActivity18G" value="N"> No</lable>
                                                    </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">19. (a) Details of each partners' obligation to contribute money or property or other benefit or to perform services and their profit-sharing ratio, after change in LLP agreement and Details of designated partners and partner appointed </label>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-3 col-md-4 form-row mt-3">
                                                        <input type="file" name="changesInLLPAttach" id="changesInLLPAttach" disabled="disabled">
                                                        <input type="hidden" name="linkedFormName" id="linkedformname" value="">
                                                        <input type="hidden" name="table2ExcelData" id="table2ExcelData" value="">
                                                        <input type="hidden" name="totalProfit1" id="totalProfit1" value="">
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-3 mt-3">
                                                        &nbsp; <a id="download_changesInLLPAttach" class="btn btn-primary" style="margin-top: 8px;">Download Excel</a>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 form-row bold mt-3">
                                                        (b) (i) Total number of existing designated partners and partners prior to change
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2 col-md-2 form-row mt-3">
                                                        <input type="number" name="totalExistingPartner19B" id="totalExistingPartner19B" class="form-control readonlyonchangepartner doblankoninitial" value="" >
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 form-row bold mt-3">
                                                        (ii) Total number of designated partners and partners appointed
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2 col-md-2 form-row mt-3">
                                                        <input type="number" name="totalPartnerAppointed19B" id="totalPartnerAppointed19B" class=" form-control readonlyonchangepartner" value="0" >
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 form-row bold mt-3">
                                                        (iii) Total number of designated partners and partners removed
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2 col-md-2 form-row mt-3">
                                                        <input type="number" name="totalPartnersRemoved19B" id="totalPartnersRemoved19B" class="form-control readonlyonchangepartner" value="0" >
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 form-row bold mt-3">
                                                        (iv) Total number of designated partners and partners after the change
                                                    </div>
                                                    <div class="col-xs-12 col-sm-2 col-md-2 form-row mt-3">
                                                        <input type="number" name="totalPartnersChanged19B" id="totalPartnersChanged19B" class="form-control readonlyonchangepartner doblankoninitial" value="" >
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;" class="mt-3">(c) Total monetary value of contribution, after changes (in figures) (INR)</label>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                                                        <label style="text-decoration: none;">(i) Existing</label>
                                                        <input type="number" name="existing19C" id="existing19C" class="form-control readonlyonchangepartner doblankoninitial" maxlength="15" value="" >
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                                                        <label style="text-decoration: none;">(ii) Addition</label>
                                                        <input type="number" name="addition19C" id="addition19C" class="form-control readonlyonchangepartner" maxlength="15" value="0" >
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                                                        <label style="text-decoration: none;">(iii) Reduction</label>
                                                        <input type="number" name="reduction19C" id="reduction19C" class="form-control readonlyonchangepartner" maxlength="15" value="0" >
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                                                        <label style="text-decoration: none;">(iv) Total (i+ii-iii)</label>
                                                        <input type="number" name="totalSum19C" id="totalSum19C" class="form-control doblankoninitial" maxlength="15" value="" >
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                                                        <label style="text-decoration: none;">(v) Total (in words)</label>
                                                        <input type="text" name="totalInWords" id="totalInWords" class="form-control doblankoninitial" value="" >
                                                    </div>
                                                </div>
                                                <label style="font-weight: bolder; text-decoration: underline; margin: 7px -10px 10px;" class="showonother mt-3">20. Change due to other reasons</label>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(a) Mutual Rights and Duties of Partners</label>
                                                        <textarea name="chgMutualRights" id="Chg_MutualRights" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(b) Restrictions, if any, on the partners’ authority</label>
                                                        <textarea name="chgRestrictions" id="Chg_Restrictions" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(c) Acts, matters or things, if any, which can be done only with the consent of all the partners/consent of requisite number or percentage of partners</label>
                                                        <textarea name="chgActsMattersThings" id="Chg_ActsMattersThings" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(d) Procedure for calling, holding and conducting meetings, (where the decisions are to be made at meetings of partners)</label>
                                                        <textarea name="chgMeetingProcedure" id="Chg_MeetingProcedure" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(e) Details of indemnity clause, if any</label>
                                                        <textarea name="chgIndemnityClause" id="Chg_IndemnityClause" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(f) Details of agreement relating to - Admission of a new partner</label>
                                                        <textarea name="chgPartnerAdmission" id="Chg_PartnerAdmission" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(g) Details of agreement relating to - Retirement of a partner</label>
                                                        <textarea name="chgPartnerRetirement" id="Chg_PartnerRetirement" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(h) Details of agreement relating to - Cessation of a partner</label>
                                                        <textarea name="chgPartnerCessation" id="Chg_PartnerCessation" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(i) Details of agreement relating to - Expulsion of a partner</label>
                                                        <textarea name="chgPartnerExpulsion" id="Chg_PartnerExpulsion" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(j) Details of agreement relating to - Resignation of a partner</label>
                                                        <textarea name="chgPartnerResignation" id="Chg_PartnerResignation" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(k) Clause relating to resolution of disputes - Between the partners</label>
                                                        <textarea name="chgDisputesPartner" id="Chg_DisputesPartner" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(l) Clause relating to resolution of disputes - Between the partner and the LLP</label>
                                                        <textarea name="chgDisputesBetweenPartnerLlp" id="Chg_DisputesBetweenPartnerLLP" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(m) Information relating to duration of LLP, if any</label>
                                                        <textarea name="chgLlpDuration" id="" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(n) Information relating to voluntary winding up</label>
                                                        <textarea name="chgVoluntaryWindingUp" id="" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(o) Information of clauses in the agreement relating to rule 16 (2)</label>
                                                        <textarea name="chgRule16" id="" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(p) Information of clauses in the agreement relating to rule 17 (1)</label>
                                                        <textarea name="chgRule17" id="" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(q) Information of clauses in the agreement relating to rule 20 (1)</label>
                                                        <textarea name="chgRule20" id="Chg_Rule20" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                                                        <label style="text-decoration: none;">(r) Information of clauses in the agreement relating to rule 24(18) (a)</label>
                                                        <textarea name="chgRule24 "  class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="row changeotheroption mt-3" style="">
                                                    <div class="col-xs-12 col-sm-6 col-md-6">
                                                        <label style="text-decoration: none;">(s) Any other information or clause relating to the LLP Agreement not covered above (optional)</label>
                                                        <textarea name="chgOtherInformationClause" id="Chg_OtherInformationClause" class="form-control" maxlength="10000" ></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        
                                    </div>

                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <div id="part2" class="p-0">
        <div class="card" style="padding:20px;">

      <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;text-transform: uppercase;">Attachments</label>
            <div class="row showoninitialattach  mt-3" style="">
                <div class="col-xs-12 col-sm-5 col-md-5 form-row bold  mt-3">
                    (a) Initial LLP Agreement
             </div>
             <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                <input type="file" name="initialLlp" id="initialLLP">
             </div>
                      </div>
            <div class="row showonchangeattach mt-3" style="display: block;">
                <div class="col-xs-12 col-sm-5 col-md-5 form-row bold mt-3">
                    (b) Supplementary/ amended LLP agreement containing changes
             </div>
                <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                <input type="file" name="changesLlp" id="changesLLP" required="required">
             </div>
                      </div>

            <div class="row mt-3">
                <div class="col-xs-12 col-sm-12 col-md-1 bold form-row mt-3" align="center">
              Sr. No
            </div>
                <div class="col-xs-12 col-sm-12 col-md-10 bold form-row mt-3">
                (c) Optional attachment(s) - if any
               </div>
                <div class="col-xs-12 col-sm-12 col-md-1 form-row mt-3" align="center">
                    <button type="button" name="attachmentAdd" id="attachmentadd" class="btn btn-primary" style="padding:4px 6px !important;"><i class="fa fa-plus" style="margin:0px 0px 0px 0px !important;"></i></button>
          </div>                                  
      </div>
      <div id="equity" class="mt-3">
                <input type="hidden" name="l" id="l" value="1">

                <div class="row mt-3" id="roweq1">
          <div class="col-xs-12 col-sm-12 col-md-1 form-row mt-3" align="center">
            1.
          </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 form-row mt-3">
                 <input type="file" name="attachmentFile" id="attachmentfile_1" class="1">
             </div>                                   
        </div>
            </div>
            <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;text-transform: uppercase;" class="mt-4">Statement</label>
            <div class="row mt-2" style="height: auto;">
                <div class="col-xs-12 col-sm-12 col-md-12 form-row mt-3" style="height: auto;padding: 10px;">
             <span>I the designated partner of the LLP do state that</span>
             <ol type="i" style="margin-left: -10px;">
                 <li style="text-align: justify;">I am a person named in the Incorporation Document as a designated Partner / I am a designated Partner of the LLP;</li>
                 <li style="text-align: justify;">the particulars given above are in accordance with the initial LLP agreement /subsequent agreement relating to change in the LLP agreement;</li>
                 <li style="text-align: justify;">the original copy of LLP Agreement will be produced whenever called for;</li>
                 <li style="text-align: justify;">in case of change in contribution, the fees payable to Registrar have been/are being paid;</li>
                 <li style="text-align: justify;">I make this statement conscientiously believing the same to be true.</li>
                 <li style="text-align: justify;">I am authorized to sign this form.</li>
             </ol>
                    <div class="row mt-3">
                        <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                            <label style="text-decoration: none;">Select designated partner</label>
                  <select name="designatedPartner" id="designated_partner" class="form-select">
                      <option value="">Select designated partner</option>
                      <option value="07727600">Imran Faruk Memon (07727600)</option><option value="07356321">Vatsal  Thirani (07356321)</option>                  </select>
               </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 mt-3">
                            <label style="text-decoration: none;">DIN/DPIN of the designated partner</label>
                   <input type="text" name="designatedPartnerId" id="designatedPartnerId" class="form-control" required="" value="">
               </div>
             </div>
          </div>
      </div> 
                                  
      <label style="font-weight: bolder; text-decoration: underline;margin: 7px -10px 10px;text-transform: uppercase;">Certificate</label>
            <div class="row mt-3" style="height: auto;">
                <div class="col-xs-12 col-sm-12 col-md-12 form-row mt-3" style="height: auto;padding: 10px;">
              <p style="text-align: justify;">It is hereby certified that I have verified the above particulars from the books and records of BANDRA HOSPITALITY LLP and found them to be true and correct. </p>
              <p style="text-align: justify;">I further certify that all the required attachment(s) have been completely attached in this form.</p>
          </div>
        </div>
            <div class="row mt-3">
                <div class="col-xs-12 col-sm-8 col-md-8 form-row mt-3">
                    <span style="font-weight:bold;">Category [In whole time practice] </span>
                    &nbsp; &nbsp; &nbsp; &nbsp;<label> <input type="radio" name="professionalPractice" value="Chartered Accountant (in whole-time practice)" required=""> Chartered Accountant &nbsp; &nbsp;</label><label> <input type="radio" name="professionalPractice" value="Cost Accountant (in whole-time practice)" required=""> Cost Accountant &nbsp; &nbsp; </label><label> <input type="radio" name="professionalPractice" value="Company Secretary (in whole-time practice)" required=""> Company Secretary</label>
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 bold form-row nameofpcs mt-3" style="display: block;">
                    Company Secretary
            </div>
                <div class="col-xs-2 col-sm-2 col-md-2 form-row nameofpcs mt-3" style="display: block;">
              <select name="nameOfpcs" id="nameofpcs" style="width: 100%;" class="form-select">
                 <option value="">Select PCS</option><option value="265">PAKSHAL KIRAN SHAH (CHARTERED ACCOUNTANT)</option><option value="439">Pooja Gandhi (Practicing Company Secretary)</option>              </select>
            </div>
         </div>
            <div class="row mt-3">
                <div class="col-xs-3 col-sm-3 col-md-3 bold form-row  mt-3">
                    Whether associate or fellow
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 form-row  mt-3">
                    &nbsp;<label> <input type="radio" name="professionalType" value="Associate" required=""> Associate &nbsp; &nbsp;</label> <label> <input type="radio" name="professionalType" value="Fellow" required=""> Fellow</label>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 bold form-row showonca  mt-3" style="">Membership number
            </div>
                <div class="col-xs-3 col-sm-3 col-md-3 bold form-row nameofpcs  mt-3" style="display: block;">
                    Certificate of practice number
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 form-row mt-3">
              <input type="text" name="membershipNumber" id="" class="form-control showonca" value="">
              <input type="text" name="certificateNumber" id="" class="form-control nameofpcs" value="" style="display: block;" required="required">
            </div>
         </div>  
        </div>

    </div>






    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>
</div>

@section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",


            // part-1
           
            formFilledFor:"",
            llpIn:0,
            llpName:"",
            jurisdictionPoliceStation:"",
            liabilityState3:"",
            businessActivites:"",
            totalPartnersAsOnDateOfFiling:"",
            initialLlpAttach:"",
            // designatedData:"",
            totalMonetaryValuePartnerContributionLlp:"",
            newMutualRights:"",
            newRestrictions:"",
            newActsMattersThings:"",
            newMeetingProcedure:"",
            newIndemnityClause:"",
            newPartnerAdmission:"",
            newPartnerRetirement:"",
            newPartnerCessation:"",
            newPartnerExpulsion:"",
            newPartnerResignation:"",
            newDisputesPartner:"",
            newDisputesBetweenPartnerLlp:"",
            newLlpDuration:"",
            newVoluntaryWindingUp:"",
            newRule16:"",
            newRule17:"",
            newRule20:"",
            newRule24:"",
            newOtherInformationClause:"",
            dateOfModification16:"",
            numberOfChanges:0,
            deleteRow:"",
            srnNumber:"",
            changeInBusinessActivitiesFlag:"",
            changeInPartnerFlag:"",
            changesInPartnersProfitSharingFlag:"",
            changesDueToOtherReasonFlag:"",
            otherReasonMutualRightsFlag:"",
            // countCheck:"",
            searchCode:"",
            nicCode4Serial:"",
            nicCode1:"",
            nicCode1Desc:"",
            remove:"",
            nicCode2Desc:"",
            nicCode3:"",
            nicCode3Desc:"",
            nicCodes:"",
            nicCodesDesc:"",
            desBusinessActivity18F:"",
            changeBusinessActivity18G:"",
            changesInLLPAttach:"",
            // linkedFormName:"",
            table2ExcelData:"",
            // totalProfit1:"",
            totalExistingPartner19B:0,
            totalPartnerAppointed19B:"",
            totalPartnersRemoved19B:"",
            totalPartnersChanged19B:"",
            existing19C:0,
            addition19C:0,
            reduction19C:0,
            totalSum19C:"",
            totalInWords:"",
            chgMutualRights:"",
            chgRestrictions:"",
            chgActsMattersThings:"",
            chgMeetingProcedure:"",
            chgIndemnityClause:"",
            chgPartnerAdmission:"",
            chgPartnerRetirement:"",
            chgPartnerCessation:"",
            chgPartnerExpulsion:"",
            chgPartnerResignation:"",
            chgDisputesPartner:"",
            chgDisputesBetweenPartnerLlp:"",
            chgLlpDuration:"",
            chgVoluntaryWindingUp:"",
            chgRule16:"",
            chgRule17:"",
            chgRule20:"",
            chgRule24:"",
            chgOtherInformationClause:"",
            nicCodeSerial2nicCodeSerial2:"",

            // part-2

            initialLlp:"",
            changesLlp:"",
            attachmentFile:"",
            designatedPartner:"",
            designatedPartnerId:"",
            professionalPractice:"",
            nameOfpcs:"",
            professionalType:"",
            membershipNumber:"",
            certificateNumber:"",







        }

        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })

        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })

        }


    </script>

}