<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }

    input[type="radio"] {
        border: 1px solid #ccc;
        appearance: auto;
    }
</style>
<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No.INC-23
                </h3>

            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Application to the Regional Director for approval to shift the Registered office from one state to another state or from jurisdiction of one Registrar to another Registrar within the same State

                    [Pursuant to section 12(5) and 13(4) of the Companies Act, 2013 and rule 28 and 30 of the Companies (Incorporation) Rules, 2014]
                </p>

            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca-aem-forms/instructionkits/Instruction%20Kit_INC-23.pdf" target="_blank">

                    Refer instruction kit for filing the form

                </a>
            </div>
        </div>
    </div>


    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Company Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Delclaration & Attachments
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div id="part2" class="p-0">
        <div class="card" style="padding:20px;">
            <input type="hidden" class="num" value="0" name="id" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" />
            <div class="row mt-3" style="">
                <div class="col-lg-6 my-1 mx-2">
                    <h6 class="typecharge" style=" border-bottom:1px solid black; display:inline-block;">
                        Attachments
                    </h6>
                </div>
                <div class="row" style="height: auto;">
                    <div class="col-xs-12 col-sm-4 col-md-4 form-row bold">(a) *Power of attorney/vakalatnama/Board resolution</div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                        <input type="file" name="attorney" id="attorney" class="1">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4" style="">
                        <a href="https://mcabucket.s3.ap-south-1.amazonaws.com/Attachments/1723543908_33992_Board_Resl_-_Authorization_PCS.pdf">
                            Board_Resl_-_Authorization_PCS.pdf
                        </a> &nbsp;
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1" style="">
                        <button type="button" name="remove" class="btn btn-danger attorney" attachmentype="attorney">X</button>
                    </div>
                </div>
                <div class="row my-3" style="height: auto;">
                    <div class="col-xs-12 col-sm-5 col-md-5 form-row bold">(b) *Copy of newspaper advertisement for notice of shifting the registered office</div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                        <input type="file" name="newspaperadv" id="newspaperadv" class="1">
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3" style="">
                        <a href="https://mcabucket.s3.ap-south-1.amazonaws.com/Attachments/1723543908_33992_Newspaper_publication.pdf">
                            Newspaper_publication.pdf
                        </a> &nbsp;
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1" style="">
                        <button type="button" name="remove" class="btn btn-danger newspaperadv" attachmentype="newspaperadv">X</button>
                    </div>
                </div>
                <div class="row my-3" style="height: auto;">
                    <div class="col-xs-12 col-sm-4 col-md-4 form-row bold" style="height:70px;">(c) *Acknowledgement of Proof of service of the application to the Chief secretary of the state, SEBI or any other regulatory authority (if applicable)</div>
                    <div class="col-xs-12 col-sm-3 col-md-3 form-row" style="height:70px;">
                        <input type="file" name="authorityProof" id="authorityproof" class="1">
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4" style="">
                        <a href="https://mcabucket.s3.ap-south-1.amazonaws.com/Attachments/1723543909_33992_Letter_to_CS,_ROC_and_RD_Regd_post_ack.pdf">
                            Letter_to_CS,_ROC_and_RD_Regd_post_ack.pdf
                        </a> &nbsp;
                    </div>
                    <div class="col-xs-12 col-sm-1 col-md-1" style="">
                        <button type="button" name="remove" class="btn btn-danger authorityproof" attachmentype="authorityproof">X</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                        Sr. No
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 bold form-row">
                        (e) Optional Attachment(s) - if any
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                        <button type="button" name="attachmentadd" id="attachmentadd" class="btn-sm btn-primary"><i class=" fa-plus"></i></button>
                    </div>
                </div>
                <div id="equity">
                    <input type="hidden" name="l" id="l" value="1">

                    <div class="row" id="roweq1">
                        <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                            1.
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 form-row">
                            <input type="file" name="attachment_file[]" id="attachmentfile_1" class="1">
                        </div>
                    </div>
                </div>
                <label style="font-weight:bolder;text-decoration: underline;margin: 0px -10px 5px;text-transform: uppercase;">Declaration</label>

                <div class="row" style="height: auto">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: auto;">
                        <p style="text-align: justify;line-height: 2rem;">I am authorised by the Board of directors of the company vide resolution number * &nbsp; <input type="text" name="resolutionNumber" placeholder="Resolution Number" value="03" required=""> dated * <input type="text" class="datepicker hasDatepicker" name="resolutionDate" id="resolutiondate" placeholder="dd/mm/yyyy" value="12/06/2024" required="">  to sign this form and declare that all the requirements of Companies Act, 2013 and the rules made thereunder in respect of the subject matter of this form and matters incidental thereto have been complied with. <br> I further declare that:</p>
                    </div>
                </div>


                <div id="" class="mb-3">
                    <input type="hidden" name="l" id="l" value="1">

                    <div class="row mt-3" style="">
                      

                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 60px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="attachmentDeclaration" value="Y" required="" checked=""> &nbsp; *Whatever is stated in this form and in the attachments thereto is true, correct and complete and no information material to the subject matter of this form has been suppressed or concealed and is as per the original records maintained by the company.</label></p>
                            </div>
                        </div>
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 40px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="attachmentDeclaration2" value="Y" required="" checked=""> &nbsp; *All the required attachments have been completely and legibly attached to this form.</label></p>
                            </div>
                        </div>
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 60px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="authorityDeclaration" value="Y" required="" checked=""> &nbsp; *Any application, writ petition or suit had not been filed regarding the matter in respect of which this petition/a pplication has been made, before any court of law or any other authority or any other Bench or the Board and not any such application, writ petition or suit is pending before any of them.</label></p>
                            </div>
                        </div>
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 50px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="paymentDeclaration" value="Y" required="" checked=""> &nbsp; *The company has not defaulted in payment of dues to its workmen and has either the consent of its creditors for the proposed shifting or has made necessary provision for the payment thereof.</label></p>
                            </div>
                        </div>
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 40px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="jurisdictionDeclaration" value="Y" required="" checked=""> &nbsp; *The company shall not seek change in the jurisdiction of the Court where cases for prosecution are pending</label></p>
                            </div>
                        </div>
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 60px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="shiftingDeclaration" value="Y" required="" checked=""> &nbsp; *No employee shall be retrenched as a consequence of shifting of the registered office from one state to another state and also there shall be an application filed by the company to the Chief Secretary of the concerned State Government or the Union territory.</label></p>
                            </div>
                        </div>
                        <div class="row" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: 70px;">
                                <p style="text-align: justify;"><label style="text-decoration:none;font-weight:normal;"> &nbsp; <input type="checkbox" name="enquiryDeclaration" value="Y" required="" checked=""> &nbsp; *A full enquiry has been made into the affairs of the company and, having done so, it is concluded that the list of creditors are correct, and that the estimated value as given in the list of the debts or claims payable on a contingency or not ascertained are proper estimates of the values of such debts and claims and that there are no other debts of or claims against the company to their knowledge.</label></p>
                            </div>
                        </div>
                        <div class="col-lg-4 my-2">
                            <label class="form-label">*Designation</label>
                            <select name="declarationDesignation" id="declarationDesignation" class="form-select" required="">
                                <option value=""> Select Designation</option>
                                <option value="Director">Director</option>
                                <option value="Manager">Manager</option>
                                <option value="Company Secretary">Company Secretary</option>
                                <option value="CEO">CEO</option>
                                <option value="CFO">CFO</option>

                            </select>
                        </div>

                        <div class="col-lg-4 my-2">
                            <label class="form-label">Signatory</label>
                            <input type="text" placeholder="" class="form-control " value="" name="signatory" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-lg-4 my-2">
                            <label class="form-label">DIN / PAN</label>
                            <input type="text" placeholder="02145703" class="form-control " value="" name="din" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="row my-2" style="height: auto">
                            <div class="col-xs-12 col-sm-12 col-md-12 form-row">
                                <p style="text-align: justify;color: red;">Note: Attention is drawn to provisions of section 448 and 449 of the Companies Act, 2013 which provide for punishment for false statements/certificates and punishment for false evidence respectively.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    @* tab-1 *@

    <div id="part1" class="p-0">
        <div class="col-md-12 p-0">
            <div class="accordion" id="companyAccordion">
                <div class="accordion-item">
                    <div id="collapseDetails" aria-labelledby="detailsHeading" data-bs-parent="#companyAccordion">
                        <div class="card">
                            <div class="card-body">
                                <form id="frmCompanyDetails">
                                    <input type="hidden" class="num" value="0" name="id" />
                                    <input type="hidden" class="num" value="0" name="companyId" />
                                    <div class="row">

                                        <div class="col-lg-12 my-1 mx-2">
                                            <h6 class="typecharge bold" style="border-bottom:1px solid black; display:inline-block;">
                                                Company Information

                                            </h6>
                                        </div>
                                        <div class="col-md-6 my-2">
                                            <label class="form-label">1. (a) *Corporate Identity Number (CIN)</label>
                                            <input type="text" placeholder="U22219MH2022PTC375586" class="form-control" value="" name="cin" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-6 my-2">
                                            <label class="form-label">1 .(b) *Name of the Company</label>
                                            <input type="text" placeholder="AKSHAY GRAPHICS PRIVATE LIMITED" class="form-control " value="" name="companyName" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-lg-12 my-2">
                                            <label class="form-label">1 .(c) *Registered office address</label>
                                            <input type="text" placeholder="SHOP NO 3 VERTEX VIKAS CHS LTD   WING A SIR M V RD BHD POLICE STN ANDHERI, MUMBAI, Mumbai City, Maharashtra, India, 400069" class="form-control" value="" name="companyAddress" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="col-lg-12 my-2">
                                            <label class="form-label">1. (d) *Email ID</label>
                                            <input type="text" placeholder="akshaygraphics69@gmail.com" class="form-control " value="" name="companyEmail" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="col-md-6 my-2">
                                            <label class="form-label">2.*Purpose of filing of form</label>
                                            <select name="filligPurpose" class="fillig_purpose form-select" required="">
                                                <option value="">Select Purpose</option>
                                                <option value="Change in ROC within the same state">Change in ROC within the same state</option>
                                                <option value="Change in State within the jurisdiction of existing ROC">Change in State within the jurisdiction of existing ROC</option>
                                                <option value="Change in State outside the jurisdiction of existing ROC">Change in State outside the jurisdiction of existing ROC</option>
                                            </select>
                                        </div>

                                        <div class="col-md-6 my-2">
                                            <label class="form-label">3. *Have you filed MGT-14?</label>
                                            <div class="col-xs-12 col-sm-6 col-md-6 form-row">
                                                &nbsp; <input type="radio" name="filedMgt14" class="filedmgt14" value="Y" required=""> &nbsp; Yes &nbsp; <input type="radio" name="filedMgt14" class="filedmgt14" value="N" required=""> &nbsp; No
                                            </div>
                                        </div>

                                        <div class="col-md-12 my-2">
                                            <label class="form-label">(a) lf yes, enter service request number (SRN) of Form MGT-14</label>
                                            <input type="number" placeholder="" class="form-control" value="" name="requestNumber" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                      
                                        <div class="col-md-6 my-2">
                                            <label class="form-label">4 (a) *Name of the state/Union territory where the new registered office of the company would be situated</label>
                                            <select name="state" class="form-select" id="stateDropdown" required>
                                                <option value="">Select State</option>
                                            </select>
                                        </div>

                                      
                                        <div class="col-md-6 my-2">
                                            <label class="form-label">(b) *Name of the office of new ROC where the new proposed registered office of the company would be situated</label>
                                            <select name="officeRoc" class="form-select" id="rocDropdown" required>
                                                <option value="">Select ROC</option>
                                            </select>
                                        </div>


                                        <div class="col-md-12 my-2">
                                            <label class="form-label">5 *Reasons for shifting the Registered Office, along with facts of the case (provide a conclse statement of facts in a chronological order, each paragraph containing as nearly as possible a separate issue, fact or otherwise.)</label>
                                            <input type="text" placeholder="" class="form-control " value="" name="reasonShiftingOffice" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="point6-section">
                                            <div class="col-lg-12 my-1">
                                                <h6 class="typecharge" style="border-bottom:1px solid black; display:inline-block;">
                                                    6. Advertisement and objection details
                                                </h6>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-4 my-2">
                                                    <label class="form-label">(a) *Any objections received in response to the advertisement</label>
                                                    <div>
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" name="isObjections" class="form-check-input anyobjections" value="objectionRecieved" required>
                                                            <label class="form-check-label">Yes</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input type="radio" name="isObjections" class="form-check-input anyobjections" value="objectionNotRecieved" required>
                                                            <label class="form-check-label">No</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 my-2">
                                                    <label class="form-label">(c) *Date of publishing of Advertisement in English</label>
                                                    <input type="date" class="form-control" name="englishAdvertisementDate">
                                                </div>

                                                <div class="col-md-4 my-2">
                                                    <label class="form-label">(d) *Date of publishing of Advertisement in Vernacular Language</label>
                                                    <input type="date" class="form-control" name="vernacularAdvertisementDate">
                                                </div>

                                                <div class="col-md-12 my-2">
                                                    <label class="form-label">(b) Brief details of the objections received in response to the advertisement</label>
                                                    <input type="text" class="form-control" name="briefObjection">
                                                </div>
                                            </div>
                                        </div>






                                        <div class="col-lg-6 my-1 mx-2">
                                            <h6 class="typecharge" style="border-bottom:1px solid black; display:inline-block;">
                                                7. Details of pending prosecution/ inquiry / inspection/ investigation
                                            </h6>
                                        </div>

                                        <div class="col-md-12 my-2">
                                            <label class="form-label">(a) *Whether any prosecution is pending against the company under the Act</label>
                                            <input type="radio" name="prosecution" class="Act" value="Pending" required> &nbsp;Yes&nbsp;
                                            <input type="radio" name="prosecution" class="Act" value="Resolved" required> &nbsp;No
                                        </div>

                                        <div class="col-md-12 my-2">
                                            <label class="form-label">(b) If yes, give brief details of the prosecution</label>
                                            <input type="text" class="form-control" name="prosecutionDetails" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>


                                        <div class="col-md-12 my-2">
                                            <label class="form-label">
                                                8. (a) Whether any of the following is initiated against the company under the Act
                                            </label>
                                            <div class="input text form">
                                                &nbsp; <input type="checkbox" name="inquiry" class="inquiry" value="inquiry"> &nbsp; Inquiry  &nbsp; <input type="checkbox" name="inspection" class="inspection" value="inspection"> &nbsp; Inspection &nbsp; <input type="checkbox" name="investigation" class="investigation" value="investigation"> &nbsp; Investigation
                                            </div>
                                        </div>
                                        <div class="col-md-12 my-2">
                                            <label class="form-label">
                                                (b) If yes, give brief details of the inquiry, inspection, investigation
                                            </label>
                                            <input type="text" placeholder="" class="form-control" value="" name="inspectionDetails" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>


                                        <div class="col-md-12 my-2">
                                            <label class="form-label">9 (a) *Whether the company has serviced the copy of the application with complete annexures with the chief secretary of the state</label>
                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                                &nbsp; <input type="radio" name="applicationCopy" class="company_serviced" value="Y" required=""> &nbsp; Yes &nbsp; <input type="radio" name="applicationCopy" class="company_serviced" value="N" required=""> &nbsp; No
                                            </div>
                                        </div>
                                        <div class="col-md-12 my-2">
                                            <label class="form-label">(b) lf yes, specify the date of acknowledgement of service</label>
                                            <input type="date" placeholder="" class="form-control" value="" name="serviceAcknowledgementDate" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="col-md-12 my-2">
                                            <label class="form-label">
                                                (c) Whether any application is pending before the Adjudicating officers, Central Government and NCLT for condonation of delay, adjudication and compounding
                                            </label>
                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                                &nbsp; <input type="radio" name="pendingApplication" class="company_serviced" value="true" required=""> &nbsp; Yes &nbsp; <input type="radio" name="pendingApplication" class="company_serviced" value="false" required=""> &nbsp; No
                                            </div>
                                        </div>

                                        <div class="col-md-12 my-2">
                                            <label class="form-label">
                                                (d) If yes, specify the details of such pending application
                                            </label>
                                            <input type="text" placeholder="" class="form-control" value="" name="pendingApplicationDetails" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="point10-section" style="display:none;">
                                            <h6>10. LIST OF CREDITORS</h6>
                                            <div class="table-responsive" style="overflow-x: auto;">
                                                <table class="table table-bordered text-center" style="min-width: 1600px;">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th>*Name of Creditor</th>
                                                            <th>Addressline1</th>
                                                            <th>Addressline2</th>
                                                            <th>Country</th>
                                                            <th>Pincode</th>
                                                            <th>Arealocality</th>
                                                            <th>City</th>
                                                            <th>District</th>
                                                            <th>State</th>
                                                            <th>Nature</th>
                                                            <th>Amounts due</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="creditorsTableBody">
                                                        <tr>
                                                            <td>1</td>
                                                            <td><input type="text" class="form-control" required></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td>
                                                                <select class="form-select">
                                                                    <option value="">Select</option>
                                                                    <option value="India">India</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td>
                                                                <select class="form-select">
                                                                    <option value="">Select state</option>
                                                                    <option value="Maharashtra">Maharashtra</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-sm" onclick="addRow('creditorsTableBody')">+ Add Row</button>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow('creditorsTableBody')">✖ Delete Row</button>
                                        </div>

                                        <div class="point11-section" style="display:none;">
                                            <h6>11. LIST OF DEBENTURE HOLDERS</h6>
                                            <div class="table-responsive" style="overflow-x: auto;">
                                                <table class="table table-bordered text-center" style="min-width: 1600px;">
                                                    <thead>
                                                        <tr>
                                                            <th>S. No</th>
                                                            <th>*Name of Debenture holder</th>
                                                            <th>Addressline1</th>
                                                            <th>Addressline2</th>
                                                            <th>Country</th>
                                                            <th>Pincode</th>
                                                            <th>Arealocality</th>
                                                            <th>City</th>
                                                            <th>District</th>
                                                            <th>State</th>
                                                            <th>Nature</th>
                                                            <th>Amounts due</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="debentureTableBody">
                                                        <tr>
                                                            <td>1</td>
                                                            <td><input type="text" class="form-control" required></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td>
                                                                <select class="form-select">
                                                                    <option value="">Select</option>
                                                                    <option value="India">India</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td>
                                                                <select class="form-select">
                                                                    <option value="">Select state</option>
                                                                    <option value="Maharashtra">Maharashtra</option>
                                                                </select>
                                                            </td>
                                                            <td><input type="text" class="form-control"></td>
                                                            <td><input type="text" class="form-control"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <button type="button" class="btn btn-primary btn-sm" onclick="addRow('debentureTableBody')">+ Add Row</button>
                                            <button type="button" class="btn btn-danger btn-sm" onclick="deleteRow('debentureTableBody')">✖ Delete Row</button>
                                        </div>
                                        <template id="rowTemp" class="mt-4">
                                            <div class="row mt-3" id="rowq2">
                                                <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                                                    2.
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-10 form-row">
                                                    <input type="file" name="optionaAttachement" id="attachmentfile_12" class="2">
                                                </div>
                                                <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 " align="center">
                                                    <button type="button" name="remove" id="2" class="btn btn-danger btn_removeeq">X</button>
                                                </div>
                                            </div>
                                        </template>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>
</div>
<script>
    $(document).ready(function () {
        const existingState = "Maharashtra"; // Replace dynamically if needed

        $(".fillig_purpose").on("change", function () {
            const selectedPurpose = $(this).val();

            if (selectedPurpose === "Change in ROC within the same state") {
                $(".point6-section").hide().find("input, select, textarea").prop("required", false);
            } else {
                $(".point6-section").show().find("input, select, textarea").prop("required", true);
            }

            if (selectedPurpose === "Change in State within the jurisdiction of existing ROC") {
                $(".point10-section, .point11-section").show();
            } else {
                $(".point10-section, .point11-section").hide();
            }

            if (selectedPurpose === "Change in State outside the jurisdiction of existing ROC") {
                $("#stateDropdown").off("change").on("change", function () {
                    const newState = $(this).val();
                    if (newState === existingState) {
                        alert("New State entered is same as existing state.");
                        $(this).val("");
                    }
                });
            } else {
                $("#stateDropdown").off("change");
            }
        });
    });
</script>

<script>
    $(document).ready(function () {
        $(".fillig_purpose").on("change", function () {
            const selected = $(this).val();

            if (selected === "Change in State within the jurisdiction of existing ROC") {
                $(".point10-section, .point11-section").show();
            } else {
                $(".point10-section, .point11-section").hide();
            }
        });
    });

    function addRow(tableId) {
        const table = document.getElementById(tableId);
        const rowCount = table.rows.length;
        const row = table.insertRow(rowCount);
        const firstRow = table.rows[0];

        for (let i = 0; i < firstRow.cells.length; i++) {
            const newCell = row.insertCell(i);
            if (i === 0) {
                newCell.innerHTML = rowCount + 1;
            } else {
                newCell.innerHTML = firstRow.cells[i].innerHTML;
                const input = newCell.querySelector('input, select');
                if (input) input.value = '';
            }
        }
    }

    function deleteRow(tableId) {
        const table = document.getElementById(tableId);
        const rowCount = table.rows.length;
        if (rowCount > 1) {
            table.deleteRow(rowCount - 1);
        }
    }
</script>


<script>
        $(document).ready(function () {
        $("input[name='pendingApplication']").on("change", function () {
            const selected = $(this).val();
            const $textInput = $("input[name='pendingApplicationDetails']");

            if (selected === "true") {
                $textInput.prop("disabled", false).prop("required", true);
            } else {
                $textInput.val("").prop("disabled", true).prop("required", false);
            }
        });

        $("input[name='pendingApplicationDetails']").prop("disabled", true);
    });



    $(document).ready(function () {
        $("input[name='applicationCopy']").on("change", function () {
            const selectedValue = $(this).val();
            const $dateInput = $("input[name='serviceAcknowledgementDate']");

            if (selectedValue === "Y") {
                $dateInput.prop("disabled", false).prop("required", true);
            } else {
                $dateInput.val("").prop("disabled", true).prop("required", false);
            }
        });

        $("input[name='serviceAcknowledgementDate']").prop("disabled", true);
    });
    


        $(document).ready(function () {
        function toggleInspectionDetails() {
            const anyChecked = $("input[name='inquiry']").is(":checked") ||
                               $("input[name='inspection']").is(":checked") ||
                               $("input[name='investigation']").is(":checked");

            if (anyChecked) {
                $("input[name='inspectionDetails']").prop("disabled", false).prop("required", true);
            } else {
                $("input[name='inspectionDetails']").val("").prop("disabled", true).prop("required", false);
            }
        }

        $("input[name='inquiry'], input[name='inspection'], input[name='investigation']").on("change", toggleInspectionDetails);

        toggleInspectionDetails();
    });




       $(document).ready(function () {
       
        $(".fillig_purpose").on("change", function () {
            const selected = $(this).val();

           
            if (selected) {
                $("input[name='filedMgt14'][value='Y']").prop("checked", true);
            }

            
            if (selected === "Change in ROC within the same state") {
                $(".point6-section").hide();
               
                $(".point6-section").find("input, select, textarea").prop("required", false);
            } else {
                $(".point6-section").show();
                $(".point6-section").find("input, select, textarea").prop("required", true);
            }
        });

        
        $("input[name='filedMgt14']").on("change", function () {
            if ($(this).val() === "N") {
                alert("Please file MGT-14, prior to filling INC-23.");
                $(this).prop("checked", false);
            }
        });
    });






        $(document).ready(function () {
        $(".fillig_purpose").on("change", function () {
            const selected = $(this).val();
            if (selected) {
                $("input[name='filedMgt14'][value='Y']").prop("checked", true);
            }

            if (selected === "Change in ROC within the same state") {
                $(".point6-section").hide();
                $(".point6-section").find("input, select, textarea").prop("required", false);
            } else {
                $(".point6-section").show();
                $(".point6-section").find("input, select, textarea").prop("required", true);
            }
        });

        $("input[name='filedMgt14']").on("change", function () {
            if ($(this).val() === "N") {
                alert("Please file MGT-14, prior to filling INC-23.");
                $(this).prop("checked", false);
            }
        });

        $("input[name='prosecution']").on("change", function () {
            const selectedValue = $(this).val();
            if (selectedValue === "Pending") {
                $("input[name='prosecutionDetails']").prop("disabled", false).prop("required", true);
            } else {
                $("input[name='prosecutionDetails']").val("").prop("disabled", true).prop("required", false);
            }
        });
    });

</script>
<script>
    $(document).ready(function () {
    
        const rocMap = {
            "Maharashtra": ["ROC Mumbai", "ROC Pune"],
            "Andhra Pradesh": ["ROC Vijayawada"],
            "Arunachal Pradesh": ["ROC Shillong"],
            "Jammu And Kashmir": ["ROC Jammu"]
        };

      
        const states = ["Maharashtra", "Andhra Pradesh", "Arunachal Pradesh", "Jammu And Kashmir"];
        const $stateDropdown = $("#stateDropdown");
        const $rocDropdown = $("#rocDropdown");

       
        states.forEach(state => {
            $stateDropdown.append(`<option value="${state}">${state}</option>`);
        });

      
        $stateDropdown.on("change", function () {
            const selectedState = $(this).val();
            $rocDropdown.empty().append('<option value="">Select ROC</option>');

            if (rocMap[selectedState]) {
                rocMap[selectedState].forEach(roc => {
                    $rocDropdown.append(`<option value="${roc}">${roc}</option>`);
                });
            }
        });
    });
</script>


@section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",

            filligPurpose: "",
            filedMgt14: "",
            requestNumber: "",
            state: "",
            officeRoc: "",
            reasonShiftingOffice: "",
            isObjections: "",
            englishAdvertisementDate: "",
            vernacularAdvertisementDate: "",
            briefObjection: "",
            prosecution: "",
            prosecutionDetails: "",
            inquiry: "",
            inspection: "",
            investigation: "",
            inspectionDetails: "",
            applicationCopy: "",
            serviceAcknowledgementDate: "",
            pendingApplication: "",
            pendingApplicationDetails: "",


            //PART 2
            attorney: "",
            newspaperadv: "",
            authorityProof: "",
            resolutionNumber: "",
            resolutionDate: "",
            attachmentDeclaration: "",
            attachmentDeclaration2: "",
            authorityDeclaration: "",
            paymentDeclaration: "",
            jurisdictionDeclaration: "",
            shiftingDeclaration: "",
            enquiryDeclaration: "",
            declarationDesignation: "",
            signatory: "",
            din: "",

        }

        let rowCount = 1; // Initialize row count
        $('#attachmentadd').click(function () {
            rowCount++;
            const templateContent = $('#rowTemp').html();
            const newRow = $(templateContent.replace(/2/g, rowCount));
            $('#equity').append(newRow);
            $('#l').val(rowCount);
        });

        // Remove row
        $('#equity').on('click', '.btn_removeeq', function () {
            $(this).closest('.row').remove(); // Remove the closest row
            rowCount--; // Decrement row count
            $('#l').val(rowCount); // Update the hidden input value
        });

        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })

        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })

        }


    </script>

}