<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }
</style>

<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No.INC-20A
                </h3>

            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Declaration for commencement of business

                    [Pursuant to Section 10A(1)(a) of the Companies Act, 2013 and Rule 23A of the companies (lncorporation) Rules, 2014]
                </p>

            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca-aem-forms/instructionkits/Instruction%20Kit_INC-20A.pdf" target="_blank">

                    Refer instruction kit for filing the form

                </a>
            </div>
        </div>

    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Company Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Declaration & Attachments
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>


            </main>
        </div>
    </div>

    <div id="part2" class="p-0">
        <div class="card" style="padding:20px;>


            <label style="font-weight:bolder;text-decoration: underline;text-transform: uppercase;">Declaration</label><br>

            <div class="row" style="height: auto">
                <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="padding: 10px;height: auto;">
                    <p style="text-align: justify;">
                        I am authorised by the Board of Directors of the Company vide resolution no
                        &nbsp;
                        <input type="number" name="resolutionNumber" class="num" placeholder="Resolution Number" value="" required>
                        &nbsp;&nbsp;
                        dated
                        &nbsp;
                        <input type="date" name="resolutionDate" class="datepicker hasDatepicker" id="resolutiondate" placeholder="" value="" required>
                        to sign this form and declare that all the requirements of the Companies Act, 2013 and the rules made thereunder in respect of the subject matter of this form and matters incidental thereto have been complied with.
                        <br>
                    </p>

                    I further declare that:<br><br>
                    <p style="text-align: justify;">1 Whatever is stated in this form and in the attachments thereto is true, correct and complete and no information material to the subject matter of this form has been suppressed or concealed and is as per the original records maintained by the company.</p>

                    <p style="text-align: justify;">2 All the required attachments have been completely and legibly attached to this form.</p>

                    <p style="text-align: justify;">3 Every subscriber to the MOA has paid the value for shares agreed to be taken by him.</p>

                    <p style="text-align: justify;">4 The company has filed with the registrar a verification of its registered office as provided in subsection (2) of section 12.</p>

                </div>
            </div>

            <div class="row mb-2">
                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                    Name of Director for DSC
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                    <select name="director" class="form-select director num">
                        <option value="">Select Director</option>
                        <option value="09475141">Mokshank Dilipbhai Savla</option>
                        <option value="09473752">Rakshit Dilip Savla</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                    DIN
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                    <input type="text" name="directorDin" class="form-control" id="director_din" value="">
                </div>
            </div>



            <label style="font-weight:bolder;text-decoration: underline;text-transform: uppercase;">Certificate by Practicing Professionals</label>

            <div class="row my-3">
                <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="padding: 10px;height: auto;">
                    <p style="text-align: justify;">I declare that I have been duly engaged for the purpose of certification of this form. It is hereby certified that I have gone through the provisions of the Companies Act, 2013 and Rules thereunder relevant to this form and I have verified the above particulars (including attachment(s)) from the original records maintained by the Company/applicant which is subject matter of this form and found them to be true, correct and complete and no information material to this form has been suppressed.</p>
                </div>
            </div>


            <div class="row my-3">
                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                    Category [In whole time practice]
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 form-row">
                    &nbsp;<input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="radio" name="category" value="charteredAccountant" required>&nbsp; Chartered Accountant &nbsp;
                    <input type="radio" name="category" value="costAccountant" required>&nbsp; Cost Accountant or&nbsp;
                    <input type="radio" name="category" value="companySecretary" required>&nbsp;Company Secretary
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 bold form-row CERT_PRACTICE_NO1" style="display: block;">
                    Company Secretary
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 form-row CERT_PRACTICE_NO1" style="text-align: center; display: block;">
                    <select style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" class="form-select" name="pcs" aria-label="Default select example">
                        <option value="">Select PCS</option>
                        <option value="265">PAKSHAL KIRAN SHAH (CHARTERED ACCOUNTANT)</option>
                    </select>
                </div>
            </div>

            <div class="row my-3 mb-3">
                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                    Whether associate or fellow
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                    &nbsp;<input type="radio" name="membershipStatus" value="associate" required>&nbsp; Associate&nbsp;
                    <input type="radio" name="membershipStatus" value="fellow" required>&nbsp;Fellow&nbsp;
                </div>

                <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                    Membership number or Certificate of practice number
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                    <input type="text" class="form-control membershipnumber" name="membershipNumber" value="" required>
                </div>
            </div>

            <label style="font-weight:bolder;text-decoration: underline;;text-transform: uppercase;">Attachments</label><br><br>

            <div class="row my-2">
                <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                    Sr. No
                </div>
                <div class="col-xs-12 col-sm-12 col-md-11 bold form-row my-2">
                    (a) *Photograph of Registered Office showing external building and inside office also showing therein at least one Director/ KMP
                </div>
            </div>
            <div id="equity1">
                <div class="row" id="rowel1">
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                        1.
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 form-row">
                        <input type="file" name="PhotoGraph" id="Photograph" class="1" required>
                    </div>
                </div>
            </div>

           
            <div id="rbiCertificateContainer" style="display: none;">
                <div class="row my-2">
                    <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                        Sr. No
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 bold form-row my-2">
                        (b) Certificate of Registration issued by the RBI (Only in case of Non-Banking Financial Companies) from other regulator
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                        2.
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 form-row">
                        <input type="file" name="RBICertificate" id="RBICertificate">
                    </div>
                </div>
            </div>




            <div class="row my-2">
                <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                    Sr. No
                </div>
                <div class="col-xs-12 col-sm-12 col-md-11 bold form-row">
                    (c) Notification declaration as a Nidhi Company
                </div>
            </div>
            <div id="equity3">
                <div class="row" id="rowel1">
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                        2.
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 form-row">
                        <input type="file" name="Notification" id="Notification" class="1">
                    </div>
                </div>
            </div>



          
            <div class="row mt-3">
                <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                    Sr. No
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 bold form-row">
                    (c) Optional Attachment(s) - if any
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                    <button type="button" name="attachmentadd" id="attachmentadd" class="btn-sm btn-primary">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>

            
            <div id="optionalAttachments">
                <div class="row mt-2 attachment-row" id="roweq1">
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row text-center">
                        1.
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-11 form-row d-flex">
                        <input type="file" name="attachment_file[]" id="attachmentfile_1" class="form-control" accept=".pdf,.xlsx">
                    </div>
                </div>
            </div>


        </div>

    </div>



    <div id="part1" class="p-0">



        @*  tab-1 *@

        <div class="col-md-12 p-0">
            <div class="accordion" id="companyAccordion">
                <div class="accordion-item">


                    <div id="collapseDetails" aria-labelledby="detailsHeading" data-bs-parent="#companyAccordion">
                        <div class="card">

                            <div class="card-body">
                                    <input type="hidden" class="num" value="0" name="id" />
                                    <input type="hidden" class="num" value="0" name="companyId" />
                                    <div class="row">


                                        <div class="  d-flex justify-content-between mx-1 pt-3 ">
                                            <p class="card-title mb-0 " style="margin-top:1px; border-bottom:1px solid black;">
                                                Company Information
                                            </p>
                                        </div>
                                        <div class="col-md-6 my-2">
                                            <label class="form-label">1. Corporate Identity Number (CIN) or Foreign Company Registration Number (FCRN)</label>
                                            <input type="text" placeholder="" class="form-control" value="" name="cin" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-6 my-2">
                                            <label class="form-label">2. (a) Name of the Company</label>
                                            <input type="text" placeholder="" class="form-control" value="" name="companyName" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-lg-6 my-2">
                                            <label class="form-label">2. (b) Address of the registered office or principal place of business in India of the company</label>
                                            <input type="text" placeholder="" class="form-control" value="" name="companyAddress" sstyle="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-lg-6 my-2">
                                            <label class="form-label">2. (c) E-mail ID of the company</label>
                                            <input type="email" placeholder="" class="form-control" value="" name="companyEmail" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        

                                        <div class="col-md-6 my-3">
                                            <label class="form-label">(d) *Longitude</label>
                                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="number" placeholder="" class="form-control num dec" value="" name="longitude">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <label class="form-label">(e) *Latitude</label>
                                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="number" placeholder="" class="form-control num dec" value="" name="latitude">
                                            <div class="invalid-feedback"></div>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12 col-sm-9 col-md-9 form-row bold">
                                                3 *Whether the company’s activities are regulated by a Sectoral Regulator like RBI, SEBI, IRDAI etc.
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                                <input type="radio" class="isregulated" value="Y" required name="isRegulatedBySector">&nbsp; Yes &nbsp;&nbsp;
                                                <input type="radio" name="isRegulatedBySector" class="isregulated" value="N" required>&nbsp; No
                                            </div>
                                        </div>

                                        <div class="row my-4">
                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold showonisregulated" style="display: block;">
                                                (a) If Yes, specify Name of the regulator
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row showonisregulated" style="display: block;">
                                                <select id="regulatorName" name="regulatorName" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" class="form-select" aria-label="Default select example">
                                                    <option value="">Select Regulator</option>
                                                    <option value="RBI">RBI</option>
                                                    <option value="SEBI">SEBI</option>
                                                    <option value="IRDA">IRDA</option>
                                                    <option value="MCA">MCA</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>

                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold showonothers" style="display: none;">
                                                (b) If Others, please specify
                                            </div>
                                            <div class="col-xs-12 col-sm-3 col-md-3 form-row showonothers" style="display: none;">
                                                <input type="text" name="otherRegulatorName" id="otherRegulatorName" class="form-control" value="">
                                            </div>
                                        </div>

                                        <div class="col-md-6 my-3">
                                            <label for="letterNumber" class="form-label">(c) Letter number/registration number/approval issued under section 406</label>
                                            <input id="letterNumber" name="letterNumber" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" placeholder="" class="form-control" value="">
                                            <div class="invalid-feedback"></div>
                                        </div>
                                        <div class="col-md-6 my-3">
                                            <label for="approvalDate" class="form-label">(d) Date of approval/registration of regulatory body as the case may be</label>
                                            <input id="approvalDate" name="approvalDate" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" placeholder="" class="form-control" value="">
                                            <div class="invalid-feedback"></div>
                                        </div>

                                    <div class="d-flex justify-content-between mx-1 pt-3">
                                        <p class="card-title mb-0" style="margin-top:1px; border-bottom:1px solid black;">
                                            4. Details of subscriber payment for value of shares
                                        </p>
                                    </div>

                                   
                                    <div class="col-md-12 my-3">
                                        <label class="form-label">
                                            (a) *Number of Shareholders for which the company wishes to report
                                        </label>
                                        <input type="number" min="2" max="200" class="form-control" id="numberOfShareholders" name="numberOfShareholders" placeholder="Enter between 2 and 200">
                                        <div id="shareholderError" class="text-danger mt-1" style="display:none;">Please enter a value between 2 and 200 (inclusive).</div>
                                    </div>

                                   
                                    <div class="table-responsive" id="tableContainer" style="display: none;">
                                        <table class="table table-bordered" id="shareholdersTable">
                                            <thead>
                                                <tr>
                                                    <th>S.No.</th>
                                                    <th>Name of Shareholder</th>
                                                    <th>Bank Name with IFSC</th>
                                                    <th>Account Number</th>
                                                    <th>Date of Receipt</th>
                                                    <th>Amount of Receipt</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- Dynamic rows inserted here -->
                                            </tbody>
                                        </table>
                                    </div>



                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        let attachmentIndex = 1;

        document.getElementById("attachmentadd").addEventListener("click", function () {
            attachmentIndex++;

            const container = document.getElementById("optionalAttachments");

            const row = document.createElement("div");
            row.className = "row mt-2 attachment-row";
            row.id = `roweq${attachmentIndex}`;

            row.innerHTML = `
                <div class="col-xs-12 col-sm-12 col-md-1 form-row text-center">
                    ${attachmentIndex}.
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 form-row">
                    <input type="file" name="attachment_file[]" id="attachmentfile_${attachmentIndex}" class="form-control" accept=".pdf,.xlsx">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-1 form-row text-center">
                    <button type="button" class="btn btn-danger btn-sm remove-attachment">×</button>
                </div>
            `;

            container.appendChild(row);
        });

      
        document.getElementById("optionalAttachments").addEventListener("click", function (e) {
            if (e.target && e.target.classList.contains("remove-attachment")) {
                const row = e.target.closest(".attachment-row");
                row.remove();
                updateAttachmentNumbers();
            }
        });

       
        function updateAttachmentNumbers() {
            const rows = document.querySelectorAll("#optionalAttachments .attachment-row");
            attachmentIndex = 0;
            rows.forEach((row, index) => {
                attachmentIndex = index + 1;
                row.id = `roweq${attachmentIndex}`;
                row.querySelector("div").innerHTML = `${attachmentIndex}.`;
                row.querySelector("input[type='file']").id = `attachmentfile_${attachmentIndex}`;
            });
        }
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const regulatorRadios = document.querySelectorAll('input[name="isRegulatedBySector"]');
        const rbiCertificateContainer = document.getElementById('rbiCertificateContainer');

        regulatorRadios.forEach(radio => {
            radio.addEventListener('change', function () {
                if (this.value === 'Y') {
                    rbiCertificateContainer.style.display = 'block';
                } else {
                    rbiCertificateContainer.style.display = 'none';
                   
                    document.getElementById('RBICertificate').value = '';
                }
            });
        });
    });
</script>

<script>
    document.getElementById('numberOfShareholders').addEventListener('input', function () {
        const count = parseInt(this.value);
        const errorEl = document.getElementById('shareholderError');
        const tableContainer = document.getElementById('tableContainer');
        const tableBody = document.getElementById('shareholdersTable').querySelector('tbody');

        tableBody.innerHTML = '';
        errorEl.style.display = 'none';
        tableContainer.style.display = 'none';

       
        if (!isNaN(count) && count >= 2 && count <= 200) {
            tableContainer.style.display = 'block';

            for (let i = 1; i <= count; i++) {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${i}</td>
                    <td><input type="text" name="shareholderName${i}" class="form-control" /></td>
                    <td><input type="text" name="bankName${i}" class="form-control" /></td>
                    <td><input type="text" name="accountNumber${i}" class="form-control" /></td>
                    <td><input type="date" name="dateOfReceipt${i}" class="form-control" value="${new Date().toISOString().split('T')[0]}" /></td>
                    <td><input type="number" name="amountOfReceipt${i}" class="form-control" /></td>
                `;
                tableBody.appendChild(row);
            }
        } else if (!isNaN(count)) {
            errorEl.style.display = 'block';
        }
    });
</script>
<script>
    $(document).ready(function () {
       
        function toggleRegulatorFields() {
            const isRegulated = $('input[name="isRegulatedBySector"]:checked').val();
            const selectedRegulator = $('#regulatorName').val();

            if (isRegulated === 'Y') {
                $('.showonisregulated').show();

                if (selectedRegulator === 'Others') {
                    $('.showonothers').show();
                } else {
                    $('.showonothers').hide();
                }
            } else {
                $('.showonisregulated').hide();
                $('.showonothers').hide();
            }
        }

       
        toggleRegulatorFields();

       
        $('input[name="isRegulatedBySector"]').change(function () {
            toggleRegulatorFields();
        });

      
        $('#regulatorName').change(function () {
            toggleRegulatorFields();
        });
    });
</script>



@section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",

            longitude:0,
            latitude:0,

            isRegulatedBySector: "",       // String, "Y" or "N"
            regulatorName: "",             // String, e.g., "RBI", "SEBI", etc.
            otherRegulatorName: "",        // String, only if "Others" selected
            letterNumber: "",              // String, letter number/registration number
            approvalDate: "",

            numberOfShareholders: 0,

            resolutionNumber: 0,  // Number, resolution number
            resolutionDate: "",   // String (Date), resolution date

            director: 0,      // String, selected director value (ID)
            directorDin:"",   // String, entered DIN for the director
            category: "",
            pcs: "",
            membershipStatus: "",
            membershipNumber: ""
        }

        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })

        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })

        }


    </script>

}