<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }

    input {
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05) !important;
    }
</style>

<div class="row" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No. PAS-6
                </h3>

            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Reconciliation of Share Capital Audit Report (Half-Yearly)

                    [Pursuant to sub-rule (8) of rule 9A Companies (Prospectus and Allotment of Securities Rules, 2014)]
                </p>

            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca-aem-forms/instructionkits/Instruction%20Kit_PAS-6.pdf" target="_blank">

                    Refer instruction kit for filing the form

                </a>
            </div>

        </div>

    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Entity's Details
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Declaration & Attachments
                                        </span>
                                    </a>
                                </li>

                            </ul>
                        </div>

                    </div>
                </div>


            </main>
        </div>
    </div>


    <div id="part1" class="p-0">

        <div class="col-md-12 p-0">
            <div class="card">

                <div class="card-body">
                    <input type="hidden" class="num" value="0" name="id" />
                    <input type="hidden" class="num" value="0" name="companyId" />
                    <div class="row">
                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;">Company Details</label>

                        <div class="col-md-6 my-2">
                            <label class="form-label">1. *Corporate Identity Number (CIN)</label>
                            <input placeholder="U22219MH2022PTC37558" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" class="form-control" id="" name="cin" value="" disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-6 my-2">
                            <label class="form-label">2 .(a) *Name of Company</label>
                            <input placeholder="AKSHAY GRAPHICS PRIVATE LIMITED" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" class="form-control" id="" name="companyName" value="" disabled>
                            <div class="invalid-feedback"></div>
                        </div>


                        <div class="col-md-6 my-2">
                            <label class="form-label">(b) *Registered office</label>
                            <input placeholder="SHOP NO 3 VERTEX VIKAS CHS LTD   WING A SIR M V RD BHD POLICE STN ANDHERI, MUMBAI, Mumbai City, Maharashtra, India, 400069" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" class="form-control" id="" name="companyAddress" value="" disabled>
                            <div class="invalid-feedback"></div>
                        </div>


                        <div class="col-md-6 my-2">
                            <label class="form-label">(c) *Email Id</label>
                            <input placeholder="akshaygraphics69@gmail.com" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" class="form-control" id="" name="companyEmail" value="" disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;">Filing Details</label>

                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;">3. Period of filing </label>
                        <div class="col-md-6 my-2">
                            <label class="form-label">*From (DD/MM/YYYY)</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" class="form-control" id="" name="fromDate" value="">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-6 my-2">
                            <label class="form-label">*To (DD/MM/YYYY)</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="date" class="form-control" id="" name="toDate" value="" disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-12 my-2">
                            <label class="form-label">4. *Number of Classes of shares / securities</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" name="securities" type="text" class="form-control num" id="reason" value="">
                            <div class="invalid-feedback"></div>
                        </div>


                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;">5. Details of shares as per class</label>
                        <div class="col-xs-12 col-sm-1 col-md-1 form-row bold  mt-2">
                            (d)
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 form-row">
                        </div>
                        <div class="col-md-4 my-2">
                            <label class="form-label">Number of shares</label>

                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3  form-row bold">
                            Percentage of Total Issued Capital
                        </div>
                        <div class="col-xs-12 col-md-1 col-md-1 form-row bold  mt-2">
                            (i)
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 form-row bold  mt-2">
                            *Held in dematerialized form in CDSL
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2 ">
                            <input type="text" name="heldSharesOfCdsl" id="dematerializedForm" class="form-control num HeldNdSl" value="">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4  form-row mt-2">
                            <input type="text" name="heldCapitalsOfCdsl" id="CDSL" class="form-control num dec" value="" readonly="" disabled>
                        </div>

                        <div class="col-xs-12 col-md-1 col-md-1 form-row bold  mt-2">
                            (ii)
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 form-row bold  mt-2">
                            *Held in dematerialized form in NSDL
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <input type="text" name="heldSharesOfNsdl" id="dematerialized" class="form-control num HeldNdSl" value="">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4  form-row mt-2">
                            <input type="text" name="heldCapitalsOfNsdl" id="NSDL" class="form-control num dec" value="" readonly="" disabled />
                        </div>
                        <div class="col-xs-12 col-md-1 col-md-1 form-row bold mt-2">
                            (iii)
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 form-row bold  mt-2">
                            *Held in physical form
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <input type="text" name="sharesHeldPhysicalForm" id="physicalForm" class="form-control num HeldNdSl" value="">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4  form-row mt-2">
                            <input type="text" name="capitalHeldPhysical" id="physicalHeld" class="form-control num dec" value="" readonly="" disabled>
                        </div>
                        <div class="col-xs-12 col-md-1 col-md-1 form-row bold  mt-2">
                            (iv)
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 form-row bold  mt-2">
                            *Total number of issued shares
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row  mt-2">
                            <input type="text" name="issuedShares" id="HeldCDSLOf1" class="form-control num HeldNdSl" value="" disabled>
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4  form-row mt-2">
                            <input type="text" name="numberTotal" id="HeldCapital" class="form-control num dec" value="100" readonly="" disabled>
                        </div>

                        <div class="col-md-12 my-2">
                            <label class="form-label">(e) Reason for shares held in physical form</label>
                            <input style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" type="text" class="form-control" name="reasonOfPhysicalShares" value="">
                            <div class="invalid-feedback"></div>
                        </div>

                        <label style="font-weight:bolder;text-decoration: underline;margin-bottom:10px;text-transform: uppercase;">(f) Details of changes in share capital during the half-year under consideration as per table below:</label>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                            Particulars
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                            Number of shares
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row bold">
                            Whether intimated to NSDL
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row bold">
                            Whether intimated to CDSL
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (i) Number of shares at the beginning of the reporting period
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2">
                            <input type="text" name="beginningShares" class="form-control number1 SharesDetails num" maxlength="14" id="SharesNumber" required="" value=" ">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <input type="hidden" name="reportingWhether" class="form-control" value="">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <input type="hidden" name="sharesNumber" class="form-control num" id="PeriodCDSL" value="">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (ii) Rights
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input type="text" name="rightsNumberOfShares" class="form-control number1 SharesDetails  num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="rightsNSDL" class="form-select" id="RightsNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="rightsCDSL" class="form-select" id="RightsCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (iii) Bonus
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input type="text" name="bonusShares" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2 ">
                            <select name="bonusIntimateToNSDL" class="form-select" id="bonussNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="bonusIntimateToCDSL" class="form-select" id="bonusCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (iv) Private Placement
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2">
                            <input type="text" name="privatePlacementShares" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="privatePlacementToNSDL" class="form-select" id="placementNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="privatePlacementToCDSL" class="form-select" id="placementCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (v) ESOPs
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2">
                            <input type="text" name="sharesOfESOPs" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="esopIntimatedToNSDL" class="form-select" id="eSOPssNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="esopIntimatedToCDSL" class="form-select" id="eSOPsCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (vi) Amalgamation
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2">
                            <input type="text" name="sharesOfAmalgamation" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="amalgamationNSDL" class="form-select" id="amalgamationNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="amalgamationCDSL" class="form-select" id="amalgamationCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (vii) Conversion
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input type="text" name="sharesOfConversion" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="conversionNSDL" class="form-select" id="conversionNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="conversionCDSL" class="form-select" id="conversionCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (viii) Buy Back
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2">
                            <input type="text" name="sharesOfBuyBack" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="buyNSDL" class="form-select" id="buyNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="buyCDSL" class="form-select" id="buyCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (ix) Capital Reduction
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input type="text" name="sharesOfCapitalReduction" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="reductionNSDL" class="form-select" id="reductionNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="reductionCDSL" class="form-select" id="reductionCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (x) Forfeiture
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input type="text" name="sharesOfForfeiture" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="forfeitureNSDL" class="form-select" id="forfeitureNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="forfeitureCDSL" class="form-select" id="forfeitureCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (xi) Any Other (Please specify)
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input type="text" name="anyOtherShares" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="specifyNSDL" class="form-select" id="specifyNSDL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>
                            </select>
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                            <select name="specifyCDSL" class="form-select" id="specifyCDSL" required="">
                                <option value="">Select Here</option>
                                <option value="Yes">Yes</option>
                                <option value="No">No</option>
                                <option value="NA">NA</option>

                            </select>
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-2">
                            (xii) Number of shares at the end of the reporting period
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-2 ">
                            <input disabled type="text" name="totalReportingShares" class="form-control number1 SharesDetails num" maxlength="14" id="RightsNumber" required="" value="">
                        </div>
                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                        </div>

                        <div class="col-xs-12 col-sm-3 col-md-3  form-row mt-2">
                        </div>


                        <label style="font-weight:bolder;text-decoration: none; margin: 0px 5px; text-transform: uppercase;">(g) Details of Shares held by:</label>

                        <div class="row mt-2" style="margin-bottom: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                Demat
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row bold">
                                Physical
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row bold">
                                Total
                            </div>
                        </div>

                        <div class="row mt-2" style="margin-bottom: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                (i) *Promoters
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                <input type="text" name="promotersOfDemat" id="PromotersOfDemat" class="form-control num demate" value="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="promotersOfPhysical" id="PromotersOfPhysical" class="form-control num physicalShare" value="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="promotersOfTotal" id="PromotersOfTotal" class="form-control num" value="" readonly="">
                            </div>
                        </div>

                        <div class="row mt-2" style="margin-bottom: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                (ii) *Directors
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                <input type="text" name="directorsDemat" class="form-control num demate" id="DirectorsDemat" value="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="directorsPhysical" id="DirectorsPhysical" class="form-control num physicalShare" value="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="directorsTotal" class="form-control num" id="DirectorsTotal" value="" readonly="">
                            </div>
                        </div>


                        <div class="row mt-2" style="margin-top: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                (iii) *KMPs
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                <input type="text" name="kmpsDemat" class="form-control num demate" id="kmpsDemat" value="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="kmpsPhysical" class="form-control num physicalShare" id="kmpsPhysical" value="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="kmpsTotal" class="form-control num" id="kmpsTotal" value="" readonly="">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                6. (a) *Whether the Registrar of Members is updated
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                &nbsp; &nbsp; <input type="radio" name="whetherMembers" required="" value="Yes" checked> Yes &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="whetherMembers" required="" value="No"> No &nbsp;
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row bold datetoUp" style="display: none;">
                                (b) If no, the date upto which it has been updated
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row datetoUp" style="display: none;">
                                <input type="date" name="updateDate" class="form-control datepicker hasDatepicker" id="updateDate" value="" required="required">
                            </div>
                        </div>

                        <label style="font-weight:bolder;text-decoration: none;margin: 0px  5px;text-transform: uppercase;" class="mt-3">7 Details of Demat requests:</label>
                        <div class="row mt-2" style="margin-bottom: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                Total No. of Demat requests
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                No. of requests
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row bold">
                                No. of share
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row bold">
                                Reasons for delay
                            </div>
                        </div>

                        <div class="row mt-2" style="margin-bottom: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                (a) Confirmed after 21 Days
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                <input type="text" name="confirmedRequests" id="ConfirmedRequests" maxlength="5" class="form-control num" value="" required="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="confirmedShare" class="form-control num" id="ConfirmedShare" maxlength="14" value="" required="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="confirmedDelayReasons" id="ConfirmedReasons" class="form-control" value="" required="">
                            </div>
                        </div>
                        <div class="row mt-2" style="margin-top: 0px;">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                (b) Pending for more than 21
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                                <input type="text" name="pendingRequests" id="PendingRequests" maxlength="5" class="form-control num" value="" required="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="pendingShare" class="form-control num" id="PendingShare" maxlength="14" value="" required="">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3  form-row">
                                <input type="text" name="pendingDelayReasons" class="form-control" id="PendingReasons" value="" required="">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-8 col-md-8 form-row bold">
                                8.(a) *Whether there is appointment of common agency for share registry work
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4  form-row">
                                &nbsp; &nbsp; <input type="radio" name="whetherAppointment" required="" value="true"> Yes &nbsp; &nbsp; &nbsp;
                                <input type="radio" name="whetherAppointment" required="" value="false"> No &nbsp;
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12  form-row mt-2 agency" style="display:none">

                            (b) If yes, please provide the name of the said agency

                            <input type="text" name="agencyCompanyName" class="form-control" id="PendingReasons" value="" required="">
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12  form-row mt-2">

                            9 Any other detail that the professional signing this form may like to provide:


                            <input type="text" name="otherDetails" class="form-control" id="PendingReasons" value="" required="">
                        </div>


                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="part2" class="p-0">
        <div class="card" style="padding:10px;">

            <label style="font-weight:bolder;text-decoration: underline;text-transform: uppercase;" class=" mx-3 my-3">Verification</label>

            <div class="row">
                <div class="form-row" style="height: auto;">
                    <p style="text-align: justify;padding: 5px;">I am authorized by the Board of Directors of the Company vide resolution no &nbsp; <input type="text" name="resolutionNumber" class="num" id="ResolutionNumber" placeholder="Resolution Number" required="" value=""> &nbsp; dated (DD/MM/YYYY) &nbsp; <input type="date" name="resolutionDate" id="ResolutionDate" placeholder="Resolution Date" required="" class="datepicker hasDatepicker" value=""> &nbsp; to sign this form and declare that all the requirements of Companies Act, 2013 (18 of 2013), the Depositories Act, 1996 (22 of 1996) and the rules/regulations made thereunder in respect of the subject matter of this form and matters incidental thereto have been complied with. I also declare that all the information given herein above is true, correct and complete including the attachments to this form and nothing material has been suppressed.</p>
                </div>
            </div>

            <div class="row" style="height: auto;">
                <div class="col-xs-12 col-sm-12 col-md-12 form-row mx-2" style=" display:flex; align-items:center;">
                    It is hereby further certified that the Professional &nbsp;
                    <input type="text" name="certifiedName" id="ProfessionalFurther" placeholder="Name" value="" required=""> &nbsp; a &nbsp;
                    <select class="form-select" name="profession" id="ProfessionalCS" style="width: 15%;" required="">
                        <option value="">Select</option>
                        <option value="Chartered Accountant">Chartered Accountant</option>
                        <option value="Company Secretary">Company Secretary</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3" style="margin-bottom: 0px;">
                <div class="col-xs-12 col-sm-3 col-md-3 bold">
                    *Designation
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9 bold">
                    Director identification number of the director; or DIN or PAN of the manager or CEO or CFO; or Membership number of the Company Secretary
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <select class="form-select" name="designation" id="designation">
                        <option value="">Select designation</option>
                        <option value="Director">Director</option>
                        <option value="Manager">Manager</option>
                        <option value="Company Secretary">Company Secretary</option>
                        <option value="CFO">CFO</option>
                        <option value="CEO">CEO</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-9 col-md-9" id="change_designation"><input type="text" name="din" id="Directorin" class="form-control num" value="" required=""></div>
            </div>


            <label style="font-weight:bolder; padding-top:10px; text-decoration: underline;margin: 0px  5px;text-transform: uppercase;">Certificate by Practicing Professional</label>

            <div class="row mt-3" style="height: auto;">
                <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="height: auto;padding: 0.5%;">
                    <p style="text-align: justify;">
                        *I declare that I, &nbsp; <input type="text" placeholder="Name" name="professionalName" id="ProfessionalName" value="" style="width: 20%;" readonly=""> &nbsp; , residing at &nbsp; <input type="text" placeholder="Address of Professional" name="professionalAddress" id="ProfessionalAddress" value="" style="width: 25%;"> &nbsp; , having the email &nbsp; <input type="text" placeholder="Email of Professional" name="professionalEmail" id="ProfessionalEmail" value="" style="width: 20%;"> &nbsp; have been duly engaged for the purpose of certification of this form. It is hereby certified that I have gone through the provisions of the Companies Act, 2013 (18 of 2013), the Depositories Act,1996 (22 of 1996) and rules/regulations made thereunder for the subject matter of this form and matters incidental thereto and I have verified the above particulars (including attachment{s)) from the original records maintained by the Company &nbsp; <input type="text" placeholder="Name of Company" name="companyName" id="companyofName" value="AKSHAY GRAPHICS PRIVATE LIMITED" readonly="" style="width: 20%;"> &nbsp; which is subject matter of this form and found them to be true, correct and complete and no Information material to this form has been suppressed.
                    </p>

                    <p style="text-align: justify;">I further certify that:</p>

                    <ul>
                        <li>
                            <p style="text-align: justify;">a The said records have been properly prepared, signed by the required officers of the Company and maintained as per the relevant provisions of the Companies Act, 2013 and were found to be in order;</p>
                        </li>
                        <li>
                            <p style="text-align: justify;">b All the required attachments have been completely and legibly attached to this form;</p>
                        </li>
                        <li>
                            <p style="text-align: justify;">c It is understood that I shall be liable for action under Section 448 of the Companies Act, 2013 for wrong certification, if any found at any stage.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xs-11 col-sm-3 col-md-3 bold form-row">
                    Professional (In whole time practice)
                </div>
                <div class="col-xs-11 col-sm-5 col-md-5 form-row">
                    &nbsp; &nbsp; <input type="radio" name="professionalType" class="CharteredAccountant" value="Chartered Accountant (in wholetime practice)" checked> Chartered Accountant &nbsp; &nbsp;
                    <input type="radio" name="professionalType" class="CompanySecretary" value="Company Secretary (in whole-time practice)"> Company secretary
                </div>
                <div class="col-xs-11 col-sm-2 col-md-2 bold form-row nameofpcs" style="display: none;">
                    Company Secretary
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 form-row nameofpcs" style="display: none;">
                    <select name="nameOfPcs" id="nameofpcs" class="form-select">
                        <option value="">Select PCS</option>
                        <option value="265">PAKSHAL KIRAN SHAH (CHARTERED ACCOUNTANT)</option>
                        <option value="439">Pooja Gandhi (Practicing Company Secretary)</option>
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-xs-11 col-sm-3 col-md-3 bold form-row">
                    Whether associate or fellow:
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 form-row">
                    &nbsp; &nbsp; <input type="radio" name="nameOfAssociate" id="Capacity" value="Associate"> Associate &nbsp; &nbsp; &nbsp;
                    <input type="radio" name="nameOfAssociate" id="NameofAssociate" value="Fellow"> Fellow
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 bold form-row">
                    Membership number / Certificate of practice number
                </div>
                <div class="col-xs-11 col-sm-3 col-md-3 form-row">
                    <input type="text" class="form-control num" name="certificateNumber" id="CertificateNumber" value="">
                </div>
            </div>
            <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;" class="mx-3">Attachments</label><br><br>


            <div class="row mb-3">
                <div class="col-xs-12 col-sm-1 col-md-1 bold form-row" align="center">
                    Sr. No
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10 bold form-row">
                    (a) Optional attachment(s) - if any
                </div>
                <div class="col-xs-12 col-sm-1 col-md-1 form-row" align="center">
                    <button type="button" name="attachmentadd" id="attachmentadd" class="btn btn-primary" style=" padding: 4px 8px !important;"><i class="fa fa-plus" style="margin:0 !important;"></i></button>
                </div>
            </div>
            <div id="equity2">

                <div class="row" id="rowel1">
                    <div style="display :flex">
                        <div class="col-xs-12 col-sm-12 col-md-1 form-row my-2" align="center">
                            1.
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 form-row my-2">
                            <input type="file" name="optionalAttachment" id="residence_1" class="1" required="">
                        </div>
                    </div>


                </div>
            </div>
            <template id="optinalContainer">
                <div class="row mt-3" id="rowq2">
                    <div class="col-xs-12 col-sm-12 col-md-1 form-row srNo" align="center"> 2. </div>
                    <div class="col-xs-12 col-sm-12 col-md-10 form-row">
                        <input type="file" name="optionalAttachment" id="attachmentfile_12" class="2">
                    </div>
                    <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 " align="center">
                        <button type="button" name="remove" id="2" class="btn btn-danger btn_removeeq">X</button>
                    </div>
                </div>
            </template>
        </div>
    </div>


    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">Submit</button>
    </div>

</div>



                    @section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",


            //Part 1
            fromDate: "",
            toDate: "",
            securities: 0,
            heldSharesOfCdsl: 0,
            heldCapitalsOfCdsl: "",
            heldSharesOfNsdl: 0,
            heldCapitalsOfNsdl: "",
            sharesHeldPhysicalForm: 0,
            capitalHeldPhysical: "",
            issuedShares: 0,
            numberTotal: "",
            reasonOfPhysicalShares: "",
            beginningShares: 0,
            reportingWhether: "",
            sharesNumber: 0,
            rightsNumberOfShares: 0,
            rightsNSDL: "",
            rightsCDSL: "",
            bonusShares: 0,
            bonusIntimateToNSDL: "",
            bonusIntimateToCDSL: "",
            privatePlacementShares: 0,
            privatePlacementToNSDL: "",
            privatePlacementToCDSL: "",
            sharesOfESOPs: 0,
            esopIntimatedToNSDL: "",
            esopIntimatedToCDSL: "",
            sharesOfAmalgamation: 0,
            amalgamationNSDL: "",
            amalgamationCDSL: "",
            sharesOfConversion: 0,
            conversionNSDL: "",
            conversionCDSL: "",
            sharesOfBuyBack: 0,
            buyNSDL: "",
            buyCDSL: "",
            sharesOfCapitalReduction: 0,
            reductionNSDL: "",
            reductionCDSL: "",
            sharesOfForfeiture: 0,
            forfeitureNSDL: "",
            forfeitureCDSL: "",
            anyOtherShares: 0,
            specifyNSDL: "",
            specifyCDSL: "",
            totalReportingShares: 0,
            promotersOfDemat: 0,
            promotersOfPhysical: 0,
            promotersOfTotal: 0,
            directorsDemat: 0,
            directorsPhysical: 0,
            directorsTotal: 0,
            kmpsDemat: 0,
            kmpsPhysical: 0,
            kmpsTotal: 0,
            whetherMembers: "",
            updateDate: "",
            confirmedRequests: 0,
            confirmedShare: 0,
            confirmedDelayReasons: "",
            pendingRequests: 0,
            pendingShare: 0,
            pendingDelayReasons: "",
            whetherAppointment: "",
            agencyCompanyName: "",
            otherDetails: "",


            //Part 2
            resolutionNumber: 0,
            resolutionDate: "",
            certifiedName: "",
            profession: "",
            designation: "",
            din: 0,
            professionalName: "",
            professionalAddress: "",
            professionalEmail: "",
            professionalType: "",
            nameOfPcs: "",
            nameOfAssociate: "",
            certificateNumber: 0,
            optionalAttachment: ""

        }



        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            vfFrm = $('#frm').validate({ rules: voFrm, onsubmit: () => { console.log('submit') } })


        })
        let counter = 2;

        $("#attachmentadd").on("click", function () {
            let newRow = $("#optinalContainer").html();
            let newElement = $(newRow);

            newElement.find(".srNo").text(counter + ".");
            newElement.find("input[type='file']").attr("id", "attachmentfile_" + counter);
            newElement.find("button.btn_removeeq").attr("id", counter);

            $("#equity2").append(newElement);
            counter++;
        });


        $(document).on("click", ".btn_removeeq", function () {
            $(this).closest(".row").remove();
        });

        $(document).on("change", "[name='whetherMembers']", function () {
            let checked = $(this).val();

            if (checked == "Yes") {
                $(".datetoUp").hide();

            } else {
                $(".datetoUp").show();
            }
        });

        $(document).on("change", "[name='professionalType']", function () {
            let checked = $(this).val();

            if (checked == "Chartered Accountant (in wholetime practice)") {
                $(".nameofpcs").hide();

            } else {
                $(".nameofpcs").show();
            }
        });

        $(document).on("change", "[name='whetherAppointment']", function () {
            let checked = $(this).val();

            if (checked == "true") {
                $(".agency").show();

            } else {
                $(".agency").hide();
            }
        });

        let totalDemateShare = 0
        let totalPhysicalShare = 0
        let promoterTotalShare = 0
        let directorTotalShare = 0
        let kmpTotalShare = 0
        $(document).on('input', '.HeldNdSl', function () {

            const cdslVal = parseInt($('#dematerializedForm').val()) || 0;
            const nsdlVal = parseInt($('#dematerialized').val()) || 0;
            const physVal = parseInt($('#physicalForm').val()) || 0;
            totalPhysicalShare = physVal || 0
            totalDemateShare = cdslVal + nsdlVal
            const totalShares = cdslVal + nsdlVal + physVal;

            $('#HeldCDSLOf1').val(totalShares);

            if (totalShares > 0) {
                const cdslPct = ((cdslVal / totalShares) * 100).toFixed(2);
                const nsdlPct = ((nsdlVal / totalShares) * 100).toFixed(2);
                const physPct = ((physVal / totalShares) * 100).toFixed(2);

                $('#CDSL').val(cdslPct);
                $('#NSDL').val(nsdlPct);
                $('#physicalHeld').val(physPct);
            } else {
                $('#CDSL').val('');
                $('#NSDL').val('');
                $('#physicalHeld').val('');
            }
        });


        $(document).on("input", ".SharesDetails", function () {
            const beginningShares = parseInt($("input[name='beginningShares']").val()) || 0;
            const rightsNumberOfShares = parseInt($("input[name='rightsNumberOfShares']").val()) || 0;
            const bonusShares = parseInt($("input[name='bonusShares']").val()) || 0;
            const privatePlacementShares = parseInt($("input[name='privatePlacementShares']").val()) || 0;
            const sharesOfESOPs = parseInt($("input[name='sharesOfESOPs']").val()) || 0;
            const sharesOfAmalgamation = parseInt($("input[name='sharesOfAmalgamation']").val()) || 0;
            const sharesOfConversion = parseInt($("input[name='sharesOfConversion']").val()) || 0;
            const sharesOfBuyBack = parseInt($("input[name='sharesOfBuyBack']").val()) || 0;
            const sharesOfCapitalReduction = parseInt($("input[name='sharesOfCapitalReduction']").val()) || 0;
            const sharesOfForfeiture = parseInt($("input[name='sharesOfForfeiture']").val()) || 0;
            const anyOtherShares = parseInt($("input[name='anyOtherShares']").val()) || 0;

            const totalSharesEnd =
                beginningShares +
                rightsNumberOfShares +
                bonusShares +
                privatePlacementShares +
                sharesOfESOPs +
                sharesOfAmalgamation +
                sharesOfConversion +
                sharesOfBuyBack +
                sharesOfCapitalReduction +
                sharesOfForfeiture +
                anyOtherShares;

            $("input[name='totalReportingShares']").val(totalSharesEnd);
        });

        $(document).on("input", ".demate", function () {
            let promotersDemate = parseInt($("#PromotersOfDemat").val()) || 0
            let directorsDemate = parseInt($("#DirectorsDemat").val()) || 0
            let kmpDemate = parseInt($("#kmpsDemat").val()) || 0
            let totalDemate = promotersDemate + directorsDemate + kmpDemate
            updateGroupTotals();
            if (totalDemateShare < totalDemate) {
                alert("The value entered cannot be greater than total dematerialized shares in the said class as provided in field 5d")
                $(this).val("")
            }
        })
        $(document).on("input", ".physicalShare", function () {
            let promotersPhysical = parseInt($("#PromotersOfPhysical").val()) || 0
            let directorsPhysical = parseInt($("#DirectorsPhysical").val()) || 0
            let kmpPhysical = parseInt($("#kmpsPhysical").val()) || 0
            let totalPhysical = promotersPhysical + directorsPhysical + kmpPhysical
            updateGroupTotals();
            if (totalPhysicalShare < totalPhysical) {
                alert("The value entered cannot be greater than total dematerialized shares in the said class as provided in field 5d")
                $(this).val("")
            }
        })

        function updateGroupTotals() {
            // Promoters
            const promDemate = parseInt($("#PromotersOfDemat").val()) || 0;
            const promPhysical = parseInt($("#PromotersOfPhysical").val()) || 0;
            $("#PromotersOfTotal").val(promDemate + promPhysical);

            // Directors
            const dirDemate = parseInt($("#DirectorsDemat").val()) || 0;
            const dirPhysical = parseInt($("#DirectorsPhysical").val()) || 0;
            $("#DirectorsTotal").val(dirDemate + dirPhysical);

            // KMP
            const kmpDemate = parseInt($("#kmpsDemat").val()) || 0;
            const kmpPhysical = parseInt($("#kmpsPhysical").val()) || 0;
            $("#kmpsTotal").val(kmpDemate + kmpPhysical);
        }

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })

        }

        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    totalDemateShare = frm.heldSharesOfNsdl + frm.heldSharesOfCdsl
                            totalPhysicalShare =frm.sharesHeldPhysicalForm
                    console.log(frm)
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("", "Form")/@ViewBag.ctrl`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })
        }

    </script>

                    }