<style>
    .textheader a {
        color: blue;
        text-decoration: none !important;
    }

    .textheader:hover a {
        color: red !important;
        cursor: pointer;
    }

    input {
        box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05) !important;
    }

</style>

<div class="row m-auto" id="frm">
    <div class="card " style="flex-direction:row;">
        <div class=" col-lg-12">
            <div class="card-header ">
                <h3>
                    Form No. SH-11
                </h3>
            </div>
            <div class="card-body" style="padding:0px 25px;">
                <p>
                    Return in respect of buy back of securities
                    [Pursuant to section 68(10) of the Companies Act, 2013 and rule 17(13) of the Companies (Share Capital and Debentures) Rules, 2014]
                </p>
            </div>
            <div class="textheader my-4 mx-3">
                <a href="https://www.mca.gov.in/content/dam/mca-aem-forms/instructionkits/Instruction%20Kit_SH-11.pdf" target="_blank">

                    Refer instruction kit for filing the form
                </a>
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="container-fluid">
            <main role="main" class="pb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between" style="padding: 15px 30px 10px;">
                            <ul class="nav nav-pills nav-fill p-1 bg-transparent" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 active " href="javascript:;" role="part1" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Tab 1
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part2" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Tab 2
                                        </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link mb-0 px-4 py-1 " href="javascript:;" role="part3" data-bs-toggle="tab">
                                        <span class="ms-1">
                                            Dsc details and Attachment
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <div id="part1" class="p-0">
        @*  tab-1 *@
        <div class="card">
            <div class="col-md-12 p-0">
                <div class="card-body">
                    <input type="hidden" class="num" value="0" name="id" />
                    <input type="hidden" class="num" value="0" name="companyId" />
                    <div class="row">

                        <div class="d-flex justify-content-between mx-2 mb-2">
                            <p class="card-title mb-0" style="margin-top:1px; border-bottom:1px solid black;">
                                Company Details
                            </p>
                        </div>

                        <div class="col-md-6 my-2">
                            <label class="form-label">1. (a).*Corporate Identity Number(CIN)</label>
                            <input type="text" placeholder="" class="form-control" value="" name="cin" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6 my-2">
                            <label class="form-label">(b) *Name of the Company</label>
                            <input type="text" placeholder="" class="form-control" value="" name="companyName" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-lg-6 my-2">
                            <label class="form-label">(c) *Registered office address</label>
                            <input type="text" placeholder="SHOP NO 3 VERTEX VIKAS CHS LTD   WING A SIR M V RD BHD POLICE STN ANDHERI, MUMBAI, Mumbai City, Maharashtra, India, 400069" class="form-control" value="" name="addressCompany" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-6 my-2">
                            <label class="form-label">(d) *email id</label>
                            <input type="email" placeholder="akshaygraphics69@gmail.com" class="form-control" value="" name="email" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);" disabled>
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-6 my-2">
                            <label class="form-label">(e) *SRN of form SH-8</label>
                            <input type="text" placeholder="" class="form-control" value="" name="srnOfSh8" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>
                        <div class="col-md-6 my-2">
                            <label class="form-label">(f) *SRN of form SH-9</label>
                            <input type="email" placeholder="" class="form-control" value="" name="srnOfSh9" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>
                        <label style=" text-transform: uppercase; text-decoration:underline; font-weight: bolder; margin: 0px  5px; display: inline-block;" class="AdvertisementInviting mt-2">
                            2. Source of the Buy Back

                        </label>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 100%;">
                                <table border="1" class="table table-bordered table-hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style=" color:black; font-weight:500; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;width: 10%;text-align: center;">Checkbox</th>
                                            <th style=" color:black; font-weight:500;text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Source</th>
                                            <th style="color:black; font-weight:500; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Amount as on &nbsp;&nbsp; <input type="date" name="amountAsOn" id="Amountason" placeholder="" class="form-control datepicker hasDatepicker" value="" required="" style="font-size: 10pt;"></th>
                                            <th style="color:black; font-weight:500; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Amount utilized for buy-back</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="text-align: center;width: 10%">
                                                <input type="checkbox" class="Proposeddate" name="freeReserve" value="Y">
                                            </td>
                                            <td>Free Reserve</td>
                                            <td><input type="text" name="freeReserveAmount" id="FreeReservepama" value="" class="form-control" required="required"></td>
                                            <td><input type="text" name="freeReserveUtilizedAmount" id="FreeReservesuti" value="" class="form-control" required="required" readonly></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;width: 10%">
                                                <input type="checkbox" name="securitiesPremium" class="SecuritiesPremiumAcc" value="Y">
                                            </td>
                                            <td>Securities Premium Account</td>
                                            <td><input type="text" name="securitiesPremiumAmount" id="Securitiespremium" value="" class="form-control" required="required"></td>
                                            <td><input type="text" name="securitiesPremiumUtilizedAmount" id="SecuritiespremiumAccount" value="" class="form-control" required="required" readonly></td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: center;width: 10%">
                                                <input type="checkbox" name="precedingCapital" class="ProceedsCapitalspecified" value="Y">
                                            </td>
                                            <td>Proceeds out of fresh issue of any shares or other specified securities</td>
                                            <td><input type="text" name="proceedsCapitalAmount" id="ProceedsCapitalAmount" value="" class="form-control ProceedsCapitalAmount" required="required"></td>
                                            <td><input type="text" name="proceedsCapitalUtilized" id="ProceedsCapitalutilized" value="" class="form-control ProceedsCapitalutilized" required="required" readonly></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <label style=" text-transform: uppercase; text-decoration:underline; font-weight: bolder; margin: 0px  5px; display: inline-block;" class="AdvertisementInviting mt-2">
                            3. DETAILS OF SECURITIES BOUGHT BACK
                        </label>
                        <label style=" text-transform: uppercase;font-weight: bolder; margin: 0px  5px; display: inline-block;" class="AdvertisementInviting mt-2">
                            Share capital
                        </label>

                        <div class="col-md-12 my-2">
                            <label class="form-label">*Date as on</label>
                            <input type="date" placeholder="" class="form-control" value="" name="capitalShareDate" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                       
                        <label style="text-transform: uppercase; text-decoration: underline; font-weight: bolder; margin: 0px 5px; display: inline-block;" class="AdvertisementInviting mt-2">
                            (a) Equity Share Capital
                        </label>
                        <div class="col-md-12 my-2">
                            <label class="form-label">*Number of classes</label>
                            <input type="number" min="1" class="form-control num" id="equityClasses" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                        </div>
                        <div id="equityCapitalTableContainer"></div>

                       
                        <label style="text-transform: uppercase; text-decoration: underline; font-weight: bolder; margin: 0px 5px; display: inline-block;" class="AdvertisementInviting mt-4">
                            (b) Preference Share Capital
                        </label>
                        <div class="col-md-12 my-2">
                            <label class="form-label">*Number of classes</label>
                            <input type="number" min="1" class="form-control num" id="preferenceClasses" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                        </div>
                        <div id="preferenceCapitalTableContainer"></div>


                        <label style=" text-transform: uppercase; text-decoration:underline; font-weight: bolder; margin: 0px  5px; display: inline-block;" class="AdvertisementInviting mt-2">
                            (c) Others
                        </label>

                        <div class="row mt-2" id="tan_field3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="width: 100%;">
                                <table border="1" class="table table-bordered table-hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style="color:black; font-weight:500; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;width: 30%">Description of share capital &nbsp; &nbsp; <input type="text" name="capitalDescription" id="Descriptionofcapital" class="form-control" style="width:12rem;" value="" required=""></th>
                                            <th style="color:black; font-weight:500; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Authorized capital</th>
                                            <th style=" color:black; font-weight:500;text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Issued capital</th>
                                            <th style=" color:black; font-weight:500;text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Subscribed capital</th>
                                            <th style=" color:black; font-weight:500;text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Paid up capital</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Number of shares pre buy back</td>
                                            <td><input type="number" name="preBuySharesAuth" id="prebuysharesAuth" value="" class="form-control num" required=""></td>
                                            <td><input type="number" name="preBuySharesIssue" id="prebuysharesfIssue" value="" class="form-control num" required=""></td>
                                            <td><input type="number" name="preBuySharesSubs" id="prebuysharesSubs" value="" class="form-control num" required=""></td>
                                            <td><input type="number" name="preBuySharesPaidUp" id="prebuysharesfPaidUp" value="" class="form-control num" required=""></td>
                                        </tr>
                                        <tr>
                                            <td>Nominal amount per share (in INR)</td>
                                            <td><input type="number" name="sharesEqtyAuth" id="sharesEqtyAuth" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="sharesIssue" id="sharesIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="sharesSubs" id="sharesSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="sharesPaidUp" id="sharesPaidUp" value="" class="form-control numbers num" required=""></td>
                                        </tr>
                                        <tr>
                                            <td>Total amount of shares pre buy-back (in INR)</td>
                                            <td><input type="number" name="totalAmountAuth" id="TotalamountAuth" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="totalAmountIssue" id="TotalamountIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="totalAmountSubs" id="TotalamountSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="totalAmountPaidUp" id="TotalamountPaidUp" value="" class="form-control TotalamountPaidUp numbers num" required=""></td>
                                        </tr>
                                        <tr>
                                            <td>Number of shares or other securities bought back</td>
                                            <td><input type="number" name="securitiesAuth" id="securitiesAuth" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="securitiesIssue" id="securitiesIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="securitiesSubs" id="securitiesSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="securitiesPaidUp" id="securi   tiesPaidUp" value="" class="form-control numbers num" required=""></td>
                                        </tr>
                                        <tr>
                                            <td>Buy-back price</td>
                                            <td><input type="number" name="buyBackPriceAuth" id="BuybackpriceAuth" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="buyBackPriceIssue" id="BuybackpriceIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="buyBackPriceSubs" id="BuybackpriceSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="buyBackPricePaidUp" id="BuybackpricePaidUp" value="" class="form-control numbers num" required=""></td>
                                        </tr>
                                        <tr>
                                            <td>Total amount of buy back</td>
                                            <td><input type="number" name="totalAmountOfBuyBackAuth" id="TotalamountofbuybackAuth" value="" class="form-control TotalamountofbuybackAuth numbers num" required=""></td>
                                            <td><input type="number" name="totalAmountOfBuyBackIssue" id="TotalamountofbuybackIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="totalAmountOfBuyBackSubs" id="TotalamountofbuybackSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="totalAmountOfBuyBackPaidUp" id="TotalamountofbuybackPaidUp" value="" class="form-control TotalamountofbuybackPaidUp numbers num" required=""></td>
                                        </tr>
                                        <tr>
                                            <td>Number of shares post buy back</td>
                                            <td><input type="number" name="postBuyBackAuth" id="postbuybackAuth" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="postBuyBackIssue" id="postbuybackIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="postBuyBackSubs" id="postbuybackSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="postBuyBackPaidUp" id="postbuybackPaidUp" value="" class="form-control numbers num" required=""></td>
                                        </tr>


                                        <tr>
                                            <td>Total amount of shares post buy-back (in INR)</td>
                                            <td><input type="number" name="amountSharesAuth" id="amountofsharesAuth" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="amountSharesIssue" id="amountofsharesIssue" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="amountSharesSubs" id="amountofsharesSubs" value="" class="form-control numbers num" required=""></td>
                                            <td><input type="number" name="amountSharesPaidUp" id="amountofsharesPaidUp" value="" class="form-control numbers num" required=""></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 my-2">
                            <label class="form-label">(d) *Unclassified authorised share capital</label>
                            <input type="number" placeholder="" class="form-control num" value="" name="unclassifiedCapital" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>
                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;" class="mt-3">
                            4 Details of 'paid up equity capital,' 'paid up capital' and 'free reserves'
                        </label>
                        <div class="col-md-12 mt-4">
                            <label class="form-label">*Date (as on)</label>
                            <input type="date" placeholder="" class="form-control" value="" name="detailsDate" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label class="form-label">*Total paid up equity share capital</label>
                            <input disabled type="text" placeholder="" class="form-control num" value="" name="equityTotal" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label class="form-label">*Total paid up share capital</label>
                            <input disabled type="number" placeholder="" class="form-control num" value="0" name="capitalPaid" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label class="form-label">*Free reserves</label>
                            <input disabled type="number" placeholder="" class="form-control num" value="" name="freeReservedCapital" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label class="form-label">*Securities premium</label>
                            <input disabled type="number" placeholder="" class="form-control num" value="" name="premiumSecurities" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>

                        <div class="col-md-12 mt-3">
                            <label class="form-label">*Total amount of buy-backl</label>
                            <input disabled type="number" placeholder="" class="form-control num" value="0" name="amountTotal" style="box-shadow: 0 0 11px 1px rgba(0, 0, 0, .05);">
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="part2" class="p-0">
        <div class="card" style="padding:25px;">
            <div class="tab-content">

                <div id="tab2" class="tab-pane animated  custon-tab-syle1 active">
                    <div class="guideLoading guideServiceLoading dvloader" style="display: none;"></div>
                    <form action="" role="form" id="fupForm2" method="post" accept-charset="utf-8" enctype="multipart/form-data">

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                5. (a) *Date of Board of Directors’ resolution authorising buy-back of securities
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="date" name="boardDirectorDate" id="DirectorCapitalNumber" placeholder="" class="datepicker form-control hasDatepicker" value="">
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (b) Service Request Number (SRN) of Form MGT – 14
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="text" name="srnOfMgt14" class="form-control" id="ServiceCapitalNumber" maxlength="10" value="">
                            </div>

                        </div>

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold ">
                                6. (a) Date of completion of last buy-back
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="date" name="completionDate" id="completionCapitalNumber" placeholder="" class="datepicker form-control hasDatepicker" value="">
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (b) *Date of opening of offer
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="date" name="openingOfferDate" id="openingCapitalNumber" placeholder="" class="datepicker form-control hasDatepicker" value="" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (c) *Date of closure of offer
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="date" name="closingOfferDate" id="Dateofclosureoffer" placeholder="" class="datepicker form-control hasDatepicker" value="" required="">
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (d) *Date of completion of buy back
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="date" name="buyBackCompletionDate" id="DateCapitalNumber" placeholder="" class="datepicker form-control hasDatepicker" value="" required="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-5 col-md-5 form-row bold mt-3">
                                (e) *Date of payment of consideration to all sharehoIders from whom securities have been bought back
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="date" name="paymentConsiderationDate" class="datepicker form-control hasDatepicker" id="considerationCapitalNumber" placeholder="dd/mm/yyyy" value="" required="">
                            </div>
                        </div>

                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;" class="mt-3">Debt Equity Ratio</label><br>
                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                7. (a) *Whether government notification for the ratio higher than 2:1 is applicable?
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <label>   <input type="radio" name="ratioApplicable" class="government" value="Y" required="">&nbsp;&nbsp;Yes&nbsp;&nbsp;</label>
                                <label>  <input type="radio" name="ratioApplicable" class="government" value="N" required="">&nbsp;&nbsp;No</label>
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (b) *Debt to capital and free reserves ratio allowed to company
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <label>    <input type="radio" name="freeReserveRatio" class="capital" value="2:1" required="">&nbsp;&nbsp;2:1&nbsp;&nbsp;</label>
                                <label> <input type="radio" name="freeReserveRatio" class="capital" value="6:1" disabled="">&nbsp;&nbsp;6:1</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (c) *Pre buy-back debt to capital and free reserve ratio
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="text" name="preBuyBackDebtAndReserveRatio" class="form-control numbers" id="preBuyBackDebtToCapitalAndFreeReserveRatio" value="" required="" readonly="">
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold mt-3">
                                (d) *Post buy-back debt to capital and free reserve ratio
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="text" name="postBuyBackDebtAndReserveRation" class="form-control numbers" id="DateBeforeAndAfterPost" value="" required="" readonly="">
                            </div>
                        </div>

                        <label style="font-weight:bolder;text-decoration: underline;margin: 0px  5px;text-transform: uppercase;" class="mt-4">8 The shareholding pattern after and before buy-back of securities</label><br>

                        <div class="row" id="tan_field3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-3" style="width: 100%;">
                                <table border="1" class="table table-bordered table-hover" style="width: 100%">
                                    <thead>
                                        <tr>
                                            <th style=" color:black; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;width: 10%;text-align: center;">Sr. No</th>
                                            <th style="color:black; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Category of security holders</th>
                                            <th style="color:black; text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Securities held before buy-back as on &nbsp;&nbsp;<input type="date" name="securitiesHeldBeforeDate" id="Securitiesheldbefore" placeholder="" class=" form-control datepicker hasDatepicker" value="" required="" style="font-size: 10pt;"></th>
                                            <th style="color:black;  text-align: left;vertical-align: middle;background-color: #c8d5e5 !important;">Securities held after buy-back as &nbsp;&nbsp;<input type="date" name="securitiesHeldAfterDate" id="Securitiesheldafter" placeholder="" class="form-control datepicker hasDatepicker" value="" required="" style="font-size: 10pt;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">1</td>
                                            <td>Government (Central and State)</td>
                                            <td><input type="number" name="governmentCentralSecurities" id="GovernmentcentralSecurities" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="numberOfSharesBuyBack" id="Numberofsharesfbuyback" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">2</td>
                                            <td>Government Companies</td>
                                            <td><input type="number" name="securitiesHeldGovernmentCompanies" id="securitiesHeldGovernmentCompanies" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="securitiesBackGovernmentCompanies" id="securitiesbackGovernmentCompanies" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">3</td>
                                            <td>Public financial institutions</td>
                                            <td><input type="number" name="publicFinancialInstitution" id="PublicFinancialInstitution" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="publicFinancialSecurities" id="PublicFinancialSecurities" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">4</td>
                                            <td>Nationalized or other bank(s)</td>
                                            <td><input type="number" name="nationalizedOtherBankSecurities" id="Nationalizedotherbank" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="nationalizedOtherBuyBackSecurities" id="NationalizedotherSecurities" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">5</td>
                                            <td>Mutual Funds</td>
                                            <td><input type="number" name="mutualFundSecurity" id="MutualFundsbackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="mutualFundBuyBackSecurities" id="MutualFundsSecurities" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">6</td>
                                            <td>Venture Capital</td>
                                            <td><input type="number" name="ventureCapitalSecurities" id="VentureCapitalbackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="ventureCapitalBuyBackSecurities" id="VentureCapitalSecurities" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                        <tr>
                                            <td style="width: 10%;text-align: center;">7</td>
                                            <td>Foreign Holdings (Foreign institutional investors, Foreign companies, Non Resident Indians, Foreign financial institutions or Overseas Corporate bodies)</td>
                                            <td><input type="number" name="foreignSecuritiesBefore" id="ForeigHoldingsbackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="foreignSecuritiesAfter" id="ForeigHoldingsbackonsecurities" value="" class="form-control numbers" required=""></td>

                                        </tr>


                                        <tr>
                                            <td style="width: 10%;text-align: center;">8</td>
                                            <td>Bodies Corporate (not mentioned above)</td>
                                            <td><input type="number" name="corporateSecuritiesBefore" id="BodiesCorporatebackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="corporateSecuritiesAfter" id="BodiesCorporatesecurity" value="" class="form-control numbers" required=""></td>
                                        </tr>

                                        <tr>
                                            <td style="width: 10%;text-align: center;">9</td>
                                            <td>Directors or relatives of directors</td>
                                            <td><input type="number" name="directorsBackOn" id="Directorsbackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="directorsBackOnRelatives" id="Directorsbackonrelatives" value="" class="form-control numbers" required=""></td>
                                        </tr>

                                        <tr>
                                            <td style="width: 10%;text-align: center;">10</td>
                                            <td>Other top fifty shareholders (other than mentioned above)</td>
                                            <td><input type="number" name="shareholdersBackOn" id="shareholdersbackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="shareholdersSecuities" id="shareholderssecuities" value="" class="form-control numbers" required=""></td>
                                        </tr>

                                        <tr>
                                            <td style="width: 10%;text-align: center;">11</td>
                                            <td>Others</td>
                                            <td><input type="number" name="othersBackOn" id="Othersbackon" value="" class="form-control numbers"></td>
                                            <td><input type="number" name="othersSecurities" id="Otherssecurities" value="" class="form-control numbers" required=""></td>
                                        </tr>

                                        <tr>
                                            <td style="width: 10%;text-align: center;">12</td>
                                            <td>Total</td>
                                            <td><input type="number" name="totalBackOn" id="Totalbackon" value="" class="form-control numbers" required=""></td>
                                            <td><input type="number" name="totalSecurities" id="Totalsecurities" value="" class="form-control numbers" required=""></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-xs-12 col-sm-3 col-md-3 form-row bold">
                                *Total number of shareholders (for both before and after buy back)
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="text" name="buyBackBackOn" class="form-control numbers" id="buybackbackon" value="">
                            </div>

                            <div class="col-xs-12 col-sm-3 col-md-3 form-row mt-3">
                                <input type="text" name="buyBackSecurities" class="form-control numbers" id="buybacksecurities" required="" value="">
                            </div>
                        </div>


                        <div class="showonincreaseinmember mt-3">
                            <label style="font-weight:bolder;text-decoration: underline;margin: 0px 0px 5px;text-transform: uppercase;">9 Existing capital structure before taking into consideration the changes vide points 4, 6, 7 and 12 above</label>

                            <div style="overflow-x: scroll;">
                                <table border="1" style="border-collapse:collapse;width:100%; table-layout: auto; text-overflow: ellipsis;">
                                    <thead>
                                        <tr style="font-size: 15px;">
                                            <th rowspan="2" style="text-align: center;vertical-align: middle; background-color:#8e949a;">Sr. No</th>
                                            <th rowspan="2" style="text-align: center;vertical-align: middle; background-color:#8e949a;">Name of promoters</th>
                                            <th colspan="3" style="text-align: center;vertical-align: middle; background-color:#8e949a;">Pre buy-back</th>
                                            <th colspan="3" style="text-align: center;vertical-align: middle; background-color:#8e949a;">Post buy-back</th>

                                        </tr>
                                        <tr style="font-size: 15px;">
                                            <th style="text-align: center;vertical-align: middle; background-color:#8e949a;">Equity shares</th>
                                            <th style="text-align: center;vertical-align: middle; background-color:#8e949a;">Preference shares</th>
                                            <th style="text-align: center;vertical-align: middle; background-color:#8e949a; ">Other, If any</th>
                                            <th style="text-align: center;vertical-align: middle; background-color:#8e949a;">Equity shares</th>
                                            <th style="text-align: center;vertical-align: middle; background-color:#8e949a;">Preference shares</th>
                                            <th style="text-align: center;vertical-align: middle; background-color:#8e949a;">Other, If any</th>
                                        </tr>
                                    </thead>

                                    <tbody id="existingcapital" class="existingcapital">
                                        <input type="hidden" name="number_share_7" id="number_share_7" value="1">
                                        <tr id="rowpro1">

                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="text" name="serialNumber" id="serialnumber_1" class="serialnumber" value="1" style="text-align: center;">
                                            </td>

                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="text" name="promotersName" id="promotersname_1" class="1 promotersname" required="">
                                            </td>
                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="number" name="preEquityShares" id="preequityshares_1" class="1 preequityshares num" required="">
                                            </td>
                                            <td style="text-align: center;vertical-align: middle; ">
                                                <input type="number" name="prePrefernceShares" id="preprefernceshares_1" class="1 preprefernceshares num" required="" maxlength="3" oninput="checkMaxLength(this)">
                                            </td>
                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="number" name="preOthersShares" id="preothersshares_1" class="1 preothersshares num" required="" maxlength="3" oninput="checkMaxLength(this)">
                                            </td>
                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="number" name="postEquityShares" id="postequityshares_1" class="1 postequityshares num" required="" maxlength="3" oninput="checkMaxLength(this)">
                                            </td>
                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="number" name="postPrefernceShares" id="postprefernceshares_1" class="1 postprefernceshares num" required="" maxlength="3" oninput="checkMaxLength(this)">
                                            </td>
                                            <td style="text-align: center;vertical-align: middle;">
                                                <input type="number" name="postOthersShares" id="postothersshares_1" class="1 postothersshares num" maxlength="3" oninput="checkMaxLength(this)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><br>
                            <div class="row mt-3">
                                <div class="col-xs-12 col-sm-4 col-md-4" style="">
                                    <button type="button" name="addExisting" id="addexisting" class="btn btn-primary"><i class="fa fa-plus"></i> Add Row</button> &nbsp;
                                    <button type="button" class="btn btn-danger" style="margin-top: 0px;" name="deleteRow"><i class="glyphicon glyphicon-remove"></i> Delete Row</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="part3" class="p-0">
        <div class="card" style="padding:25px !important;">
            <div id="tab3" class="tab-pane animated  custon-tab-style1">
                <div class="guideLoading guideServiceLoading dvloader" style="display: none;"></div>
                <form action="" role="form" id="fupForm3" method="post" accept-charset="utf-8" enctype="multipart/form-data">
                    <label style="font-weight:bolder;text-decoration: underline;margin: 0px -10px 5px;text-transform: uppercase;">Attachments</label><br><br>
                    <div class="row mt-3" style="height: auto;">
                        <div class="col-xs-12 col-sm-5 col-md-5 form-row bold">(a) *Buy-back details</div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                            <input type="file" name="buyBackDetails" id="Photograph" class="1" required="">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2 photographhide" style="display:none;">
                            <a href="https://mcabucket.s3.ap-south-1.amazonaws.com/">                        </a> &nbsp;
                            <button type="button" name="remove" class="btn btn-danger Photograph">X</button>
                        </div>
                    </div>

                    <div class="row mt-3" style="height: auto;">
                        <div class="col-xs-12 col-sm-5 col-md-5 form-row bold">(b) *Copy of the board resolution</div>
                        <div class="col-xs-12 col-sm-3 col-md-3 form-row">
                            <input type="file" name="boardResolutionCopy" id="Certificate" class="1" required="">
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2 certificatehhide" style="display:none;">
                            <a href="https://mcabucket.s3.ap-south-1.amazonaws.com/">                        </a> &nbsp;
                            <button type="button" name="remove" class="btn btn-danger Certificate">X</button>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-xs-12 col-sm-12 col-md-1 bold form-row" align="center">
                            Sr. No
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-10 bold form-row">
                            (c) Optional Attachment(s) - if any
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                            <button type="button" name="attachmentAdd" id="attachmentadd" class="btn btn-primary" style="padding:4px 6px !important;"><i class="fa fa-plus" style="margin:0px 0px 0px 0px !important;"></i></button>
                        </div>
                    </div>
                    <div id="equity" class="mt-3">
                        <input type="hidden" name="l" id="l" value="1">

                        <div class="row" id="roweq1">
                            <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">
                                1.
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-11 form-row">
                                <input type="file" name="optionalAttachment" id="attachmentfile_1" class="1" accept=".jpeg,.jpg">
                            </div>
                        </div>
                    </div>
                    <label style="font-weight:bolder;text-decoration: underline;margin: 0px 5px;text-transform: uppercase;" class="mt-4">Company Declaration</label>

                    <div class="row mt-3" style="height: auto">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="padding: 10px;height: auto;">
                            <p style="text-align: justify;line-height: 2.5em;">
                                I have been authorised by the board of director’s resolution number*
                                <input type="text" name="resolutionNumber" value="" required="" placeholder="Resolution Number">&nbsp; and submit this application dated &nbsp;
                                <input type="date" name="applicationDate" id="applicationdate" placeholder="" class=" hasDatepicker" value="" required="" >&nbsp;to sign and submit this form. All the attachments and the information given in this form are true and correct to the best of my knowledge. Further, on behalf of board of directors, I hereby confirm that full enquiry into the affairs and prospects of the company and have formed the opinion-
                            </p>(i)&nbsp; that immediately following the date on which the general meeting is convened there will be no grounds on which the company could be found unable to pay its debts;&nbsp;<br><br>(ii) &nbsp;as regards its prospects for the year immediately following that date, that, having regard to their intentions with respect to the management of the company's business during that year and to the amount and character of the financial resources which will in their view be available to the company during that year, the company will be able to meet its liabilities as and when they fall due and will not be rendered insolvent within a period of one year from that date;&nbsp;<br><br>(iii) &nbsp; in forming their opinion for the above purposes, the directors have taken into account the liabilities(including prospective and contingent liabilities) as if the company were being wound up under the provisions of the Companies Act, 2013; and&amp;nbThe provisions of Companies Act, 2013 and rules made thereunder relating to buy-back of securities have been complied with in respect of the securities bought back and the details relating to such buy-back is being filed in this form.sp;<br><br>(iv) &nbsp;The provisions of Companies Act, 2013 and rules made thereunder relating to buy-back of securities have been complied with in respect of the securities bought back and the details relating to such buy-back is being filed in this form.
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-xs-12 col-sm-4 col-md-4">
                            <span style="font-weight: bold;">*Designation</span>
                            <div class="input text mt-3">
                                <select name="designation1" id="Designation1" class="form-select" required="">
                                    <option value="">Select</option>
                                    <option value="Director">Director </option>
                                    <option value="Managing Director">Managing Director</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                            <span style="font-weight: bold;">Director's Name</span>
                            <div class="input text" id="change_designation">
                                <input type="text" name="directorName1" id="directorname1" class="form-control directorname1" value="" required="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                            <span style="font-weight: bold;">*DIN of the director</span>
                            <div class="input text">
                                <input type="text" name="din1" class="form-control din1" value="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-xs-12 col-sm-4 col-md-4" style=" ">
                            <span style="font-weight: bold;">*Designation</span>
                            <div class="input text mt-3">
                                <select name="designation2" id="Designation2" class="form-select" required="">
                                    <option value="">Select</option>
                                    <option value="Director">Director </option>
                                    <option value="Managing Director">Managing Director</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                            <span style="font-weight: bold;">Director's Name</span>
                            <div class="input text" id="change_designation2">
                                <input type="text" name="directorName2" id="directorname2" class="form-control directorname2" value="" required="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                            <span style="font-weight: bold;">*DIN of the director</span>
                            <div class="input text">
                                <input type="text" name="din2" class="form-control din2" value="" required="">
                            </div>
                        </div>
                    </div>

                    <label style="font-weight:bolder;text-decoration: underline;margin: 0px -10px 5px;text-transform: uppercase;">Professional Declaration</label>

                    <div class="row mt-3" style="height: auto ;">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="padding: 10px;height: auto;">
                            <p>The provisions of Companies Act, 2013 and rules made thereunder relating to buy-back of securities have been complied with in respect of the securities bought back and the details relating to such buy-back is being filed in this form</p>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-xs-12 col-sm-4 col-md-4" style="">
                            <span style="font-weight: bold;">*Certified by</span>
                            <div lass="input text ">
                                <input type="text" name="certifiedBy" class="form-control" id="Certifiedby" value="Company Secretary in practice" readonly="">
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                            <span style="font-weight: bold;">*Whether associate or fellow:</span>
                            <div class="input text form-row" style="height: auto;">
                                <label><input type="radio" name="associateOrFellow" value="Associate" required="">&nbsp; Associate &nbsp; </label>
                                <label><input type="radio" name="associateOrFellow" value="Fellow" required=""> &nbsp; Fellow</label>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 mt-3">
                            <span style="font-weight: bold;">* Certificate of practice number of the professional</span>
                            <div class="input text">
                                <input type="text" name="membershipNumber" class="form-control" id="Membershipnumber" value="" required="" maxlength="6" >
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3" style="height: auto">
                        <div class="col-xs-12 col-sm-12 col-md-12 form-row" style="padding: 10px;height: auto;">
                            <p style="color: red; font-weight: bold;">*Note: Attention is drawn to provisions of Section 448 and 449 which provide for punishment for false statement / certificate and punishment for false evidence respectively.</p>
                        </div>
                    </div>

                    <template id="rowTemp" class="mt-4">
                        <div class="row mt-3" id="rowq2">
                            <div class="col-xs-12 col-sm-12 col-md-1 form-row" align="center">2.</div>
                            <div class="col-xs-12 col-sm-12 col-md-10 form-row">
                                <input type="file" name="optionalAttachment" id="attachmentfile_12" class="2">
                            </div> <div class="col-xl-1 col-lg-1 col-md-12 col-sm-12 col-12 " align="center">
                                <button type="button" name="remove" id="2" class="btn btn-danger btn_removeeq">X</button>
                            </div>
                        </div>
                    </template>
                </form>
            </div>
        </div>
    </div>

    <div class="col-m-12 mt-3">
        <button class="btn btn-md btn-primary" style="float: right;" onclick="save(event)">
            Submit
        </button>
    </div>

</div>


<script>
    $(document).ready(function () {
        let rowCount = 1;

        $("#addexisting").click(function () {
            rowCount++;
            const newRow = `
            <tr id="rowpro${rowCount}">
                <td><input type="text" name="serialNumber" id="serialnumber_${rowCount}" class="serialnumber" value="${rowCount}" style="text-align: center;"></td>
                <td><input type="text" name="promotersName" id="promotersname_${rowCount}" class="${rowCount} promotersname" required></td>
                <td><input type="number" name="preEquityShares" id="preequityshares_${rowCount}" class="${rowCount} preequityshares num" required></td>
                <td><input type="number" name="prePrefernceShares" id="preprefernceshares_${rowCount}" class="${rowCount} preprefernceshares num" required maxlength="3" oninput="checkMaxLength(this)"></td>
                <td><input type="number" name="preOthersShares" id="preothersshares_${rowCount}" class="${rowCount} preothersshares num" required maxlength="3" oninput="checkMaxLength(this)"></td>
                <td><input type="number" name="postEquityShares" id="postequityshares_${rowCount}" class="${rowCount} postequityshares num" required maxlength="3" oninput="checkMaxLength(this)"></td>
                <td><input type="number" name="postPrefernceShares" id="postprefernceshares_${rowCount}" class="${rowCount} postprefernceshares num" required maxlength="3" oninput="checkMaxLength(this)"></td>
                <td><input type="number" name="postOthersShares" id="postothersshares_${rowCount}" class="${rowCount} postothersshares num" maxlength="3" oninput="checkMaxLength(this)"></td>
            </tr>`;
            $("#existingcapital").append(newRow);
        });

        $("button[name='deleteRow']").click(function () {
            if (rowCount > 1) {
                $("#rowpro" + rowCount).remove();
                rowCount--;
            }
        });
    });
</script>
    
<script>
    $(document).on("input", ".num", function () {
        this.value = this.value.replace(/[^0-9]/g, '');
    });
</script>
<script>
    $(document).ready(function () {
        $('input[name="ratioApplicable"]').on('change', function () {
            const selectedVal = $(this).val();

            if (selectedVal === 'Y') {
              
                $('input[name="freeReserveRatio"][value="2:1"]').prop('disabled', true).prop('checked', false);
                $('input[name="freeReserveRatio"][value="6:1"]').prop('disabled', false);
            } else if (selectedVal === 'N') {
                
                $('input[name="freeReserveRatio"][value="6:1"]').prop('disabled', true).prop('checked', false);
                $('input[name="freeReserveRatio"][value="2:1"]').prop('disabled', false);
            }
        });
    });
</script>

<script>
    function generateCapitalTable(type) {
        const isEquity = type === "equity";
        const idInput = isEquity ? "#equityClasses" : "#preferenceClasses";
        const containerId = isEquity ? "#equityCapitalTableContainer" : "#preferenceCapitalTableContainer";
        const shareType = isEquity ? "Equity" : "Preference";

        $(idInput).on("input", function () {
            const count = parseInt($(this).val()) || 0;
            const container = $(containerId);
            container.empty();

            for (let i = 1; i <= count; i++) {
                container.append('<h6 class="mt-4 mb-2 fw-bold text-primary">Class ' + i + '</h6>');
                container.append(getCapitalTableHTML(shareType));
            }
        });
    }

    function getCapitalTableHTML(shareType) {
        return `
        <div class="row">
            <div class="col-md-12">
                <table border="1" class="table table-bordered table-hover" style="width: 100%;">
                    <thead>
                        <tr style="background-color: #c8d5e5;">
                            <th><input type="text" class="form-control" placeholder="Class of shares"></th>
                            <th>Authorized capital</th>
                            <th>Issued capital</th>
                            <th>Subscribed capital</th>
                            <th>Paid up capital</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>Number of ${shareType} shares pre buy back</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Nominal amount per share (in INR)</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Total amount of ${shareType} shares pre buy-back (in INR)</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Number of shares or other securities bought back</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Buy-back price</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Total amount of buy back</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Number of ${shareType} shares post buy back</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                        <tr><td>Total amount of ${shareType} shares post buy-back (in INR)</td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td><td><input class="form-control"></td></tr>
                    </tbody>
                </table>
            </div>
        </div>`;
    }

    // Initialize both
    $(document).ready(function () {
        generateCapitalTable("equity");
        generateCapitalTable("preference");
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        
        const checkboxes = document.querySelectorAll("table input[type='checkbox']");

        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener("change", function () {
                const row = this.closest("tr");
                const utilizedInput = row.querySelector("td:nth-child(4) input");

               
                if (this.checked) {
                    utilizedInput.removeAttribute("readonly");
                } else {
                    utilizedInput.setAttribute("readonly", "readonly");
                    utilizedInput.value = ""; 
                }
            });
        });
    });
</script>

@section Scripts {
    <script>

        var frm = {
            id: 0,
            companyId: 0,

            cin: "",
            companyName: "",
            companyAddress: "",
            companyEmail: "",

            // part-1

            srnOfSh8: "",
            srnOfSh9: "",
            amountAsOn: "",
            freeReserve: "",
            freeReserveAmount: "",
            freeReserveUtilizedAmount: "",
            securitiesPremium: "",
            securitiesPremiumAmount: "",
            securitiesPremiumUtilizedAmount: "",
            precedingCapital: "",
            proceedsCapitalAmount: "",
            proceedsCapitalUtilized: "",
            capitalShareDate: "",
            equityClasses: 0,
            preferenceClasses: 0,
            capitalDescription: "",
            preBuySharesAuth: 0,
            preBuySharesIssue: 0,
            preBuySharesSubs: 0,
            preBuySharesPaidUp:0,
            sharesEqtyAuth: 0,
            sharesIssue: 0,
            sharesSubs: 0,
            sharesPaidUp: 0,
            totalAmountAuth: 0,
            totalAmountIssue: 0,
            totalAmountSubs: 0,
            totalAmountPaidUp: 0,
            securitiesAuth: 0,
            securitiesIssue: 0,
            securitiesSubs: 0,
            securitiesPaidUp: 0,
            buyBackPriceAuth: 0,
            buyBackPriceIssue: 0,
            buyBackPriceSubs: 0,
            buyBackPricePaidUp: 0,
            totalAmountOfBuyBackAuth: 0,
            totalAmountOfBuyBackIssue: 0,
            totalAmountOfBuyBackSubs: 0,
            totalAmountOfBuyBackPaidUp: 0,
            postBuyBackAuth: 0,
            postBuyBackIssue: 0,
            postBuyBackSubs: 0,
            postBuyBackPaidUp: 0,
            amountSharesAuth: 0,
            amountSharesIssue: 0,
            amountSharesSubs: 0,
            amountSharesPaidUp: 0,
            unclassifiedCapital: 0,
            detailsDate: "",
            equityTotal: 0,
            capitalPaid: 0,
            freeReservedCapital: 0,
            premiumSecurities: 0,
            amountTotal: 0,

            // part-2
            boardDirectorDate: "", // 5. (a) Date of Board of Directors’ resolution
            srnOfMgt14: "", // 5. (b) Service Request Number (SRN) of Form MGT – 14
            completionDate: "", // 6. (a) Date of completion of last buy-back
            openingOfferDate: "", // 6. (b) Date of opening of offer
            closingOfferDate: "", // 6. (c) Date of closure of offer
            buyBackCompletionDate: "", // 6. (d) Date of completion of buy back
            paymentConsiderationDate: "", // 6. (e) Date of payment of consideration
            ratioApplicable: "", // 7. (a) Whether government notification for the ratio higher than 2:1 is applicable?
            freeReserveRatio: "", // 7. (b) Debt to capital and free reserves ratio allowed to company
            preBuyBackDebtAndReserveRatio: "", // 7. (c) Pre buy-back debt to capital and free reserve ratio
            postBuyBackDebtAndReserveRation: "", // 7. (d) Post buy-back debt to capital and free reserve ratio
            securitiesHeldBeforeDate: "", // Date for securities held before buy-back
            securitiesHeldAfterDate: "", // Date for securities held after buy-back
            governmentCentralSecurities: 0, // Government (Central and State) securities before buy-back (class="numbers")
            numberOfSharesBuyBack: 0, // Government (Central and State) securities after buy-back (class="numbers")
            securitiesHeldGovernmentCompanies: 0, // Government Companies securities before buy-back (class="numbers")
            securitiesBackGovernmentCompanies: 0, // Government Companies securities after buy-back (class="numbers")
            publicFinancialInstitution: 0, // Public financial institutions securities before buy-back (class="numbers")
            publicFinancialSecurities: 0, // Public financial institutions securities after buy-back (class="numbers")
            nationalizedOtherBankSecurities: 0, // Nationalized or other bank(s) securities before buy-back (class="numbers")
            nationalizedOtherBuyBackSecurities: 0, // Nationalized or other bank(s) securities after buy-back (class="numbers")
            mutualFundSecurity: 0, // Mutual Funds securities before buy-back (class="numbers")
            mutualFundBuyBackSecurities: 0, // Mutual Funds securities after buy-back (class="numbers")
            ventureCapitalSecurities: 0, // Venture Capital securities before buy-back (class="numbers")
            ventureCapitalBuyBackSecurities: 0, // Venture Capital securities after buy-back (class="numbers")
            foreignSecuritiesBefore: 0, // Foreign Holdings securities before buy-back (class="numbers")
            foreignSecuritiesAfter: 0, // Foreign Holdings securities after buy-back (class="numbers")
            corporateSecuritiesAfter: 0, // Bodies Corporate securities before buy-back (class="numbers")
            corporateSecuritiesBefore:0,
            directorsBackOn: 0, // Directors or relatives of directors securities before buy-back (class="numbers")
            directorsBackOnRelatives: 0, // Directors or relatives of directors securities after buy-back (class="numbers")
            shareholdersBackOn: 0, // Other top fifty shareholders securities before buy-back (class="numbers")
            shareholdersSecuities: 0, // Other top fifty shareholders securities after buy-back (class="numbers")
            othersBackOn: 0, // Others securities before buy-back (class="numbers")
            othersSecurities: 0, // Others securities after buy-back (class="numbers")
            totalBackOn: 0, // Total securities before buy-back (class="numbers")
            totalSecurities: 0, // Total securities after buy-back (class="numbers")
            buyBackBackOn: 0, // Total number of shareholders before buy-back (class="numbers")
            buyBackSecurities: 0, // Total number of shareholders after buy-back (class="numbers")
           

            // part-3

            buyBackDetails: "",
            boardResolutionCopy: "",
            optionalAttachment: "",
            resolutionNumber: "", // No `num` class
            applicationDate: "", // No `num` class
            designation1: "", // No `num` class
            directorName1: "", // No `num` class
            din1: "", // No `num` class
            designation2: "", // No `num` class
            directorName2: "", // No `num` class
            din2: "", // No `num` class
            certifiedBy: "", // No `num` class
            associateOrFellow: "", // No `num` class
            membershipNumber: "", // No `num` class
        }

        let rowCount = 1;
        $('#attachmentadd').click(function () {
            rowCount++;
            const templateContent = $('#rowTemp').html();
            const newRow = $(templateContent.replace(/2/g, rowCount));
            $('#equity').append(newRow);
            $('#l').val(rowCount);
        });

        $('#equity').on('click', '.btn_removeeq', function () {
            $(this).closest('.row').remove();
            rowCount--;
            $('#l').val(rowCount);
        });

        var voFrm = {
            id: 'required',
            companyId: 'required',
        };

        var vfFrm = null;

        $(document).ready(function () {

            $("#part2").hide();
            $("#part3").hide();
            $('a[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                var active = $(e.target).attr('role');
                $("#part1").hide();
                $("#part2").hide();
                $("#part3").hide();
                $("#" + active).show();

            });

            load()
            // vfFrm1 = $('#frm').validate({ rules: voFrm1, onsubmit: () => { console.log('submit') } })
        })

        function save(event) {
            event.preventDefault();

            // let isValid = true;
            // if (!vfFrm1.form()) isValid = false;

            // if (!isValid) return;

            var obj = getObj(frm, '#frm');
            $._post(`@R.ApiUrl/@ViewBag.ctrl`, obj).then(x => {
                console.log(x)
                if (x.status) {
                    window.location = `@Url.Action("SH11", "Form")`
                } else {
                    swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: x.message
                    })
                }
            })
        }
           
        function load() {
            if (@ViewBag.id > 0) {
                $._get(`@R.ApiUrl/@ViewBag.ctrl/${@ViewBag.id}`).then(x => {
                    frm = x
                    setObj(x, "#frm")
                })
            }
            var company = localStorage.getItem("comp_id");
            if (company === null || company === undefined || company === "0") {
                alert("Please select Company")
                window.location = `@Url.Action("SH11", "Form")`
                return;
            }
            $._get(`@R.ApiUrl/Company/${company} `).then(x => {
                $("[name='companyId']").val(x.id);
                $("[name='cin']").val(x.cin);
                $("[name='companyName']").val(x.companyName);
                $("[name='companyAddress']").val(x.address);
                $("[name='companyEmail']").val(x.email);
            })
        }

    </script>

}