@{
    ViewData["Title"] = "Share Certificate";
}

<style>
    .certificate-table,
    .certificate-table td,
    .certificate-table th {
        border: 1px solid black !important;
        border-collapse: collapse !important;
    }

    .certificate-table {
        width: 100%;
    }

    .transfer-table,
    .transfer-table td,
    .transfer-table th {
        border: 1px solid black !important;
        border-collapse: collapse !important;
    }

    .transfer-table {
        width: 100%;
        text-align: center;
    }
</style>

<div class="container mt-3">
    <div class="border p-4">
        <h5 class="text-center">Form No. SH-1</h5>
        <h6 class="text-center">Share Certificate</h6>
        <p class="text-center">
            [Pursuant to sub-section (3) of Section 46 of the Companies Act, 2013 and rule 5(2)]
        </p>

        <p class="text-center fw-bold">CAPTABLE SOLUTIONS PRIVATE LIMITED</p>
        <p class="text-center">
            Registered Office: Shop No 5 Shiv Krupa CHS, Old Nagardas Rd Andheri E, Mumbai, Maharashtra, 400069
        </p>
        <p class="text-center">
            E-Mail Id: compycrafter@gmail.com | Contact No: 8082486663
        </p>

        <p>
            THIS IS TO CERTIFY that the person(s) named in this Certificate is/are the Registered Holder(s)
            of the within-mentioned Share(s) bearing the distinctive number(s) herein specified in the above
            Company subject to the Memorandum and Articles of Association of the Company and that the amount
            endorsed hereon has been paid up on each such Share.
        </p>

        <table class="certificate-table mb-3">
            <tbody>
                <tr>
                    <td><strong>Equity Shares with voting rights each of:</strong></td>
                    <td>Rs. 10 (Ten Rupees)</td>
                </tr>
                <tr>
                    <td><strong>Amount paid-up per share Rupees:</strong></td>
                    <td>Rs. 10 (Ten Rupees)</td>
                </tr>
            </tbody>
        </table>

        <table class="certificate-table mb-3">
            <tbody>
                <tr>
                    <td><strong>Regd. Folio No.:</strong> 01</td>
                    <td><strong>Certificate No.:</strong> 1</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Name of Holder(s):</strong> Mr. Kiran Premchand Shah</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>No. of Share(s) held:</strong> 5,000 (Five thousand)</td>
                </tr>
                <tr>
                    <td colspan="2"><strong>Distinctive Nos.:</strong> From 1 to 5000 (Both inclusive)</td>
                </tr>
            </tbody>
        </table>

        <p class="mt-4">
            Given under the common seal of the Company this 19th day of November, 2024
        </p>

        <div class="row mt-5">
            <div class="col text-start">
                <strong>Kiran Premchand Shah</strong><br />
                Director<br />
                DIN: 07693548
            </div>
            <div class="col text-end">
                <strong>Siddharth Ravi Prakash Singh</strong><br />
                Director<br />
                DIN: 07900169
            </div>
        </div>

        <p class="mt-5"><em>Common Seal</em></p>

        <!-- Memorandum of Transfer -->
        <h6 class="text-center mt-5">MEMORANDUM OF TRANSFER OF SHARE(S) MENTIONED OVERLEAF</h6>
        <table class="transfer-table">
            <thead>
                <tr>
                    <th>DATE</th>
                    <th>TRANSFER NO.</th>
                    <th>REGISTERED FOLIO NO.</th>
                    <th>NAME(S) OF TRANSFEREE(S)</th>
                    <th>AUTHORISED SIGNATORY</th>
                </tr>
            </thead>
            <tbody>
                <tr><td style="height:40px"></td><td></td><td></td><td></td><td></td></tr>
                <tr><td style="height:40px"></td><td></td><td></td><td></td><td></td></tr>
                <tr><td style="height:40px"></td><td></td><td></td><td></td><td></td></tr>
                <tr><td style="height:40px"></td><td></td><td></td><td></td><td></td></tr>
            </tbody>
        </table>
    </div>
</div>
